
div.tags ul  {
    list-style:none outside none;
    overflow:hidden;
    padding-left:8px; }

div.tags li  
{
    float: left;
    background-color: #dddddd;     
    margin:3px 3px 3px 5px;
    padding-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

div.tags li.active
{
	background-color: green; color: white;
}

div.tags li span {
    cursor:pointer;
    padding:0 5px;
}

div.tags input { border: 0; background: #dddddd; }
div.tags input.active { border: 0; background: green; color: white; }
