﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var tagList = new List<string>();
     var ourNews = Model.AncestorOrSelf(1).Descendants("NewsArea");
    if (ourNews.Any())
    {
        var tags = ourNews.First().Children.
                GroupBy(x => x.GetPropertyValue("tags"));
        
        foreach(var group in tags)
        {
            foreach (var t in group.Key.ToString().Split(','))
            {
                if(!String.IsNullOrEmpty(t)) { <a href="#">@t</a>}
            }
        }
    }
} 
