﻿@using umbraco.MacroEngines
@using umbraco.presentation.nodeFactory
@using Wulvern.Web.ExtensionMethods
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


    @{
        <div class="slides desktop tablet">
            @{
                var banners = Model.Content.GetMntpNodes("banners");
                foreach (var x in banners)
                {       
                <div class="slide">
                    @if (x.HasValue("image"))
                    {
                        var image = x.GetPropertyValue("image");
                        <div class="slideBgImage">
                            <img src="@Umbraco.TypedMedia(image).Url" width="100%" height="100%" alt="Title here"/>
                        </div>
                    }
                    <div class="slideContent">
                        @Html.Raw(x.GetPropertyValue("bannerText"))
                        @{
                            var linkedPage = Umbraco.TypedContent(x.GetPropertyValue("link"));
                        }
                        <p>
                            <a href="@linkedPage.Url" class="slideButton">Read more &#8250;</a>
                        </p>
                    </div>
                </div>        
                }
            }
        </div>
    }
    <div class="slidePaging desktop tablet">
        <span class="slide-previous" id="dslide-previous">Previous</span>
        <div class="slidepager" id="dslidepager"></div>
        <span class="slide-next" id="dslide-next">Next</span>
    </div>

    @{
        <div class="mslides mobile">
            @{
                foreach (var x in banners)
                {       
                <div class="slide">
                    @if (x.HasValue("mobileImage"))
                    {
                        var image = x.GetPropertyValue("mobileImage");
                        <div class="slideBgImage">
                            <img src="@Umbraco.TypedMedia(image).Url" width="100%" height="100%" alt="Title here"/>
                        </div>
                    }
                    <div class="slideContent">
                        <h2>@Html.Raw(x.GetPropertyValue("mobileText"))</h2>
                        @{
                            var linkedPage = Umbraco.TypedContent(x.GetPropertyValue("link"));
                        }
                        <p>
                            <a href="@linkedPage.Url" class="slideButton">Read more &#8250;</a>
                        </p>
                    </div>
                </div>        
                }
            }
        </div>
    }
    <div class="slidePaging mobile">
        <span class="slide-previous" id="mslide-previous">Previous</span>
        <div class="slidepager" id="mslidepager"></div>
        <span class="slide-next" id="mslide-next">Next</span>
    </div>

@*
  <div class="slides">
    <div class="slide">
      <div class="slideBgImage"> <img src="/images/banners/Wulvern-banner-2.jpg" width="100%" height="100%" alt="Title here" class="desktop"/> <img src="/images/placeholders/slide_mobile.jpg" width="100%" height="100%" alt="Title here" class="mobile"/> </div>
      <div class="slideContent">
        <h2>We are...</h2>
        <p>Wulvern, an award winning housing association,<br />
          providing affordable homes and services to<br />
          customers across Cheshire and Staffordshire.<br />
          <br />
          <a href="/about-us.aspx" class="slideButton">Read more &#8250;</a></p>
      </div>
    </div>
    <div class="slide">
      <div class="slideBgImage"> <img src="/images/banners/Adaptations-banner-2.jpg" width="100%" height="100%" alt="Title here" class="desktop"/> <img src="/images/placeholders/slide_mobile.jpg" width="100%" height="100%" alt="Title here" class="mobile"/> </div>
      <div class="slideContent">
        <h2>Aids &<br />
          adaptions</h2>
        <p>If you want to stay in your home but are finding it<br />
          increasingly difficult to get around, we can help.<br />
          <br />
          <a href="/our-services/aids-adaptions.aspx" class="slideButton">Read more &#8250;</a></p>
      </div>
    </div>
    <div class="slide">
      <div class="slideBgImage"> <img src="/images/banners/Our-homes-banner-2.jpg" width="100%" height="100%" alt="Title here" class="desktop"/> <img src="/images/placeholders/slide_mobile.jpg" width="100%" height="100%" alt="Title here" class="mobile"/> </div>
      <div class="slideContent">
        <h2>Our homes</h2>
        <p>Wulvern manages over 5300 affordable homes<br />
          across Cheshire and into Staffordshire and has<br />
          exciting plans to build 1000 new homes over<br />
          the next four years.<br />
          <br />
          <a href="/our-homes.aspx" class="slideButton">Read more &#8250;</a></p>
      </div>
    </div>
    <div class="slide">
      <div class="slideBgImage"> <img src="/images/banners/Supported-Living-banner-2.jpg" width="100%" height="100%" alt="Title here" class="desktop"/> <img src="/images/placeholders/slide_mobile.jpg" width="100%" height="100%" alt="Title here" class="mobile"/> </div>
      <div class="slideContent">
        <h2>Supported<br />
          living</h2>
        <p>We provide a range of support services to help<br />
          you remain safe and independent at home<br />
          <br />
          <a href="/our-services.aspx" class="slideButton">Read more &#8250;</a></p>
      </div>
    </div>
  </div>
  <div class="slidePaging"><span class="slide-previous">Previous</span>
    <div class="slidepager"></div>
    <span class="slide-next">Next</span></div>
</div>



<div class="slides">
    <div class="slide" >
      <div class="slideBgImage"><img src="~/images/placeholders/slide.jpg" alt="Title here"/></div>
      <div class="slideContent">
        <h2>Independent Living</h2>
        <p>At Wulvern we understand the importance of maximising your independence to ensure that you enjoy your retirement your way</p>
        <p>For more options to buy or rent <a href="#" class="slideButton">Show me &#8250;</a></p>
      </div>
    </div>
    <div class="slide">
      <div class="slideBgImage"><img src="~/images/placeholders/slide.jpg" alt="Title here"/></div>
      <div class="slideContent">
          <h2>Independent Living</h2>
        <p>At Wulvern we understand the importance of maximising your independence to ensure that you enjoy your retirement your way</p>
        <p>For more options to buy or rent <a href="#" class="slideButton">Show me &#8250;</a></p>
      </div>
    </div>
  </div>
  <div class="slidePaging"><span class="slide-previous">Previous</span>
    <div class="slidepager"></div>
    <span class="slide-next">Next</span></div>
*@