﻿<div class="commontButtons buttonsBottom wrapernopad clearfix"> <a href="/customer-area/your-rent.aspx" class="wRedBg payButton">Pay <br>
  your rent</a>
  <div class="buttonAngle buttonAngleRG  tablet hiddenMobile "></div>
  <a href="/customer-area/your-repairs-improvements.aspx" class="wGreenBg reportButton">Report <br>
  a repair</a>
  <div class="buttonAngle buttonAngleGM  tablet hiddenMobile"></div>
  <a href="/our-homes.aspx" class="wMagentaBg homesButton">View<br>
  our homes</a>
  <div class="buttonAngle buttonAngleMO  tablet hiddenMobile"></div>
  <a href="/customer-area/your-say.aspx" class="wOrangeBg involvedButton">Get<br>
  involved</a>
  <div class="buttonAngle buttonAngleOP  tablet hiddenMobile"></div>
  <a href="/customer-area/my-account.aspx" class="wPurpleBg accountButton">Your <br>
  account</a> </div>

