﻿@using umbraco.MacroEngines
@using umbraco.presentation.nodeFactory
@using Wulvern.Web.ExtensionMethods
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var banners = Model.Content.GetMntpNodes("banners").Where(x => x.GetPropertyValue<string>("category") == "Homepage");
    foreach (var x in banners)
    {       
        <div class="slides">
            @if (x.HasValue("image"))
            {
                var image = x.GetPropertyValue("image");
                <div class="slide" style="background:url(@Umbraco.TypedMedia(image).Url) no-repeat;"></div>
            }
        </div>      
    }
}


