﻿﻿@inherits umbraco.MacroEngines.DynamicNodeContext
@using Umbraco.Forms.Core
@using Umbraco.Forms.Data.Storage

<h3>Contour Poll Results</h3>

@{
    FormStorage fs = new FormStorage();

    Form f = fs.GetForm(new Guid("f6b912c0-7921-42d7-bda0-7be025f72d45"));
    fs.Dispose();

    RecordStorage r = new RecordStorage();
    var records = r.GetAllRecords(new Guid("f6b912c0-7921-42d7-bda0-7be025f72d45"));
    r.Dispose();
}

@foreach (Field fld in f.AllFields)
{

    if (fld.FieldType.SupportsPrevalues 
        && fld.PreValueSource.Type.GetPreValues(fld).Count > 0)
    {
<h3>@fld.Caption</h3>
<ul>
        @foreach (PreValue pv in fld.PreValueSource.Type.GetPreValues(fld))
        {
            var count = records.Where(rec => rec.RecordFields.FirstOrDefault().Value.ValuesAsString() == pv.Value).Count();



<li>@pv.Value - @count</li>
        }
</ul>
    }
}