﻿@using Wulvern.Infrastructure.Models
@model CVUploadModel

@using (Html.BeginUmbracoForm("SubmitCV", "CVUploadSurface", FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken() 
    @* This AntiForgeryTokey is used for prevent CSRF Attack*@
  
        if (ViewBag.Message != null)
        {
            <span style="color:green">
                @ViewBag.Message
            </span>
        }
      <div class="col">
            @Html.LabelFor(model => model.FirstName)
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)

            @Html.LabelFor(model => model.Surname)
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)

            <label for="cvFile">Upload your CV*</label>
            <input type="file" name="cvFile" id="cvFile" />
            @Html.ValidationMessage("CustomError")

             <label for="clfile">Upload your Covering Letter*</label>
             <input type="file" name="clFile" id="clfile" />
             @Html.ValidationMessage("CustomError")

            <p>* Required information</p>
     </div>
     <div class="col">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)

            @Html.LabelFor(model => model.Telephone)
            @Html.EditorFor(model => model.Telephone)
            @Html.ValidationMessageFor(model => model.Telephone)
            <p>
                <input name="jobid" type="hidden" id="jobid" value="#jobid#">
                <input type="submit" name="submit2" id="submit2" value="Send &#8250;" class="sendButton pullRight">
            </p>
    </div>
}