﻿@using umbraco.MacroEngines
@using umbraco.presentation.nodeFactory
@using Wulvern.Web.ExtensionMethods
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // Will eventually get the Settings node id by a text search or doc type search
    var settingsNode = 1062;
    var subCount = 0;
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent content = umbracoHelper.TypedContent(settingsNode);
    
     foreach (var x in content.GetMntpNodes("mainNavigation"))
    {     
        <ul class="desktop">  
            <li><a href="@x.Url()">@x.Name</a>
                @if (@x.DocumentTypeAlias != "Homepage" && @x.DocumentTypeAlias != "NewsArea" && x.Name != "Downloads")
                {
                    subCount = 0;
                    <div class="subNavContainer">
                        <div class="subNav">
                            <div class="sbNav">
                                <div>
                                    @foreach (var subpage in @x.Children.Where("Visible"))
                                    {
                                        if (subCount == 0) {@Html.Raw("<ul>")}
                                            <li><a href="@subpage.Url">&#8250; @subpage.Name</a></li>
                                            subCount++;
                                        if (subCount == 5) 
                                        { 
                                            @Html.Raw("</ul>")
                                             subCount = 0; 
                                        }
                                    }
                                    </div>
                                <div class="subNavText">Can’t find what you’re looking for? Call us on <a href="tel:01270506200">01270 506200</a> or <a href="mailto:enquiries@wulvernhousing.org.uk">email us</a></div>
                            </div>
                            @if (x.HasValue("dropdownImage") && x.GetProperty("dropdownImage") != null)
                            {
                                var image = x.GetPropertyValue("dropdownImage");
                                <div class="subNavImage">
                                    <img src="@Umbraco.TypedMedia(image).Url" width="330" height="235"/>
                                </div>
                            }
                        </div>
                    </div>
                }
            </li>
        </ul>
    }
}

@*<nav class="wBlueBg shadow clearfix">
    <ul class="desktop">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Customer Area</a>
        <div class="subNavContainer">
          <div class="subNav">
          	<div class="sbNav">
            <div>Find everything you need as a Wulvern customer</div>
            <ul>
              <li><a href="#">&#8250; Your rent</a></li>
              <li><a href="#">&#8250; Repairs & alterations</a></li>
              <li><a href="#">&#8250; Your account</a></li>
              <li><a href="#">&#8250; Your safety</a></li>
              <li><a href="#">&#8250; Your money</a></li>
            </ul>
            <ul>
              <li><a href="#">&#8250; Your say</a></li>
              <li><a href="#">&#8250; Our promises to you</a></li>
              <li><a href="#">&#8250; What&#8217;s on</a></li>
              <li><a href="#">&#8250; Your magazines and info leaflets</a></li>
            </ul>
            <div class="subNavText">Can’t find what you’re looking for? Call us on <a href="tel:01270506200">01270 506200</a> or email us</div>
            </div>
            <div class="subNavImage"></div>
          </div>
        </div>
      </li>
      <li><a href="#">Our Homes</a></li>
      <li><a href="#">Our Services</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Downloads</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>*@



@*<ul class="desktop">
    <li><a href="#">Home</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Customer Area</a>
    <div class="subNavContainer">
        <div class="subNav">
        <div>Find everything you need as a Wulvern customer</div>
        <ul>
            <li><a href="#">&#8250; Your rent</a></li>
            <li><a href="#">&#8250; Repairs & alterations</a></li>
            <li><a href="#">&#8250; Your account</a></li>
            <li><a href="#">&#8250; Your safety</a></li>
            <li><a href="#">&#8250; Your money</a></li>
        </ul>
        <ul>
            <li><a href="#">&#8250; Your say</a></li>
            <li><a href="#">&#8250; Our promises to you</a></li>
            <li><a href="#">&#8250; What&#8217;s on</a></li>
            <li><a href="#">&#8250; Your magazines and info leaflets</a></li>
        </ul>
        <div>Can’t find what you’re looking for? Call us on 01270 506200 or email us</div>
        <div class="subNavImage"></div>
        </div>
    </div>
    </li>
    <li><a href="#">Our Homes</a></li>
    <li><a href="#">Our Services</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Downloads</a></li>
    <li><a href="#">Jobs</a></li>
    <li><a href="#">Contact</a></li>
</ul>*@