﻿@using Wulvern.Web.Helpers;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var category = Request.QueryString["cat"];
    var media = Umbraco.TypedMedia(1133);
    var publicationNodes = media.Children;
    {
        if (publicationNodes.Any())
        {
            IComparer<IPublishedContent> comparer = new DownloadOrderingClass();
            List<IPublishedContent> downloads = publicationNodes.Where(x => x.GetPropertyValue<bool>("displayWebsite") == true && x.GetPropertyValue<string>("category") == category || category == null).ToList();

            downloads.Sort(comparer);

            foreach (var publishedContent in downloads)
            {
                if (publishedContent.GetPropertyValue<bool>("displayWebsite") == true)
                {
                    <div class="row clearfix">
                        @if (publishedContent.HasValue("image"))
                        {
                            var image = publishedContent.GetPropertyValue("image");
                            <div class="image">
                                <a href="@publishedContent.Url()">
                                    <img src="@Umbraco.TypedMedia(image).Url" />
                                </a>
                            </div>
                            <div class="rowContent">
                                @{
                        
                            if (@publishedContent.HasProperty("uploadDate") && publishedContent.GetProperty("uploadDate").ToString() != null)
                            {
                                var blah = publishedContent.GetPropertyValue("uploadDate");
                                DateTime newsDate = System.Xml.XmlConvert.ToDateTime(publishedContent.GetPropertyValue("uploadDate").ToString());
                                    <div class="date">@DateHelper.getDateEventShort(newsDate)</div>
                            }
            
                                }
                                <h3>@publishedContent.GetPropertyValue("title")</h3>
                                <div class="description">
                                    @publishedContent.GetPropertyValue("description")
                                    <p><a target="_blank" href="@publishedContent.Url()">(Download PDF)</a></p>
                                </div>
                            </div>
                        }
                    </div>  
			
                }
            }
        }
    }
}
