﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    
  var media = Umbraco.TypedMedia(1133);
  var publicationNodes = media.Children;
    
    if (publicationNodes.Any())
    {
        var categories = publicationNodes.
            GroupBy(x => x.GetPropertyValue("category"));
        <ul>
        <li class="sideNavTitle">Download categories</li>
        <li><a href="~/downloads">All (@publicationNodes.Count())</a></li>
        @foreach (var cats in categories.OrderBy(x => x.Key))
        {
			if (!String.IsNullOrEmpty(@cats.Key.ToString()))
			{
         	   <li><a href="~/downloads?cat=@Html.Encode(@cats.Key)">@cats.Key (@cats.Count())</a></li>
			}
        }
    </ul>
    }
} 