﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    
    var media = Umbraco.TypedMedia(1133);
    var publicationNodes = media.Children;
    var category = Request.QueryString["cat"];
    
    if (publicationNodes.Any())
    {
        var categories = publicationNodes.
            GroupBy(x => x.GetPropertyValue("category"));
        
        <form method="get" action="~/downloads">
            <select class="catSelect" name="cat" id="cat" onchange="this.form.submit()">
                <option value="">All (@publicationNodes.Count())</option>
                @foreach (var cats in categories.OrderBy(x => x.Key))
                {
                    if (!String.IsNullOrEmpty(@cats.Key.ToString()))
                    {
                        var vVar = "";
                        if (category != null && category == cats.Key.ToString())
                        {
                            vVar = "selected=\"selected\"";
                        }
                        
                        
                    <option @vVar value="@Html.Encode(@cats.Key)">@cats.Key (@cats.Count())</option>
                    }
                }
            </select>
        </form>
    }
    
    
        
}