﻿@using umbraco.MacroEngines
@using umbraco.presentation.nodeFactory
@using Umbraco.Core.Dynamics;
@using Umbraco.Core.Models;
@using Umbraco.Core.Models;
@using Umbraco.Web;

@using Wulvern.Web.ExtensionMethods
@using Wulvern.Web.Helpers;

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var currentPageDownloadsIds = CurrentPage.GetDownloadNodes("downloads");

    IComparer<IPublishedContent> comparer = new DownloadOrderingClass();
    List<IPublishedContent> currentPageDownloads = new List<IPublishedContent>();

    foreach (string x in currentPageDownloadsIds)
    {
        var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
        var content = umbracoHelper.TypedMedia(int.Parse(x));
        currentPageDownloads.Add(content);
    }

    currentPageDownloads.Sort(comparer);

    foreach (var download in currentPageDownloads)
    {
        try
        {
            <div class="row clearfix">
                <div class="image">
                    @{
                    var image = download.GetPropertyValue("image");
                        <a target="_blank" href="@download.Url()"><img src="@Umbraco.TypedMedia(image).Url" /></a>
                    }
                </div>
                <div class="rowContent">
                    @if (download.HasProperty("uploadDate") && download.GetProperty("uploadDate").ToString() != null)
                    {
                        DateTime downloadDate = System.Xml.XmlConvert.ToDateTime(download.GetPropertyValue("uploadDate").ToString());
                        <div class="date">@DateHelper.getDateEventShort(downloadDate)</div>
                    }

                    <h3><a target="_blank" href="@download.Url()">@download.GetPropertyValue("title")</a></h3>
                    <div class="description">
                        @download.GetPropertyValue("description")
                        <p><a target="_blank" href="@download.Url()">(Download PDF)</a></p>
                    </div>
                </div>
            </div>
        }
        catch (Exception e) { }
    }
}