﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var root = Model;
 }
<ul class="secondaryNav">
       @if (root.Content.DocumentTypeAlias != "Homepage" && root.Content.Children.Where("Visible").Count() > 0)
       {
          <div style="background-color: black">
              <ul class="secondaryNav">
                 @foreach (var subpage in Model.Content.Children.Where("Visible"))
                 {
                    <li><a href="@subpage.Url">@subpage.Name</a></li>
                 }
              </ul>
         </div>
       }
</ul>