﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var eventsNodes = Model.AncestorOrSelf(1).Descendants("EventsArea");
    if (eventsNodes.Any())
    {    
        <h3>Our events</h3>
        foreach (var publishedContent in eventsNodes.First().Children.
            Where(x => x.GetPropertyValue<bool>("displayWebsite") == true).Take(3))
        {
            <div class="feedItem">  
                @if (publishedContent.HasValue("image"))
                {
                    var image = publishedContent.GetPropertyValue("image");
                    <div class="image">  
                        <img src="@Umbraco.TypedMedia(image).Url" height="100" width="75" />
                    </div>
                }
                <div class="text">
                    @publishedContent.GetPropertyValue("title")<br />
                    <span class="small">@publishedContent.CreateDate.ToString("D")</span><br />
                    @publishedContent.GetPropertyValue("description")<br />
                    <div class="arrow-right"></div>
                </div>
            </div>
        }
    }
}