﻿@using umbraco.MacroEngines
@using umbraco.presentation.nodeFactory
@using Wulvern.Web.ExtensionMethods
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // Will eventually get the Settings node id by a text search or doc type search
    var settingsNode = 1062;
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent content = umbracoHelper.TypedContent(settingsNode);  
}

<footer class="cleafix">
  <div class="wBlueBg">
    <div class="footerLogo wraper clearfix">
      <div class="headOffice">
        <div class="ho">
          @Html.Raw(content.GetPropertyValue("footerAddress"))
        </div>
        <div class="opening">
          @Html.Raw(content.GetPropertyValue("openingHours"))
        </div>
      </div>
      <div class="quicklinks">
        <h4 style="margin-bottom: -0px;">Quick Links</h4>
        <ul>
          <li><a href="/">&#8250; Home</a></li>
          <li><a href="/customer-area.aspx">&#8250; Customer area</a></li>
          <li><a href="/our-services.aspx">&#8250; Our services</a></li>
          <li><a href="/downloads.aspx">&#8250; Publications</a></li>
          <li><a href="/contact-us.aspx">&#8250; Contact</a></li>
        </ul>
        <ul>
          <li><a href="/about-us.aspx">&#8250; About us</a></li>
          <li><a href="/our-homes.aspx">&#8250; Our homes</a></li>
          <li><a href="/our-news.aspx">&#8250; News</a></li>
          <li><a href="/jobs.aspx">&#8250; Jobs</a></li>
        </ul>
      </div>
      <div class="signup">
        <h4  >Newsletter</h4>
        <p class="signupIntro">Get email updates from Wulvern</p>
           @using(Html.BeginForm("Subscribe", "NewsletterSubscriptionSurface"))
            {
                <p>
                    <label for="textfield">Your email address</label>
                    <input type="text" name="signup" id="signupfield">
                </p>
                <input name="submit" type="submit" class="smallButton pullRight" value="Send &#8250;">
            }
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
  
  <!-- AWARDS -->
  <div class="awards ltGreyBg">
    <div class="wraper clearfix"> <img src="~/images/awards/100.png"  alt="100 best not for profit organisation to work for"/> <img src="~/images/awards/best.png" alt="best company"/> <img src="~/images/awards/investor-excellence.png"  alt="investor in excellence"/> <img src="~/images/awards/investors_people.png" alt="investors in people"/> <img src="~/images/awards/stonewall.png" alt="Stonewall diversity champion"/> </div>
  </div>
  <!-- END AWARDS -->
  
  <div class="wraper">
    <div class="footerNav">
      <p><a href="/sitemap">Site Map</a> <a href="/privacy-policy">Privacy Policy</a> <a href="/cookie-policy">Cookie Policy</a> <a href="/accessibility">Accessibility</a></p>
      <p class="browsealoud"><a href="http://www.browsealoud.com/page.asp?pg_id=80002"><img src="~/images/browsealoud.gif" width="193" height="28" alt=""/></a></p>
    </div>
    <div class="copyright">
      <p>© Wulvern Housing 2014. All rights reserved. </p>
      <p>Other language versions <a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=pl"><img src="~/images/flags/poland.png" width="30" height="21" alt=""/></a><a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=sk"><img src="~/images/flags/slovakian.png" width="30" height="21" alt=""/></a><a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=pt"><img src="~/images/flags/portugese.png" width="30" height="21" alt=""/></a><a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=sq"><img src="~/images/flags/albanian.png" width="30" height="21" alt=""/></a><a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=tr"><img src="~/images/flags/turkish.png" width="30" height="21" alt=""/></a></p>
      <p>Site by <a href="http://www.wearevibe.co.uk" target="_blank">Vibe</a></p>
    </div>
  </div>
</footer>