﻿<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-translate-customization" content="89195447e3c87e0d-5206e98f18f76fc8-ge221369e5cab3244-1a">
<link rel="stylesheet" href="~/css/normalize.min.css">
<link rel="stylesheet" href="~/css/jquery-ui.min.css">
<link rel="stylesheet" href="~/css/main.css">
<link rel="stylesheet" href="~/css/mobile-nav.css">
<link rel="stylesheet" href="~/css/jquery.infieldLabel.css" >
<link rel="icon" href="~/favicon.ico" type="image/x-icon" />
<script src="~/js/vendor/modernizr-2.6.2.min.js"></script>
<script type='text/javascript'>
(function (d, t) {
  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
  bh.type = 'text/javascript';
  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=q4gpczfcgo99nyucmwvqda';
  s.parentNode.insertBefore(bh, s);
  })(document, 'script');
</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-12193826-1', 'auto');
    ga('send', 'pageview');

</script>