﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<header>
<a href="/">
      <img src="~/Images/wulvern_logo.gif" class="wulvernLogo desktop" />                         
      <img src="~/Images/wulvern_mobile.png" class="wulvernMobileLogo mobile"/>
</a>
    
      <div class="mobileicons mobile"> <a href="tel:01270506200"><img src="~/Images/buttons/icons/mobile_phone.png" width="35" height="28" alt=""></a> <a href="mailto:info@wulvern.org.uk"><img src="~/Images/buttons/icons/mobile_email.png" width="40" height="28" alt=""></a> <a href="/search"><img src="~/Images/buttons/icons/mobile_search.png" width="34" height="28" alt="" id="mobileSeatchToggle"></a></div>

    <div class="headRight">
<p class="fadeOut"><a target="_blank" href="https://externalcontractors.wulvern.org.uk/i-Housing/default.aspx">Login to My Account</a><br />
      Call us: <a href="tel:01270506200">01270 506200</a>&nbsp;&nbsp;&nbsp;&nbsp;Email us: <a href="mailto:info@wulvern.org.uk">info@wulvern.org.uk</a></p>
      
      <!-- SITE SEARCH FORM -->
      <div class="searchAreaContainer clearfix">
        <form id="searchForm" name="searchForm" method="get" defaultbutton="searchButton" action="/search-results/">
          <div class="searchArea">
            <input type="submit" name="submit" id="submit" value="Search" class="searchButton">
            <div  class="searchFieldContainer fadeOut"><span class="infield-label">
              <label for="search" class="searchLabel">Search the site</label>
              <input type="text" name="search" id="search" class="searchField">
            </span></div>
          </div>
          <a href="tel:01270506200" class="telIcon"><img src="~/images/tel-icon.gif" class="fadeIn"></a><span class="telText hide">Call us on <a href="tel:01270506200">01270 506200</a></span> <a href="mailto:info@wulvern.org.uk" class="emailIcon"><img src="~/images/email-icon.gif" class="fadeIn"></a> <span class="emailText hide">Email us on <a href="mailto:info@wulvern.org.uk">info@wulvern.org.uk</a></span>
        </form>
      </div>
      <!-- END SITE SEARCH FORM --> 
      
    </div>
    
    <!-- Mobile Nav -->
    <div id="dl-menu" class="dl-menuwrapper mobile">
        @Html.Partial("MobileNavigation")
    </div>
    <!-- End mobile nav --> 
    
  </header>