﻿<div class="homeButtons wrapernopad clearfix"> 
    <a href="/customer-area/your-rent.aspx" class="wRedBg payButton">Pay <br>
  your rent</a>
  <div class="buttonAngle buttonAngleRG desktop tablet"></div>
  <a href="/customer-area/your-repairs-improvements.aspx" class="wGreenBg reportButton">Report <br>
  a repair</a>
  <div class="buttonAngle buttonAngleGM desktop tablet"></div>
  <a href="/our-homes.aspx" class="wMagentaBg homesButton">View<br>
  our homes</a>
  <div class="buttonAngle buttonAngleMO desktop tablet"></div>
  <a href="/customer-area/your-say.aspx" class="wOrangeBg involvedButton">Get<br>
  involved</a>
  <div class="buttonAngle buttonAngleOP desktop tablet"></div>
  <a href="~/customer-area/my-account" class="wPurpleBg accountButton">My <br>
  account</a> 
</div>