﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var iterations = 0;

    var homes = Model.AncestorOrSelf(1).Descendants("OurHomesArea");
    if (homes.Any())
    {    
        foreach (var publishedContent in homes.First().Children)
        {
            if (iterations == 0 || iterations % 2 == 0)
            {
               @:<div class="clearfix">
            }
                <div class="threeCol boxborder @(iterations % 2 != 0 ? "pullRight" : String.Empty)"  >
                    <div class="colImage">  
                        @if (publishedContent.HasValue("image"))
                        {
                            var image = publishedContent.GetPropertyValue("image");  
                            <img src="@Umbraco.TypedMedia(image).Url" />
                        }
                    </div>
                    <div class="boxHeading">
                        <h3>@publishedContent.GetPropertyValue("nameOfDevelopment")</h3>
                        <div class="date">@publishedContent.GetPropertyValue("subtitle")</div>
                    </div>
                    <div class="boxDetail">
                        @Html.Raw(@publishedContent.GetPropertyValue("description"))
                    </div>  
					<div class="call">Call @publishedContent.GetPropertyValue("telephone") or <a href="mailto:@publishedContent.GetPropertyValue("emailAddress")">email us</a> </div>
                </div>
           
            if (iterations % 2 != 0 || iterations == homes.First().Children().Count() - 1
			   || homes.First().Children().Count() == 1)
            {
               @:</div>
            }
            iterations++;

        }
    }
}
