﻿<ul>
      <li class="sideNavTitle">Downloads</li>
      <li class="sideNavActive"><a href="#">All (176)</a></li>
      <li><a href="#">Category (26)</a></li>
      <li><a href="#">Another category (45)</a></li>
      <li><a href="#">Different category (13)</a></li>
      <li><a href="#">Alternate category (39)</a></li>
    </ul>