﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@using Wulvern.Web.Helpers;
@{
    var newsNodes = Model.AncestorOrSelf(1).Descendants("NewsArea");

    IComparer<IPublishedContent> comparer = new DateOrderingClass();
    var newsArticles = newsNodes.First().Children().ToList();
    newsArticles.Sort(comparer);

    if (newsArticles.Any())
    {
        int count = 1;
        
        <div class="ltGreyBg clearfix ">
            <div class="wraper clearfix latestNews">
                <h2>Latest news <a href="/our-news.aspx" class="viewall desktop">View all &#8250;</a></h2>
                @foreach (var publishedContent in newsArticles.Take(3))
                {
                    var cClass = "";
                    if(count++ == 3){
                        cClass = "thirdCol";
                    }
                    
                    <div class="threeCol boxborder @cClass" style="margin-right: 5px;">
                        <div class="colImage">
                            @if (publishedContent.HasValue("image"))
                            {
                                var image = publishedContent.GetPropertyValue("image"); 
                                <img src="@Umbraco.TypedMedia(image).Url" height="176" width="308" />
                            }
                        </div>
                        <div class="boxHeading">
                            <div class="date">@DateHelper.getDateEventShort(publishedContent.CreateDate)</div>
                            <h3><a href="@publishedContent.Url">@publishedContent.GetPropertyValue("title")</a></h3>
                        </div>
                        <div class="boxDetail">@Html.Raw(@publishedContent.GetPropertyValue("description").ToString().Truncate(100))</div>
                        <div class="readmore"><a href="@publishedContent.Url">Read more ›</a> </div>
                    </div>            
                }
            </div>
        </div>
    }
}