﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@using Wulvern.Web.Helpers;
@{
    var media = Umbraco.TypedMedia(1133);
    var publicationNodes = media.Children;
    {
        if (publicationNodes.Any())
        {
            IComparer<IPublishedContent> comparer = new DownloadOrderingClass();
            List<IPublishedContent> downloads = publicationNodes.Where(x => x.GetPropertyValue<bool>("displayWebsite") == true).ToList();

            downloads.Sort(comparer);
            
    <div class="twoCol latestPublications">
        <h2>Latest publications <a href="/downloads.aspx" class="viewall desktop">View all &#8250;</a></h2>
        @foreach (var publishedContent in downloads.Take(3))
        {
            <div class="row clearfix">
                @if (publishedContent.HasValue("image"))
                {
                    var image = publishedContent.GetPropertyValue("image");
                    <div class="image">
                        <a href="@publishedContent.Url()" target="_blank">
                            <img src="@Umbraco.TypedMedia(image).Url" />
                        </a>
                    </div>
                }

                <div style="padding-left: 92px">
                    @{
                        
                        if (@publishedContent.HasProperty("uploadDate") && publishedContent.GetProperty("uploadDate").ToString() != null)
                        {
                            var blah = publishedContent.GetPropertyValue("uploadDate");
                            DateTime newsDate = System.Xml.XmlConvert.ToDateTime(publishedContent.GetPropertyValue("uploadDate").ToString());
                                <div class="date">@DateHelper.getDateEventShort(newsDate)</div>
                        }
            
                    }
                    <a href="@publishedContent.Url()" target="_blank">
                        <h3>@publishedContent.GetPropertyValue("title")</h3>
                    </a>
                    <div>@publishedContent.GetPropertyValue("description")</div>
                </div>
            </div>  
        }
        <a href="/downloads.aspx" class="viewall mobile">View all &#8250;</a>
    </div>
        }
    }
}

