﻿<div class="twoCol twoColAlt latestJobs">
    <h2>Latest jobs <a href="/jobs/job-listings.aspx" class="viewall desktop">View all &#8250;</a></h2>
    <div class="row jobsIntro">Wulvern is an exciting place to work with career 
        development opportunities across all departments. We have a firm commitment to equal 
        opportunities, staff training and development and we offer a range of excellent benefits. </div>
    @inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
    @{
        var locationNodes = Model.AncestorOrSelf(1).Descendants("VacanciesArea");
        if (locationNodes.Any())
        {
            foreach (var publishedContent in locationNodes.First().Children.
                Where(x => x.GetPropertyValue<bool>("displayWebsite") == true))
            {
                <div class="row">
                    <h3>
                        <a href="@publishedContent.Url">
                            @publishedContent.Name
                        </a>
                    </h3>
                </div>
            }

        }
    }
    <a href="/jobs/job-listings.aspx" class="viewall mobile">View all &#8250;</a>
</div>
