﻿<div class="twoCol latestTweets">
    <h2><img src="~/images/twitter_heading_icon.gif" width="43" height="34" alt=""/>Latest tweets <a href="#" class="viewall desktop">View all &#8250;</a></h2>
    <div class="tweets">
    @{
	    int nrOfTweets = 5;

	    var t = new uTweets.Tweets();
	    var result = t.GetTweets();
	        if (result != null)
	        {
                 foreach(var tw in result.Take(nrOfTweets))
			     {
		            <div class="tweet">
                            <p class="tweetTime">@tw.CreatedDate - @DateTime.Now</p>
				            <p class="tweet">@Html.Raw(tw.TextAsHtml)</p>
		            </div>
                 }
	        }
	    }
    </div>
    <div class="twitterPaging clearfix"><span alt="Previous tweet" class="tweet-previous">Previous</span>
        <div class="pager"></div>
        <span alt="Next tweet" class="tweet-next">Next</span> </div>
</div>