﻿@using umbraco.MacroEngines
@using umbraco.presentation.nodeFactory
@using Wulvern.Web.ExtensionMethods
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var linkPods = Model.Content.GetMntpNodes("linkPods");
    foreach (var x in linkPods)
    {       
        <div class="introBox">
            <h2>@x.GetPropertyValue("title")</h2>
            <p>@x.GetPropertyValue("description")</p>
        </div>          
    }
}
 