﻿@model Wulvern.Infrastructure.Models.LoginModel
@using Wulvern.Web.Controllers.SurfaceControllers


@using (Html.BeginUmbracoForm<LoginSurfaceController>("Login"))
{
    <section class="container">
        <div class="login">
            @Html.LabelFor(model => model.Email)
            <p>@Html.EditorFor(model => model.Email)</p>
            <p>@Html.ValidationMessageFor(model => model.Email)</p>
 
            @Html.LabelFor(model => model.Password)
            <p>@Html.EditorFor(model => model.Password)</p>
            <p>@Html.ValidationMessageFor(model => model.Password)</p>
            <p>
                <input type="submit" value="Submit" />
            </p>
        </div>
    </section>
}