﻿<ul class="loginView">
    @if(User.Identity.IsAuthenticated)
    {
        <li>@Html.ActionLink("Logout", "Logout", "LoginSurfaceController")</li>
    }
    else
    {
        <li><a href="~/login">Login</a></li>
        <li><a href="~/register">Register</a></li>
    }
</ul>