﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var category = Request.QueryString["cat"];
    var media = Umbraco.TypedMedia(1133);
    var publicationNodes = media.Children;
    {
        if (publicationNodes.Any())
        {
            foreach (var publishedContent in publicationNodes
                .Where(x => x.GetPropertyValue<bool>("displayWebsite") == true && (
					x.GetPropertyValue<string>("category") == "Magazine" || x.GetPropertyValue<string>("category") == "Information Leaflet")))
            {
				if(publishedContent.GetPropertyValue<bool>("displayWebsite") == true)
                {
                    <div class="row clearfix">  
                        @if (publishedContent.HasValue("image"))
                        {
                            var image = publishedContent.GetPropertyValue("image");
                            <div class="image">  
                                <a href="@publishedContent.Url()">
                                    <img src="@Umbraco.TypedMedia(image).Url" />
                                </a>
                            </div>
                            <div class="rowContent">
                              <div class="date">@publishedContent.CreateDate.ToString("D")</div>
                                <h3>@publishedContent.GetPropertyValue("title")</h3>
                              <div class="description">
                              @publishedContent.GetPropertyValue("description")
                              <p><a href="@publishedContent.Url()">(Download PDF)</a></p>
                          </div>
                        </div>
                        }    
                    </div>  
			
				}
            }
        }
    }
}