﻿@using umbraco.MacroEngines
@using umbraco.presentation.nodeFactory
@using Wulvern.Web.ExtensionMethods
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // Will eventually get the Settings node id by a text search or doc type search
    var settingsNode = 1062;
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent content = umbracoHelper.TypedContent(settingsNode);
    
    foreach (var x in content.GetMntpNodes("mainNavigation"))
    {     
    <ul class="nav">  
        <li><a href="@x.Url()">@x.Name</a>
            @if (@x.Children.Where("Visible").Count() > 0)
            {
                <ul>
                @foreach (var subpage in @x.Children.Where("Visible"))
                {
                    <li><a href="@subpage.Url">@subpage.Name</a></li>
                }
                </ul>
            }
    }
        </li>
    </ul>
    }
}