﻿@using umbraco.MacroEngines
@using umbraco.presentation.nodeFactory
@using Wulvern.Web.ExtensionMethods
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // Will eventually get the Settings node id by a text search or doc type search
    var settingsNode = 1062;
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent content = umbracoHelper.TypedContent(settingsNode);
    <ul class="nav">
        @foreach (var x in content.GetMntpNodes("mainNavigation"))
        {       
           <li><a href="@x.Url()">@x.Name</a></li>
        }
    </ul>
}