﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var iterations = 0;
        
    var boardMembersArea = Model.AncestorOrSelf(1).Descendants("BoardMemberArea");
    if (boardMembersArea.Any())
    {    
        <h1>Meet Our Executive Team</h1>
        foreach (var publishedContent in boardMembersArea.First().Children.
            Where(x => x.GetPropertyValue<bool>("ExecutiveTeam") == true))
        {
            if (iterations == 0 || iterations % 2 == 0)
            {
               @:<div class="clearfix">
            }
                <div class="threeCol boxborder @(iterations % 2 != 0 ? "threeColAlt" : String.Empty)"  >
                    <div class="colImage">  
                        @if (publishedContent.HasValue("image"))
                        {
                            var image = publishedContent.GetPropertyValue("image");  
                            <img src="@Umbraco.TypedMedia(image).Url" />
                        }
                    </div>
                    <div class="boxHeading">
                        <h3>@publishedContent.GetPropertyValue("name")</h3>
                        <div class="date">@publishedContent.GetPropertyValue("jobTitle")</div>
                    </div>
                    <div class="boxDetail">@publishedContent.GetPropertyValue("description")</div>  
                    <div class="boxEmailLink">
                        <a href="mailto:@publishedContent.GetPropertyValue("executiveTeamEmail")">email @publishedContent.GetPropertyValue("name")</a>
                    </div>
                </div>
           
            if (iterations % 2 != 0)
            {
               @:</div>
            }
            iterations++;

        }
    }
}

@*<h1>Meet our Executive Team</h1>
    
    <!-- BOARD -->
    <div class="clearfix">
      <div class="threeCol boxborder">
        <div class="colImage">
            <img src="~/media/9070/Sue-Lock.jpg" />
        </div>
        <div class="boxHeading">
          <h3>Sue Lock</h3>
          <div class="date">Chief Executive </div>
        </div>
        <div class="boxDetail">CEO since transfer with 14 years experience at CEO level, Member CIH National Council and Board Member at another Housing Association</div>
        <div class="boxEmailLink">
            <a href="mailto:sue.lock@wulvernhousing.org.uk">email Sue</a>
        </div>
      </div>
      <div class="threeCol boxborder threeColAlt">
        <div class="colImage">
            <img src="~/media/9069/Sasha-Deepwell.jpg" />
        </div>
        <div class="boxHeading">
          <h3>Sasha Deepwell</h3>
          <div class="date">Deputy Chief Executive</div>
        </div>
        <div class="boxDetail">Extensive senior management experience at a leading North West housing association, managing significant loan portfolios for development</div>
          <div class="boxEmailLink">
            <a href="mailto:sasha.deepwell@wulvernhousing.org.uk">email Sasha</a>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="threeCol boxborder">
        <div class="colImage">
            <img src="~/media/9066/Diane-Jones.jpg" />
        </div>
        <div class="boxHeading">
          <h3>Diane Jones</h3>
          <div class="date">Executive Director (Finance & Risk) </div>
        </div>
        <div class="boxDetail">An experienced and highly commercial Finance professional with over 30 years in leading financial institutions in the financial services sector.   Board Member at another larger housing association</div>
        <div class="boxEmailLink">
            <a href="mailto:diane.jones@wulvernhousing.org.uk">email Diane</a>
        </div>
      </div>
      <div class="threeCol boxborder threeColAlt">
        <div class="colImage">
            <img src="~/media/9067/Kevin-Williams.jpg" />
        </div>
        <div class="boxHeading">
          <h3>Kevin Williams</h3>
           <div class="date">Executive Director (Growth & Enterprise)</div>
        </div>
        <div class="boxDetail">Well rounded property professional with over 14 years experience leading on numerous award winning mixed use development programmes.</div>
        <div class="boxEmailLink">
            <a href="mailto:kevin.williams@wulvernhousing.org.uk">email Kevin</a>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="threeCol boxborder">
        <div class="colImage">
            <img src="~/media/9065/Debbie-Hinbest.jpg" />
        </div>
        <div class="boxHeading">
          <h3>Debbie Hinbest</h3>
            <div class="date">Executive Director (Corporate Services)</div>
        </div>
        <div class="boxDetail">A versatile, qualified senior leader with 15 years of HR experience spanning private and not for profit sector.</div>
        <div class="boxEmailLink">
            <a href="mailto:debbie.hinbest@wulvernhousing.org.uk">email Debbie</a>
        </div>
      </div>
      <div class="threeCol boxborder threeColAlt">
        <div class="colImage">
            <img src="~/media/9068/Nicole-Kershaw.jpg" />
        </div>
        <div class="boxHeading">
          <h3>Nicole Kershaw</h3>
           <div class="date">Executive Director (Customers & Homes)</div>
        </div>
        <div class="boxDetail">An experienced property professional within the public and private sector, specialising in development and delivery of front line services.</div>
          <div class="boxEmailLink">
            <a href="mailto:nicole.kershaw@wulvernhousing.org.uk">email Nicole</a>
        </div>
      </div>
    </div>
   *@