﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var iterations = 0;
    
    
    var boardMembersArea = Model.AncestorOrSelf(1).Descendants("BoardMemberArea");
    if (boardMembersArea.Any())
    {    
        <h1>Meet the Board</h1>
        foreach (var publishedContent in boardMembersArea.First().Children.
            Where(x => x.GetPropertyValue<bool>("ExecutiveTeam") == false))
        {
            if (iterations == 0 || iterations % 2 == 0)
            {
               @:<div class="clearfix">
            }
                <div class="threeCol boxborder @(iterations % 2 != 0 ? "threeColAlt" : String.Empty)"  >
                    <div class="colImage">  
                        @if (publishedContent.HasValue("image"))
                        {
                            var image = publishedContent.GetPropertyValue("image");  
                            <img src="@Umbraco.TypedMedia(image).Url" />
                        }
                    </div>
                    <div class="boxHeading">
                        <h3>@publishedContent.GetPropertyValue("name")</h3>
                        <div class="date">@publishedContent.GetPropertyValue("jobTitle")</div>
                    </div>
                    <div class="boxDetail">@publishedContent.GetPropertyValue("description")</div>  
                </div>
           
            if (iterations % 2 != 0)
            {
               @:</div>
            }
            iterations++;

        }
    }
}

@*<h1>Meet our Board</h1>
    
    <!-- BOARD -->
    <div class="clearfix">
      <div class="threeCol boxborder">
        <div class="colImage">
            <img src="~/media/9042/Graham-Eades.jpg" />
        </div>
        <div class="boxHeading">
          <h3>Graham Eades</h3>
          <div class="date">Chair </div>
        </div>
        <div class="boxDetail">Housing Sector Specialist with 30 years experience and former Chief Executive of Arena Housing Group</div>
      </div>
      <div class="threeCol boxborder threeColAlt">
        <div class="colImage">
            <img src="~/media/9047/Phil-Morgan.jpg" />
        </div>
        <div class="boxHeading">
          <h3>Phil Morgan</h3>
          <div class="date">Vice-Chair </div>
        </div>
        <div class="boxDetail">Housing Sector Specialist previously Executive Director of Tenant Services at the Tenant Services Authority and Chief Executive of TPAS</div>
      </div>
    </div>
    <div class="clearfix">
      <div class="threeCol boxborder">
        <div class="colImage">
            <img src="~/media/9049/Steve-Jones.jpg" />
        </div>
        <div class="boxHeading">
          <h3>Steve Jones</h3>
          <div class="date">Chair of Audit </div>
        </div>
        <div class="boxDetail">Qualified Accountant and Finance Director of the Hanley Economic Building Society</div>
      </div>
      <div class="threeCol boxborder threeColAlt">
        <div class="colImage">
            <img src="~/media/9041/Bob-Tarry.jpg" />
        </div>
        <div class="boxHeading">
          <h3>Bob Tarry</h3>
        </div>
        <div class="boxDetail">Previously Head of Property Services for Littlewoods Plc</div>
      </div>
    </div>
    <div class="clearfix">
      <div class="threeCol boxborder">
        <div class="colImage"></div>
        <div class="boxHeading">
          <h3>Gifty Asamoah</h3>
        </div>
        <div class="boxDetail">A qualified mental health nurse and Board Director of a local multi-cultural community group</div>
      </div>
      <div class="threeCol boxborder threeColAlt">
        <div class="colImage"></div>
        <div class="boxHeading">
          <h3>Tony Sproston</h3>
        </div>
        <div class="boxDetail">Has worked in the local voluntary sector for over 20 years. Was previously a member of Wulvern’s tenant scrutiny panel (RISE)</div>
      </div>
    </div>
    <div class="clearfix">
      <div class="threeCol boxborder">
        <div class="colImage">
            <img src="~/media/9044/mark-terry.jpg" />
        </div>
        <div class="boxHeading">
          <h3>Mark Terry</h3>
        </div>
        <div class="boxDetail">Qualified Accountant and Chief Financial Officer at the Devonshire Group</div>
      </div>
      <div class="threeCol boxborder threeColAlt">
        <div class="colImage">
            <img src="~/media/9043/laura-foster.jpg" />
        </div>
        <div class="boxHeading">
          <h3>Laura Foster</h3>
        </div>
        <div class="boxDetail">Qualified Accountant and Interim Director of Community Health for Stockport NHS PCT</div>
      </div>
    </div>*@