﻿@using Wulvern.Web.ExtensionMethods
@{
    // Will eventually get the Settings node id by a text search or doc type search
    var settingsNode = 1062;
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent content = umbracoHelper.TypedContent(settingsNode);
    
    <button class="dl-trigger">Open Menu</button>
    <ul class="dl-menu">
        @foreach (var x in content.GetMntpNodes("mainNavigation"))
        {

            if (@x.DocumentTypeAlias != "Homepage" && @x.DocumentTypeAlias != "ourNewsArea" && x.Name != "Downloads" && x.Name != "News")
            {
            <li><a href="@x.Url()">&#8250; @x.Name</a>
                <ul class="dl-submenu">
                    <li><a href="@x.Url">@x.Name</a></li>

                    @foreach (var subpage in @x.Children.Where("Visible"))
                    {
                        <li>
                            @if (subpage.Children.Where("Visible").Count() > 0)
                            {
                                <a href="@subpage.Url">&#8250; @subpage.Name</a>
                                <ul class="dl-submenu">
                                    <li><a href="@subpage.Url">@subpage.Name</a></li>

                                    @foreach (var thirdlevelpage in @subpage.Children.Where("Visible"))
                                    {
                                        <li>
                                            <a href="@thirdlevelpage.Url">@thirdlevelpage.Name</a>
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <a href="@subpage.Url">@subpage.Name</a>
                            }

                        </li>
                    }
                </ul>
            </li>
            }
            else
            {
            <li><a href="@x.Url()">@x.Name</a></li>
            }
        }
    </ul>
}