﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    if (Model.HasValue("tags")){
        foreach (var tagItem in Model.GetPropertyValue("tags").ToString().Split(','))
        {
            <a href="#">@tagItem</a>
        }
    } 
} 

@*<a hre="#">Universal credit</a> <a hre="#">Rent</a> <a hre="#">Homes</a> <a hre="#">Bills</a> <a hre="#">Promises</a> <a hre="#">Right to buy</a> <a hre="#">Repairs</a> <a hre="#">Universal credit</a> <a hre="#">Rent</a> <a hre="#">Homes</a> <a hre="#">Bills</a> <a hre="#">Promises</a> <a hre="#">Right to buy</a> <a hre="#">Repairs</a>*@