﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var category = "";
    if (Request.QueryString["cat"] != null && Request.QueryString["cat"] != "")
    {
        category = Request.QueryString["cat"].ToString();
    }

    var ourNews = Model.AncestorOrSelf(1).Descendants("NewsArea");

    if (ourNews.Any())
    {
        var categories = ourNews.First().Children.
            GroupBy(x => x.GetPropertyValue("category"));
        
        <form method="get" action="~/our-news">
            <select class="catSelect" name="cat" id="cat" onchange="this.form.submit()">
                <option value="">All (@ourNews.First().Children.Count())</option>
                @foreach (var cats in categories.OrderBy(x => x.Key))
                {
                    if (!String.IsNullOrEmpty(@cats.Key.ToString()))
                    {
                        var vVar = "";
                        if (category != null && category == cats.Key.ToString())
                        {
                            vVar = "selected=\"selected\"";
                        }
                        
                        
                    <option @vVar value="@Html.Encode(@cats.Key)">@cats.Key (@cats.Count())</option>
                    }
                }
            </select>
        </form>
    }
    
    
        
}