﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var newsNodes = Model.AncestorOrSelf(1).Descendants("NewsArea");
    if (newsNodes.Any())
    {
        <h3>Latest news</h3>
       foreach (var publishedContent in newsNodes.First().Children.Take(3))
        {
            <div class="feedItem">  
                @if (publishedContent.HasValue("image"))
                {
                    var image = publishedContent.GetPropertyValue("image");
                    <div class="image">  
                        <img src="@Umbraco.TypedMedia(image).Url" height="100" width="75" />
                    </div>
                }
                <div class="text">
                    @publishedContent.Name<br />
                    <span class="small">@publishedContent.CreateDate.ToString("D")</span><br />
                    @publishedContent.GetPropertyValue("description")<br />
                    <a href="@publishedContent.Url()"><span class="small">Read More</span></a>
                    <div class="arrow-right"></div>
                </div>
            </div>
        }
    }
}