﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var category = "";
    if(Request.QueryString["cat"] != null && Request.QueryString["cat"] !=""){
        category = Request.QueryString["cat"].ToString();
    }
    
    var ourNews = Model.AncestorOrSelf(1).Descendants("NewsArea");
    if (ourNews.Any())
    {
        var categories = ourNews.First().Children.
                GroupBy(x => x.GetPropertyValue("category"));
        <ul>
            <li class="sideNavTitle">News categories</li>
                            <li><a href="~/our-news">All (@ourNews.First().Children().Count())</a></li>
            @foreach (var cats in categories)
            {
                var cClass = "";
                if (category == cats.Key.ToString())
                {
                    cClass = "sideNavActive";
                }
                
                <li class="@cClass"><a href="~/our-news?cat=@Html.Encode(@cats.Key)">@cats.Key (@cats.Count())</a></li>
            }
        </ul>
    }
} 



@*<ul>
      <li class="sideNavTitle">News categories</li>
      <li class="sideNavActive"><a href="#">All (176)</a></li>
      <li><a href="#">Category (26)</a></li>
      <li><a href="#">Another category (45)</a></li>
      <li><a href="#">Different category (13)</a></li>
      <li><a href="#">Alternate category (39)</a></li>
    </ul>*@