﻿@using Umbraco.Forms.Core;
@using Wulvern.Web.Helpers;
@using Umbraco.Forms.Mvc.DynamicObjects
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // Will eventually get the Settings node id by a text search or doc type search
    var settingsNode = 1062;
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent content = umbracoHelper.TypedContent(settingsNode);
    
    string pollId = content.GetPropertyValue<string>("activePoll");

    <h2>Opinion Poll</h2>
	
    if(!String.IsNullOrEmpty(pollId)){
 
       if (Request.Cookies[pollId] == null) {
            @Umbraco.RenderMacro("umbracoContour.RazorRenderForm", new {FormGuid=pollId })
        }
        else 
        {
           @Umbraco.RenderMacro("ContourPollResults", new { formid=pollId})
       }
        }
        else
        {
            <h2>You have not selected an opinion poll for the site</h2>
        }
}
                   

 

                   






