﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var homesArea = Model.AncestorOrSelf(1).Descendants("OurHomesArea").First();
    var homes = homesArea.Children();
    if (homes.Any())
    {
        var counter = 1;
    <div class="wBlueBg clearfix">
        <div class="wraper ourHomes clearfix">
            <div class="ourHomesContainer">
                <h2>Our homes <a href="/our-homes.aspx" class="viewall desktop">View all &#8250;</a></h2>
                <div class="homeslides">

                    @foreach (var home in homes.Take(3))
                    {
                        var cClass = "";
                        if(counter++ == 2){
                            cClass = "threeColAlt";
                        }
                        
                        <div class="threeCol boxborder @cClass">
                            <div class="colImage">
                                @if (home.HasValue("image"))
                                {
                                    var image = home.GetPropertyValue("image");  
                                    <img src="@Umbraco.TypedMedia(image).Url" />
                                }else{
                                    <img src="/media/13796/News-Placeholder.jpg" height="176" width="308">
                                }
                            </div>
                            <div class="boxHeading">
                                <h3>@home.GetPropertyValue("nameOfDevelopment")</h3>
                            </div>
                            <div class="boxDetail">
                                 @Html.Raw(@home.GetPropertyValue("description"))
                            </div>
                            <div class="readmore"><a href="/our-homes/rent-a-home.aspx">Read more ›</a> </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    
    }
}
