﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@using Wulvern.Web.Helpers;
@{
    var ourJobs = Model.AncestorOrSelf(1).Descendants("VacanciesArea");
    if (ourJobs.First().Children().Any())
    {
        foreach (var publishedContent in ourJobs.First().Children())
        {
            DateTime closingDate = (DateTime)@publishedContent.GetPropertyValue("closingDate");
            var jobAdvert = @publishedContent.GetPropertyValue("jobAdvert");
            var jobDescription = @publishedContent.GetPropertyValue("jobDescription");
            var jobId = @publishedContent.GetPropertyValue("jobId");
            
            <div class="vacancy clearfix">
                <div class="closingDate">Closing date<br />@DateHelper.getDateEventLong(closingDate)</div>
                <h2>@publishedContent.GetPropertyValue("title")</h2>
                <h3>@publishedContent.GetPropertyValue("location")</h3>
                <h4>@publishedContent.GetPropertyValue("salary")</h4>

                @publishedContent.GetPropertyValue("description")

                @if (publishedContent.HasProperty("extendedDescription") && publishedContent.GetPropertyValue("extendedDescription").ToString() != "")
                {

                    <a href="#" onclick="toggleReadMore('readmore_@jobId')" class="link_readmore_@jobId">Read more &#8250;</a>
                    <div class="hide" id="readmore_@jobId">
                        @publishedContent.GetPropertyValue("extendedDescription")
                        <p><a href="#" onclick="toggleReadMore('readmore_@jobId')" class="readLessToggle">Read less &#8249;</a></p>
                    </div>
                    
                }

                <br /><br />
                    
                <a target="_blank" href="@Umbraco.TypedMedia(jobAdvert).Url">Download job advert (PDF) &#8250;</a><br />
                <a target="_blank" href="@Umbraco.TypedMedia(jobDescription).Url">Download job description (PDF) &#8250;</a>
                <a href="@publishedContent.Url" class="applyNow desktop" id="jobid_@jobId">Apply now</a>
                <div class="jobAppForm"></div>
                <div class="mobile tablet">
                    <h3>How to apply</h3>
                    <p>Send your CV with a covering letter telling us why you think you are suitable for the position to <a href="mailto:jobs@wulvern.org.uk">jobs@wulvern.org.uk</a></p>
                </div>
            </div>

        }
    }
}