﻿@using System;
@using System.Text;
@using System.Globalization;

@using umbraco.cms.businesslogic.web;

@using Wulvern.Web.Helpers;
@using Wulvern.Web.ExtensionMethods

@helper Truncate(string input,int length)
{
    if(input.Length<=length){
        @Html.Raw(input)
    }else{
        @Html.Raw(input.Substring(0,length))<text>...</text>
    }
}
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var iterations = 0;
    var category = Request.QueryString["cat"];
	int page = 1;
	var queryString = String.Empty;

	
	 if (!int.TryParse(Request.QueryString["page"], out page))
    {
        page = 1;
    }
	
	var pageSize = 8;
	
	int nextPage = (@page + 1);
	int previousPage = (@page - 1);

    var ourNews = Model.AncestorOrSelf(1).Descendants("NewsArea");
	
    IComparer<IPublishedContent> comparer = new DateOrderingClass();
    var newsArticles = ourNews.First().Children().ToList();
    if (category != null && category != "")
    {
        newsArticles = newsArticles.Where(x => x.GetPropertyValue("category").ToString() == category).ToList();
    }
        
    newsArticles.Sort(comparer);

    int totalArticles = newsArticles.Count();
    int totalPages = ((int)Math.Ceiling((double)totalArticles / (double)pageSize));
    
    if (newsArticles.Any())
    {    
		var pageIterations = 0;
        foreach (var publishedContent in newsArticles.Paged(@page, @pageSize))
		{
            if (iterations == 0 || iterations % 2 == 0)
            {
               @:<div class="clearfix">
            }
                <div class="threeCol boxborder @(iterations % 2 != 0 ? "threeColAlt" : String.Empty)">
                    <div class="colImage">  
                        @if (publishedContent.HasValue("image"))
                        {
                            var image = publishedContent.GetPropertyValue("image");  
                            <img src="@Umbraco.TypedMedia(image).Url" width="308" height="176" />
                        }
                    </div>
                    <div class="boxHeading">
                        @{
                        
                            if (@publishedContent.HasProperty("publishedDate") && publishedContent.GetProperty("publishedDate").ToString() != null)
							{
								DateTime newsDate = (DateTime)publishedContent.GetPropertyValue("publishedDate");
								<div class="date">@DateHelper.getDateEventShort(newsDate)</div>
							}
							else
							{
								<div class="date">&nbsp;</div>
							}
                        
						}
                        <h3><a href="@publishedContent.Url">@publishedContent.GetPropertyValue("title")</a></h3>
                    </div>
                    <div class="boxDetail">@Html.Raw(@publishedContent.GetPropertyValue("description").ToString().Truncate(100))</div>  
                     <div class="readmore"><a href="@publishedContent.Url">Read more</a> </div>
                </div>
            if (iterations % 2 != 0)
            {
               @:</div>
            }
			
			pageIterations++;
            iterations++;
        }
        
        if (iterations % 2 != 0)
        {
            @:</div>
        }
    }
	
	@*
	if(!String.IsNullOrEmpty(category))
	{
		@queryString = "cat=@category&";
	}
	else
	{
		@queryString = String.Empty;
	}
*@
    int minPage = 1;
    int maxPage = totalPages;

    int minRange = Math.Max(minPage, page - 2);
    int maxRange = Math.Min(maxPage, page + 2);
    
    if(totalPages > 0)
    {
	    <div class="pagination">
            <span>Page @page of @totalPages</span>
            <div class="pagNav">
                <a href="?page=@previousPage" class=@(page == 1 ? "previousDisabeled" : "previous")>previous</a>
            
                @if (minRange != minPage)
                {
                    <a href="~/our-news?page=@minPage" title="Go to page @minPage of results" class="">@minPage</a>
                    <span>...</span>
                }

                @for (int i = minRange; i <= maxRange; i++)
                {
                    <a href="~/our-news?page=@i" title="Go to page @i of results" class="@((i == page) ? "selected" : "") numbers">@i</a>
                }

                @if (maxRange != maxPage)
                {
                    <span>...</span>
                    <a href="~/our-news?page=@maxPage" title="Go to page @maxPage of results">@maxPage</a>
                    Console.Write(maxPage);
                }
            
                <a href="?page=@nextPage" class=@(page == @totalPages ? "nextDisabeled" : "next")>next</a>

            </div>
        </div>
    }
} 


@*<div class="clearfix">
      <div class="threeCol boxborder">
        <div class="colImage"></div>
        <div class="boxHeading">
          <div class="date">25th June 2014</div>
          <h3>Wulvern hosts Hong Kong CIH vi</h3>
        </div>
        <div class="boxDetail">Wulvern welcomed visitors from Hong Kong recently when they enjoyed a guided tour of award winning Pickmere - a multi-million pound ExtraCare development for over 55’s in Crewe.</div>
        <div class="readmore"><a href="#">Read more ›</a> </div>
      </div>
      <div class="threeCol boxborder threeColAlt">
        <div class="colImage"></div>
        <div class="boxHeading">
          <div class="date">25th June 2014</div>
          <h3>Prince’s Trust makes child’s play of project</h3>
        </div>
        <div class="boxDetail">Crewe school playground has received a makeover thanks to a team of young adults on Cheshire Fire and Rescue Service’s Prince’s Trust personal development programme supported by partner organisations Wulvern, Job Centre Plus and Cheshire East Council.</div>
        <div class="readmore"><a href="#">Read more ›</a> </div>
      </div>
    </div>
    <div class="threeCol boxborder">
      <div class="colImage"></div>
      <div class="boxHeading">
        <div class="date">25th June 2014</div>
        <h3>Wulvern hosts Hong Kong CIH vi</h3>
      </div>
      <div class="boxDetail">Wulvern welcomed visitors from Hong Kong recently when they enjoyed a guided tour of award winning Pickmere - a multi-million pound ExtraCare development for over 55’s in Crewe.</div>
      <div class="readmore"><a href="#">Read more ›</a> </div>
    </div>
    <div class="threeCol boxborder threeColAlt">
      <div class="colImage"></div>
      <div class="boxHeading">
        <div class="date">25th June 2014</div>
        <h3>Prince’s Trust makes child’s play of project</h3>
      </div>
      <div class="boxDetail">Crewe school playground has received a makeover thanks to a team of young adults on Cheshire Fire and Rescue Service’s Prince’s Trust personal development programme supported by partner organisations Wulvern, Job Centre Plus and Cheshire East Council.</div>
      <div class="readmore"><a href="#">Read more ›</a> </div>
    </div><div class="pagination"><span>Page 1 of 23</span><div class="pagNav"><a href="#" class="previousDisabeled">previous</a>
    <a href="#" class="selected">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <span>...</span>
    <a href="#">23</a>
    <a href="#" class="next">next</a></div></div>
  </div>*@