﻿@inherits umbraco.MacroEngines.DynamicNodeContext
@{ 
    int pageSize = 8;
    int page = int.Parse(Request.QueryString["page"]);

    /* Set up parameters */
   
    if (!int.TryParse(Request.QueryString["page"], out page))
    {
        page = 1;
    }

    /* This is your basic query to select the nodes you want */

    var nodes = Model.Children.Where("Visible").OrderBy("displayDate desc");
    
    int totalNodes = nodes.Count();
    int totalPages = (int)Math.Ceiling((double)totalNodes / (double)pageSize);
    
    /* Bounds checking */
    
    if (page > totalPages)
    {
        page = totalPages;  
    }
    else if (page < 1)
    {
        page = 1;
    }
}



<ul class="pagination">
    @for (int p = 1; p < totalPages + 1; p++)
    {
        string selected = (p == page) ? "selected" : String.Empty;
        <li class="@selected"><a href="?page=@p" title="Go to page @p of results">@p</a></li> 
    }
</ul>