﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    //var selectedMonth = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Now.Month);
    var selectedMonth = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(7);
    var selectedYear = DateTime.Now.Year;

    if (Request["month"] != null && Request["month"] != "")
    {
        //int.TryParse(Request["month"], out selectedMonth);
        selectedMonth = Request["month"];
    }

    if (Request["year"] != null && Request["year"] != "")
    {
        int.TryParse(Request["year"], out selectedYear);
    }

    //var selectedMonthString = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(selectedMonth);

    var allKpiNodes = Model.AncestorOrSelf(1).Descendants("KPIContainer").First().Descendants("KPI");
    var kpiNodes = allKpiNodes.Where(x => x.GetPropertyValue("year").ToString() == selectedYear.ToString() && x.GetPropertyValue("month").ToString() == selectedMonth);
        
    <div class="performanceKey desktop">
        <p>Key</p>
        <table width="100%" border="0">
            <tbody>
                <tr>
                    <td valign="top">
                        <img src="~/Images/smile.png" width="24" height="24" alt="" /></td>
                    <td>Better than same period last year</td>
                    <td>&nbsp;</td>
                    <td valign="top">
                        <img src="~/Images/sad.png" width="24" height="24" alt="" /></td>
                    <td>Worse than same period last year</td>
                </tr>
                <tr>
                    <td valign="top">
                        <img src="~/Images/neutral.png" width="24" height="24" alt="" /></td>
                    <td>Same as same period last year</td>
                    <td>&nbsp;</td>
                    <td valign="top">
                        <img src="~/Images/not-applicable.png" width="24" height="24" alt="" /></td>
                    <td>Not applicable</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="relative clearfix">
        <h1>Our performance</h1>
        <div class="mobile">
            <p>
                Due to the complex nature of this page,
it is not viewable on mobile devices.
            </p>
            <p>
                Please visit this page from a PC or
tablet device.
            </p>
        </div>
        <div class="performanceSelect desktop">
            <form id="form2" name="form2" method="get" action="/about-us/finance-performance/our-performance.aspx">
                Archive 
    <label for="select">Select:</label>
                <select name="year" id="year" onchange="this.form.submit()">
                    @{
                        var ds = ApplicationContext.Current.Services.DataTypeService;
                        var years = ds.GetPreValuesByDataTypeId(1197);

                        foreach (var year in years)
                        {
                            int iYear = int.Parse(year);
                            if (iYear <= DateTime.Now.Year)
                            {
                        <option value="@year" @(Html.Raw((year == selectedYear.ToString()) ? "selected=\"selected\"" : ""))>@year</option>
                            }
                        }
                    }
                </select>
                <select name="month" id="month" onchange="this.form.submit()">
                    @{
                        var months = ds.GetPreValuesByDataTypeId(1198);

                        foreach (var month in months)
                        {
                        <option value="@month" @(Html.Raw((month == selectedMonth) ? "selected=\"selected\"" : ""))>@month</option>
                        }
                    }
                </select>
            </form>
        </div>
    </div>
    if (kpiNodes.Any())
    {
    <table width="100%" border="0" class="performanceTable desktop">
        <tbody>
            <caption>Performance for @selectedMonth @selectedYear</caption>
            <tr>
                <th>Business area</th>
                <th>Business<br>
                    priority</th>
                <th>HCA Standard</th>
                <th>Key performance<br>
                    indicator</th>
                <th>Decription</th>
                <th>This<br>
                    month<br>
                    this<br>
                    year</th>
                <th>This<br>
                    month<br>
                    last<br>
                    year</th>
                <th class="trend">Trend</th>
            </tr>

            @{
        var iterations = 0;
            }

            @foreach (var kpi in kpiNodes)
            {
                var asdf = kpi.GetPropertyValue("year").ToString() ;
                var asdf1 = kpi.GetPropertyValue("month").ToString();
                var asdf2 = selectedYear.ToString();
                var asdf3 = selectedMonth;

                
                
                <tr class="@((iterations++ % 2 == 0) ? "altRow" : "")">
                    <td>@kpi.GetPropertyValue("businessArea")</td>
                    <td>@kpi.GetPropertyValue("businessPriority")</td>
                    <td>@kpi.GetPropertyValue("hCAStandard")</td>
                    <td>@kpi.GetPropertyValue("keyPerformanceIndicator")</td>
                    <td>@kpi.GetPropertyValue("description")</td>
                    <td>@kpi.GetPropertyValue("performanceThisMonth")</td>
                    <td>@kpi.GetPropertyValue("performanceThisMonthLastYear")</td>
                    <td class="trend">
                        @switch (@kpi.GetPropertyValue("trendThisMonth").ToString())
                        {
                            case "Better":
                            <img src="~/images/performance/happy.png" width="48" height="48" alt="" />
                                break;
                            case "Worse":
                            <img src="~/images/performance/sad.png" width="48" height="48" alt="" />
                                break;
                            case "Same":
                            <img src="~/images/performance/neutral.png" width="48" height="48" alt="" />
                                break;
                            default:
                            <img src="~/images/performance/na.png" width="48" height="48" alt="" />
                                break;
                        }

                    </td>
                </tr>
                
            }
        </tbody>
    </table>
    }
    else
    {
    <table width="100%" border="0" class="performanceTable desktop">
        <tbody>
            <caption>Performance for @selectedMonth @selectedYear</caption>
            <tr>
                <th>Nothing to display</th>
            </tr>
        </tbody>
    </table>
    }
}

