﻿@using Wulvern.Web.ExtensionMethods
@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    var pages = Model.AncestorOrSelf(1).Descendants();
    var validPages = pages.Where(x => x.HasProperty("counter")).OrderBy("counter").Reverse();

    var counter = 0;
}

<div class="twoCol popular twoColAlt">
    <h2>Popular pages</h2>

    @foreach (IPublishedContent page in validPages)
    {
        if(!page.HasProperty("excludeFromPopularPageResults") || (bool)page.GetPropertyValue("excludeFromPopularPageResults") == false){
            @:<a href="@page.Url">@page.Name</a>
            counter++;
        }

        if (counter > 5)
        {
            break;
        }
    }

</div>


