﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{ 
    int pageSize = 8;
    int page; // The page we are viewing

    if (!int.TryParse(Request.QueryString["page"], out page))
    {
        page = 1;
    }

    /* This is your basic query to select the nodes you want */

    var nodes = Model.Children.Where("Visible").OrderBy("displayDate desc");
    
    int totalNodes = nodes.Count();
    int totalPages = (int)Math.Ceiling((double)totalNodes / (double)pageSize);
    
    /* Bounds checking */
    
    if (page > totalPages)
    {
        page = totalPages;  
    }
    else if (page < 1)
    {
        page = 1;
    }
}

<div  class="pagination"><span>Page 1 of @totalPages</span><div class="pagNav"><a href="#" class="previousDisabeled">previous</a>
    @for (int p = 1; p < totalPages + 1; p++)
    {
        string selected = (p == page) ? "selected" : String.Empty;
        <a class="@selected" href="?page=@p" title="Go to page @p of results">@p</a>
    }
    <a href="#" class="next">next</a></div>
</div>