﻿@using Wulvern.Infrastructure.Models
@model ContactFormModel
@{
    ViewBag.Title = "SubmitCV";
}

@using (Html.BeginUmbracoForm("Send", "ContactFormSurface", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken() 
    @* This AntiForgeryTokey is used for prevent CSRF Attack*@
     <div class="formContainer clearfix">
      <div class="col">
        @Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName)
        @Html.LabelFor(x => x.Surname)
        @Html.TextBoxFor(x => x.Surname)
        <p>* Required information</p>
      </div>
      <div class="col">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email)
        @Html.LabelFor(x => x.Phone)
        @Html.TextBoxFor(x => x.Phone)
        <p>
          <input type="submit" name="submit2" id="submit2" value="Send &#8250;" class="sendButton pullRight">
        </p>
      </div>
    </div>
}