﻿@using Examine.LuceneEngine.SearchCriteria
@using umbraco.NodeFactory
@{
    
    if (!string.IsNullOrEmpty(Request.QueryString["search"]))
    {

        //Fetching what eva searchterm some bloke is throwin' our way
        var q = Request.QueryString["search"];

        //Fetching our SearchProvider by giving it the name of our searchprovider 
        var Searcher = Examine.ExamineManager.Instance.SearchProviderCollection["ExternalSearcher"];

        //Searching and ordering the result by score, and we only want to get the results that has a minimum of 0.05(scale is up to 1.)
        var searchResults = Searcher.Search(q, true).OrderByDescending(x => x.Score);

        //Printing the results   

        if (searchResults.Count() == 0)
        { 
            <p>No search results match your criteria</p>
            
        }
        else
        {
            <p>Showing @searchResults.Count() for '<strong>@q</strong>'</p>
            
            foreach (var item in searchResults)
            {
                var node = new Node(int.Parse(item.Fields["id"]));
                if (!String.IsNullOrEmpty(node.Name))
                {
                    <div class="result">
                    @switch (node.NodeTypeAlias)
                    {
                            /*
                        case "StandardContent":
                            
                                <div class="name">
                                    <a href="@node.NiceUrl">
                                        @node.Name
                                    </a>
                                </div>
                                <div class="exerpt">
                                    @node.GetProperty("bodyCopy")
                                </div>
                            
                            break;
                             * */
                        default:
                            <a href="@node.NiceUrl">
                                @node.Name
                            </a>
                            break;
                    }
                    </div>
                }
            }

        }
    }else{
        Response.Redirect("/search");
    }
}