﻿<ul class="nav">
        <li><a href="/customer-area/your-rent.aspx">Pay your rent</a></li>
        <li><a href="/customer-area/your-repairs-improvements.aspx">Report a repair</a></li>
        <li><a href="/our-homes.aspx">View our homes</a></li>
        <li><a href="/customer-area/your-say.aspx">Get involved</a></li>
        <li><a href="/customer-area/your-account.aspx">Your account</a></li>
</ul>
