﻿@using umbraco.MacroEngines
@using umbraco.presentation.nodeFactory
@using Wulvern.Web.ExtensionMethods
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // Will eventually get the Settings node id by a text search or doc type search
    var ourServices = 1162;
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent content = umbracoHelper.TypedContent(ourServices);
    
    <ul>  
        <li class="sideNavTitle">In this section</li>
        @foreach (var x in content.Children)
        {     
            <li><a href="@x.Url()">@x.Name</a>
                @if (@x.Children.Where("Visible").Count() > 0)
                {
                    <ul>
                        @foreach (var subpage in @x.Children.Where("Visible"))
                        {
                            <li><a href="@subpage.Url">&#8250; @subpage.Name</a></li>
                        }
                    </ul>
                   
                }
            </li>
        }
        </ul>
} 
