﻿@using umbraco.MacroEngines
@using umbraco.presentation.nodeFactory
@using Wulvern.Web.ExtensionMethods
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // Will eventually get the Settings node id by a text search or doc type search
    var settingsNode = 1062;
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent content = umbracoHelper.TypedContent(settingsNode);
    var root = Model.Content;
    var highlighted = false;
    
  if (Model.Content.Parent.Name != "Home")
  {
      
      if (Model.Content.Level == 4)
      {
          root = Model.Content.Parent.Parent;
      }
      else
      {
          root = Model.Content.Parent;
      }
  }
    <ul>  
        <li class="sideNavTitle">In this section</li>
        @foreach (var x in root.Children())
        {
            string style = "";
            if (Model.Content.Id == x.Id) 
            { 
                style = "class=\"sideNavActive\"";
            }else if(@x.Children.Where("Visible").Count() > 0){
                style = "class=\"widthSubNav\"";                                          
            }
            
            <li @Html.Raw(style)><a href="@x.Url()">@x.Name</a>
                @if (@x.Children.Where("Visible").Count() > 0)
                {
                    <ul>
                        @{
                            var childPages = x.Children.Where("Visible");   
                            var finalItem = childPages.Last().Id;
                        }
                        @foreach (var subpage in childPages)
                        {
                            var cClass = "";
                            if (subpage.Id == finalItem)
                            {
                                cClass = "withFinal";
                            }
                            
                            <li class="@Umbraco.If(subpage.IsAncestorOrSelf(Model.Content),"sideNavActive", String.Empty) @cClass"><a href="@subpage.Url">&#8250; @subpage.Name</a></li>
                        }
                    </ul>
                }
            </li>
        }
        </ul>
} 

