﻿@using umbraco.MacroEngines
@using umbraco.presentation.nodeFactory
@using Wulvern.Web.ExtensionMethods
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // Will eventually get the Settings node id by a text search or doc type search
    var settingsNode = 1062;
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    IPublishedContent content = umbracoHelper.TypedContent(settingsNode);
    var root = Model.Content;
    var highlighted = false;
    
 
    <ul>  
        <li class="sideNavTitle">In this section</li>
        @foreach (var x in root.Children())
        {
            string style = "";
            if (Model.Content.Id == x.Id) 
            { 
                style = "class=\"sideNavActive\"";
            }
            <li @Html.Raw(style)><a href="@x.Url()">@x.Name</a>
                @if (@x.Children.Where("Visible").Count() > 0)
                {
                    <ul>
                        @foreach (var subpage in @x.Children.Where("Visible"))
                        {
                            <li class="@Umbraco.If(subpage.IsAncestorOrSelf(Model.Content),"sideNavActive", String.Empty)"><a href="@subpage.Url">&#8250; @subpage.Name</a></li>
                        }
                    </ul>
                }
            </li>
        }
        </ul>
} 
