﻿<a href="/customer-area/your-rent.aspx" class="sideNavPay">Pay your rent</a>
<a href="/customer-area/your-repairs-improvements.aspx" class="sideNavReport">Report a repair</a>
<a href="/our-homes.aspx" class="sideNavHomes">View our homes</a>
<a href="/customer-area/your-say.aspx" class="sideNavInvolved">Get involved</a>
<a href="/customer-area/my-account.aspx" class="sideNavAccount">My account</a>