﻿@using Wulvern.Web.Helpers

@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    int selectedMonth = DateTime.Now.Month;
    int selectedYear = DateTime.Now.Year;
    bool query = false;
    
    if (Request.QueryString["year"] != null && Request.QueryString["year"] != "")
    {
        try
        {
            selectedYear = int.Parse(Request.QueryString["year"]);
            query = true;
        }
        catch (Exception e)
        { }
    }

    if (Request.QueryString["month"] != null && Request.QueryString["month"] != "")
    {
        try
        {
            selectedMonth = int.Parse(Request.QueryString["month"]);
            query = true;
        }
        catch (Exception e)
        { }
    }

    var iterations = 0;

    var whatsOns = Model.AncestorOrSelf(1).Descendants("EventsArea");
    var whatsOn = whatsOns.First();
    var events = whatsOn.Children
        .Where(x => ((DateTime)x.GetPropertyValue("eventDate")).Month == selectedMonth && ((DateTime)x.GetPropertyValue("eventDate")).Year == selectedYear)
        .OrderBy(x => ((DateTime)x.GetPropertyValue("eventDate")).Day);
    
    //default to month with events
    if(!query && events.Count() == 0)
    {
        int attempt = 0;
        while(attempt++ < 12)
        {
            if(selectedMonth == 12){
                selectedMonth = 1;
                selectedYear++;
            }else{
                selectedMonth++;
            }

            events = whatsOn.Children
                .Where(x => ((DateTime)x.GetPropertyValue("eventDate")).Month == selectedMonth && ((DateTime)x.GetPropertyValue("eventDate")).Year == selectedYear)
                .OrderBy(x => ((DateTime)x.GetPropertyValue("eventDate")).Day);
            
            if(events.Count() > 0){
                break;   
            }
        }
    }
        
            //always output calandar
    <div class="clearfix">
        <div id="datepicker" class="clearfix"></div>

        @* output first event if we've got one *@
        @if (events.Count() > 0)
        {

            <div class="threeCol boxborder pullRight" id="event_@events.First().Id">
                @printEvent(events.First(), true)
            </div>
            
        }
        else
        {
            <div class="threeCol boxborder pullRight">
                <div class="boxHeading">
                    <div class="date selected">
                        There are no events this month
                    </div>
                </div>
            </div>
        }

    </div>
    
    
    if (events.Count() > 1)
    {
        var initial = true;
        foreach (var publishedContent in events)
        {
            //skip first item as it's already been printed
            if (initial)
            {
                initial = false;
                continue;
            }

            if (iterations == 0 || iterations % 2 == 0)
            {
    @:<div class="clearfix">
}
            
            <div class="threeCol boxborder @(iterations % 2 != 0 ? "pullRight" : String.Empty)"  id="event_@publishedContent.Id">
                @printEvent(publishedContent)
            </div>
    
            if (iterations % 2 != 0)
            {
               @:</div>
                }

            iterations++;
        }

        if (iterations % 2 == 1)
        {
    @:</div>
        }
    } 
}


@*

<div class="clearfix">
    <div id="datepicker" class="clearfix"></div>
    <div class="threeCol boxborder pullRight">
        <div class="colImage"></div>
        <div class="boxHeading">
            <div class="date selected">25th June 2014</div>
            <div class="location">Sherbourne, Crewe</div>
            <h3>Nantwich Gardening Events</h3>
        </div>
        <div class="boxDetail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod erat volutpat.</div>
        <div class="readmore"><a href="#">Read more ›</a> </div>
    </div>
</div>
<div class="clearfix">
    <div class="threeCol boxborder">
        <div class="colImage"></div>
        <div class="boxHeading">
            <div class="date">25th June 2014</div>
            <div class="location">Victoria Community Centre, Crewe</div>
            <h3>Summer Fun Day</h3>
        </div>
        <div class="boxDetail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod erat volutpat.</div>
        <div class="readmore"><a href="#">Read more ›</a> </div>
    </div>
    <div class="threeCol boxborder pullRight">
        <div class="colImage"></div>
        <div class="boxHeading">
            <div class="date">25th June 2014</div>
            <div class="location">Pickmere, Crewe</div>
            <h3>Supported Living Social Evening</h3>
        </div>
        <div class="boxDetail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod erat volutpat.</div>
        <div class="readmore"><a href="#">Read more ›</a> </div>
    </div>
</div>



*@

@helper printEvent(IPublishedContent publishedContent, bool initial = false)
{
    <div class="colImage">
        @if (publishedContent.HasValue("image"))
        {
            var image = publishedContent.GetPropertyValue("image");  
        
            <img src="@Umbraco.TypedMedia(image).Url" />
        
        }
    </div>
    <div class="boxHeading">
        @{
            DateTime eventDate = (DateTime)publishedContent.GetPropertyValue("eventDate");
        }

        @if (initial)
        {
            @:<div class="date selected">@DateHelper.getDateEventShort(eventDate)</div>
        }
        else
        {
            @:<div class="date">@DateHelper.getDateEventShort(eventDate)</div>
        }

        <div class="location">@publishedContent.GetPropertyValue("location")</div>
        <h3>@publishedContent.GetPropertyValue("title")</h3>
    </div>
    <div class="boxDetail">@publishedContent.GetPropertyValue("description").ToString().Truncate(100)</div>
    <div class="readmore"><a href="@publishedContent.Url">Read more ›</a></div>
    
}

@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
    @Html.Raw(input)
    }
    else
    {
    @Html.Raw(input.Substring(0, length))<text>...</text>
    }
}


