/* Fonts */

@font-face {
				font-family: "Taz-Regular";
				src: url("fonts/Taz_500_.eot");
				src: url("fonts/Taz_500_.eot?#iefix") format("embedded-opentype"),
				url("fonts/Taz_500_.woff") format("woff"),
				url("fonts/Taz_500_.svg#Taz_500_") format("svg");
				font-weight: normal;
				font-style: normal;
			}
			
@font-face {
				font-family: "Taz-SemiBold";
				src: url("fonts/Taz_600_.eot");
				src: url("fonts/Taz_600_.eot?#iefix") format("embedded-opentype"),
				url("fonts/Taz_600_.woff") format("woff"),
				url("fonts/Taz_600_.svg#Taz_600_") format("svg");
				font-weight: normal;
				font-style: normal;
			}

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
 body {
	 color:#4D4D4D;
	 font-family: Taz-Regular, Arial, sans-serif;
 }

#body {
    margin-top: -110px;
}
   
/* COLOURS */

.wBlueBg {
	background:#00AABD;
	color:#FFFFFF;
}

.wLtBlueBg {
	background:#E5F6F8;
	color:#00AABD;
}

.wGreenBg {
	background:#C7D126;
	color:#FFFFFF;
}

.wRedBg {
	background: #EE2A52;
	color:#FFFFFF;
}

.wMagentaBg {
	background:#EB1D86;
	color:#FFFFFF;
}

.wOrangeBg {
	background:#FF8A00;
	color:#FFFFFF;
}

.wPurpleBg {
	background:#8E66AB;
	color:#FFFFFF
}

.ltGreyBg {
	background:#F5F5F5;
}

/* BUTTONS */

.smallButton {
	background:url(/images/buttons/small.png) no-repeat;
	height:35px;
	width:105px;
	color:#333333;
	border:0;
	font-family: Taz-SemiBold, Arial, sans-serif;
}

/* TEXT */

h1 {
	font-family: Taz-Regular, Arial, sans-serif;
	font-weight:normal;
	color:#00AABD;
	font-size:2.5em;
	margin-top: 0;
}

h2 {
	font-family: Taz-Regular, Arial, sans-serif;
	font-weight:normal;
	font-size:2.2em;
	color:#00AABD;
	font-weight:normal;
	font-style: normal;
}

h3 {
	font-family: Taz-SemiBold, Arial, sans-serif;
	font-weight:normal;
	color:#00AABD;
	font-size: 1.3em;
}

h4 {
	font-family: Taz-SemiBold, Arial, sans-serif;
	font-weight:normal;
	color:#076D78;
	font-size:1.2em;
}

h5 {
	background-color: #EEBE21;
	color: #FFF;
	font-size: 1.4em;
	font-family: Taz-SemiBold, Arial, sans-serif;
	padding: 8px 12px 8px 12px;
	margin: 20px 0 0 0;
}

.wBlueBg h2 {
	color:#FFFFFF;
}

.date {
	color:#EBB818;
	font-family: Taz-SemiBold, Arial, sans-serif;
	font-size: 1.1em
}

/* COLUMNS */

.threeCol {
	width:308px;
	float:left;
	background:#FFFFFF;
	color:#4D4D4D;
}

.threeColAlt {
	margin:0 9px 0 9px;
}

.twoCol {
	width:430px;
	float:left;
}

.twoColAlt {
	margin-left:80px;
}

/* LINKS */
a {
	color:#00AABD;
	text-decoration:none;
}

a:hover {
	text-recoration:underline;
}

a:visited {
	color:#075D66;
}


/* MISC */

.relative {
	position:relative;
}

.wulvernLogo {
	display:inline !important;
}

.desktop {
	display:block;
}

.mobile {
	display:none;
}

.pullRight {
	float:right;
}

.pullLeft {
	float:left;
}

.wraper {
	width:950px;
	padding:0 5px 0 5px;
	margin:0 auto;
	position:relative;
}

.wrapernopad {
	width:960px;
	padding:0;
	margin:0 auto;
	position:relative;
}

.shadow {
	box-shadow: 0px 3px 14px #000000;
	-webkit-box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.5);
}

.colImage {
	background:#DCDCDC;
	height: 176px;
	width: 308px;
	overflow:hidden;
}

.readmore {
	display: table; 
}

.readmore a {
	color:#00AABD;
	width:310px;
	border-top:1px solid #E6E6E6;
	display: table-cell;
	height:48px;
	vertical-align: middle; 
	padding:0 15px 0 15px;
}

.boxborder {
	border:1px solid #E6E6E6;
	margin-bottom:38px;
}

.boxHeading {
	border-bottom:1px solid #E6E6E6;
	padding:15px;
}

.boxHeading h3 {
	margin: 0;
}

.boxDetail {
	padding:15px;
	font-family: Arial, sans-serif;
}

.row .image, .altRow .image {
	float: left;
	width: 77px;
	margin-right: 15px;
}

.rowContent {
	padding-left:95px;
}

.largeBlueButton {
	width:197px;
	height:26px;
	background:url(/images/buttons/largeBlueButton.png) no-repeat;
	color:#FFF;
	display:block;
	text-align:center;
	padding-top:4px;
}


/* HEADER */
.headWrapper {
	position: fixed;
	top: 0;
	margin: 0 auto;
	width: 100%;
	z-index: 99999;
	background: white;
}

header {
	width:960px;
	margin:0 auto;
	height:122px;
	overflow: hidden;
	position:relative;
}

.headRight {
	width:500px;
	text-align: right;
	position: absolute;
	text-align: right;
	z-index: 999999;
	right: 0;
	top: 0;
}

.headRight p {
	margin: 7px 0;
}

.fadeIn {
	display:none;
}

.emailIcon, .telIcon,.telText, .emailText  {
	float:right;
	margin-right:10px;
}

.telText, .emailText {
	padding-top:9px;
}

.hide {
	display:none;
}

/* BREADCRUMB */

.breadcrumb {
	margin-top:182px;
	padding-left: 282px;
}

.breadcrumbfull {
	margin-top:182px;
}

/* SIDE NAVIGATION */

.sideNav {
	width:245px;
	float:left;
}

.sideNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sideNavTitle {
	background-color:#EEBE21;
	color:#FFF;
	font-size:1.4em;
	font-family: Taz-SemiBold, Arial, sans-serif;
	padding:8px 12px 8px 12px;
}

.sideNav ul li a {
	display:block;
	background:#FDF8E8;
	border-bottom:2px solid #EEBE21;
	padding:6px 12px 6px 12px;
	color:#076D78;
	font-size:1em;
}

.sideNav a:visited {
	color:#076D78;
}

.sideNav ul li  ul li a {
	border-bottom:1px solid #F9EBBC;
	padding-left:22px;
}

.sideNav ul li a:hover {
	background-color:#CBEEF1;
}

.sideNavActive a {
	background-color:#CBEEF1 !important;
	border-bottom:2px solid #CBEEF1 !important;
}

/* SIDE NAVIGATION BUTTONS */

.sideNavPay,.sideNavReport,.sideNavHomes,.sideNavInvolved,.sideNavAccount {
	height:41px;
	display:block;
	margin-top:9px;
	font-size:1.4em;
	padding-left:14px;
	padding-top: 15px;
}

.sideNavPay {
	margin-top:45px;
	background:url(/images/buttons/icons/sideNavPay.png) right  no-repeat #EE2A52;
	color:#FFF;
}

.sideNavReport {
	background:url(/images/buttons/icons/sideNavReport.png) right  no-repeat #C7D126;
	color:#FFF;
}

.sideNavHomes {
	background:url(/images/buttons/icons/sideNavHomes.png) right  no-repeat #EB1D86;
	color:#FFF;
}

.sideNavInvolved {
	background:url(/images/buttons/icons/sideNavInvolved.png) right  no-repeat #FF8A00;
	color:#FFF;
}

.sideNavAccount {
	background:url(/images/buttons/icons/sideNavAccount.png) right  no-repeat #8E66AB;
	color:#FFF;
}

/* CONTENT AREA */

.contentArea {
	width:670px;
	float:right;
}

.meetContainer {
}

.meet {
	border:1px solid #00AABD;
	width:310px;
	height:106px;
	float:left;
	display:block;
	background:url(/images/buttons/meetBg.gif) right no-repeat #00AABD;
	color:#FFF;
	position: relative;
	font-size:1.4em;
	 display: table; 
}

.meetText {
	display: table-cell;
	vertical-align: middle;
	width:130px;
	padding-left:10px;
}

.meet img {
	bottom:0;
	right:0;
	position:absolute;
}

.meetAlt {
	float:right
}

/* SOCIALL SIDEBAR */

.socialSideBar {
	width:43px;
	right:0;
	top:243px;
	position:fixed;
}

.socialFooterBar {
	text-align:right;
	display:none;
	font-size: 1.1em;
}

.socialFooterBar span {
	margin-right: 10px;
	float: right;
	margin-top: 10px;
}


/* Side lnks */

.facebookLink {
	display:block;
	width:53px;
	height:52px;
	background:url(/images/social/facebook.png) no-repeat;
}

a.facebookLink:hover {
	background:url(/images/social/facebook_over.png) no-repeat;
}

.youtubeLink {
	display:block;
	width:53px;
	height:52px;
	background:url(/images/social/youtube.png) no-repeat;
}

a.youtubeLink:hover {
	background:url(/images/social/youtube_over.png) no-repeat;
}

.twitterLink {
	display:block;
	width:53px;
	height:52px;
	background:url(/images/social/twitter.png) no-repeat;
}

a.twitterLink:hover {
	background:url(/images/social/twitter_over.png) no-repeat;
}

.googleLink {
	display:block;
	width:53px;
	height:52px;
	background:url(/images/social/googleplus.png) no-repeat;
}

a.googleLink:hover {
	background:url(/images/social/googleplus_over.png) no-repeat;
}

/* Footer links */

.facebookFooterLink {
	display:block;
	width:53px;
	height:52px;
	background:url(/images/social/facebook_bottom.png) no-repeat;
	float:right;
}

a.facebookFooterLink:hover {
	background:url(/images/social/facebook_bottom_over.png) no-repeat;
}

.youtubeFooterLink {
	display:block;
	width:53px;
	height:52px;
	background:url(/images/social/youtube_bottom.png) no-repeat;
	float:right;
}

a.youtubeFooterLink:hover {
	background:url(/images/social/youtube_bottom_over.png) no-repeat;
}

.twitterFooterLink {
	display:block;
	width:53px;
	height:52px;
	background:url(/images/social/twitter_bottom.png) no-repeat;
	float:right;
}

a.twitterFooterLink:hover {
	background:url(/images/social/twitter_bottom_over.png) no-repeat;
}

.googleFooterLink {
	display:block;
	width:53px;
	height:52px;
	background:url(/images/social/googleplus_bottom.png) no-repeat;
	float:right;
}

a.googleFooterLink:hover {
	background:url(/images/social/googleplus_bottom_over.png) no-repeat;
}


/* SLIDES */

.slide {
	width:960px;
	height:396px;
	color:#FFFFFF;
	position:relative;
}

.slideBgImage {
	position:absolute;
}

.slideContent {
	width:430px;
	padding:40px 0 0 30px;
	position:relative;
}

.slideContent h2 {
	color:#FFFFFF;
	font-size:5em;
	line-height:1em;
	margin:0 0 .1em 0;
	font-family: Taz-SemiBold, Arial, sans-serif;
}

.slideContent p {
	font-size:1.2em;
}

.slideButton {
	background:url(/images/buttons/slide_button.png) no-repeat;
	width:105px;
	height:40px;
	display:inline-block;
	color:#FFFFFF;
	padding:7px;
	text-align:center;
}

a.slideButton {
	color:#FFFFFF;
}

a.slideButton:hover {
	color:#075D66;
}

.slideButton:visited {
	color:#FFFFFF;
}



/* Search */

.searchButton {
	width:39px;
	height:39px;
	background:#EBB818;
	border:0;
	background:url(/images/search.gif) no-repeat;
	font-size:0;
	float: right;
	border-radius:0;
}

.searchField {
	height:35px;
	width: 348px !important;
	border: 1px solid #E6E6E6;
	background:#F2F2F2;
	padding-left:5px;
	float:right;
}

.searchFieldContainer {
	position:relative;
}

.searchAreaContainer {
	margin-top: 14px;
}

form p { position:relative }
/* .searchLabel  { position:absolute; top:9px; left:116px} */

.searchFieldContainer .infield-label label {
	left: 105px;
}

/* Latest publications */
.latestPublications h3, .latestJobs h3 {
	margin:0;
}

.latestPublications .image {
	float:left;
	width:77px;
	margin-right: 15px;
}

.row {
	border-top: 1px solid #E6E6E6;
	padding:15px 10px 15px 10px;
	font-family: Arial, sans-serif;
}

.altRow {
	border-top: 1px solid #E6E6E6;
	background:#F5F5F5;
	padding: 15px 10px 15px 10px;
	font-family: Arial, sans-serif;
}


/* NAVIGATION */

nav {
	position:relative;
}

nav ul {
	margin:0 auto;
	padding:0;
	width:960px;
}

nav li {
	margin:0;
	padding:0;
	float:left;
}

nav a {
	color:#FFFFFF;
	text-decoration:none;
	padding:11px 13px 0 13px;
	height:33px;
	display:block;
	border-right:1px solid #4CC3D0;
}

nav a:visited {
	color:#FFF;
}

nav a:hover {
	background:#EBB818;
}

.subNavContainer {
	position:absolute;
	left:0;
	width:100%;
	background:#F5F5F5;
	color:#4D4D4D;
	border-top:4px solid #EBB818;
	display:none;
}

.subNav {
	width:944px;
	height:277px;
	margin:0 auto;
	padding:30px 18px 30px 18px;

}

.subNav ul {
	float:left;
	width:278px;
}

.subNav li {
	float:none;
}

.subNav a {
	color:#076D78;
	border:0;
}

.subNav a:visited {
	color:#076D78;
}


.subNav a:hover {
	background:none;
	text-decoration:underline;
}

.subNavImage {
	background:#DCDCDC ;
	width:325px;
	height:235px;
	float:right;
}

.subNavText {
	float:left;
}

.subNavText a {
	color: #00AABD;
	display:inline;
	padding:0;
}

.sbNav {
	width:600px;
	float:left;
}

/* HOME PAGE */

.ourHomesContainer {
	position:relative;
}

/* slides */

.slides {
	height:396px;
	position: absolute;
	z-index: 0;
	overflow:hidden;
	margin-top: 165px;;
}

/* home buttons */

.homeButtons {
	margin-top: 560px;
}

.homeButtons a, .commontButtons a {
	height: 60px;
	width: 106px;
	display: block;
	float: left;
	margin: 13px 0 13px 0;
	padding-left: 65px;
	font-size: 1.2em;
	line-height: 1.1em;
	padding-top: 15px;
}

.homeButtons a:hover, .commontButtons a:hover {
	text-decoration:none;
}

.homeButtons a:visited, .commontButtons a:visited {
	color:#FFFFFF;
}

.commontButtons {
	display:none;
}

.buttonAngle {
	width:23px;
	height:75px;
	float:left;
	margin:13px 0 13px 0;
}

.payButton {
	background:url(/images/buttons/icons/pay.png) 5px center no-repeat #EE2B53;
}

a.payButton:hover {
	color:#922033;
	background:url(/images/buttons/icons/pay_over.png) 5px center no-repeat #EE2B53;
}


.reportButton {
	background:url(/images/buttons/icons/repair.png) 5px center no-repeat #C7D126;
}

a.reportButton:hover {
	color:#767F18;
	background:url(/images/buttons/icons/repair_over.png) 5px center no-repeat #C7D126;
}

.homesButton {
	background:url(/images/buttons/icons/homes.png) 5px center no-repeat #EB1D86;
}

a.homesButton:hover {
	color:#7C1246;
	background:url(/images/buttons/icons/homes_over.png) 5px center no-repeat #EB1D86;
}

.involvedButton {
	background:url(/images/buttons/icons/involved.png) 5px center no-repeat #FF8A00;
}

a.involvedButton:hover {
	color:#794F0C;
	background:url(/images/buttons/icons/involved_over.png) 5px center no-repeat #FF8A00;
}

.accountButton {
	background:url(/images/buttons/icons/account.png) 5px center no-repeat #8E66AB;
}

a.accountButton:hover {
	color:#553C63;
	background:url(/images/buttons/icons/account_over.png) 5px center no-repeat #8E66AB;
}

.buttonAngleRG {
	background:url(/images/buttons/angles/red-green.png) no-repeat;
}

.buttonAngleGM {
	background:url(/images/buttons/angles/green-magenta.png) no-repeat;
}

.buttonAngleOP {
	background:url(/images/buttons/angles/orange-purple.png) no-repeat;
}

.buttonAngleMO {
	background:url(/images/buttons/angles/magenta-orange.png) no-repeat;
}

.performanceButton, .valueButton {
	display:block;
	height:135px;
	float:left;
	font-size:1.6em;
	padding:17px 50px 0 120px;
}

.performanceButton {
	background:url(/images/buttons/performance.png) center no-repeat;
	width:309px;
	border-right:1px solid #98DDE4;
}

.valueButton {
	background:url(/images/buttons/value.png) center no-repeat;
	width:280px;
}

/* Pupular pages */

.popular {
	border-top:10px solid #EBB818;
}

.popular a {
	color:#076D78;
	background:#E5F6F8;
	padding:10px 10px 10px 10px;
	margin-right:10px;
	line-height: 2.8em;
	white-space:nowrap;
}

/* Latest tweets */

.latestTweets {
	border-top:10px solid #EBB818;
}

.latestTweets h2 img {
	margin-right:7px;
}

.tweets {
	height:149px;
	overflow:hidden;
}

.tweet {
	width:100%;
	height:177px;
	margin-top: 0;
}

.tweetTime {
	font-size:.8em;
	color:#00AABD;
	margin-bottom: 0;
}

/* pager */

.pager {
	float:left;
}

.pager span, .slidepager span, .homespager span {
	font-size:0;
	cursor:pointer;
	background:url(/images/buttons/off_small.png) no-repeat center;
	width:19px;
	height:17px;
	display:block;
	float:left;
}

.slidepager span, .homespager span {
	background:url(/images/buttons/off_white_small.png) no-repeat center;
}

.pager span.cycle-pager-active {
	background:url(/images/buttons/on_small.png) no-repeat center;
}

.slidepager span.cycle-pager-active, .homespager span.cycle-pager-active {
	background:url(/images/buttons/on_white_small.png) no-repeat center;
}

.tweet-previous, .slide-previous, .homes-previous {
	float:left;
	cursor:pointer;
	font-size:0;
	background:url(/images/buttons/left_small.png) center no-repeat;
	width:17px;
	height:17px;
	display:block;
}

.tweet-next, .slide-next, .homes-next {
	float:left;
	cursor:pointer;
	font-size:0;
	background:url(/images/buttons/right_small.png) center no-repeat;
	width:17px;
	height:17px;
	display:block;
}

.slidePaging {
	z-index: 0;
	position: absolute;
	margin-top: 525px;
	margin-left: 791px;
	width: 160px;
}

.homesPaging {
	margin-left: 72px;
	display: none;
}

/* BUTTONS */
.viewall {
	color:#333333;
	float:right;
	background:url(/images/buttons/small.png) no-repeat;
	width:106px;
	height:35px;
	font-size: .6em;
	padding: 4px 0 0 0;
	text-align: center;
	font-family: Taz-SemiBold, Arial, sans-serif;
}

a.viewall:hover {
	color:#8D7414;
}

/* FORMS */

form p { position:relative }
/* label  { position:absolute; top:9px; left:5px;color:#808080;} */

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email] {
	border: 1px solid #E6E6E6;
	background:#F2F2F2;
	height:35px;
	padding-left:5px;
	color:#808080;
	width:97%;
}

/* FORM FIELDS */

.catSelect {
	width:100%;
	font-family: Taz-Regular, Arial, sans-serif;
	margin-bottom:20px;
	display:none;
}

.yearSelect {
	width:100%;
	font-family: Taz-Regular, Arial, sans-serif;
}

/* TAGS */
.tags {
	padding-top:10px;
}

.tags a {
	background:#E5F6F8;
	margin-right:2px;
	padding:6px 10px 6px 10px;
	display: inline-block;
	margin-bottom: 6px;
	color:#076D78;
}

/* PAGINATION */

.pagination {
	border-top:1px solid #E6E6E6;
	border-bottom:1px solid #E6E6E6;
	padding:20px 0 20px 0;
	clear:both;
	position:relative;
}

.pagNav {
	position:absolute;
	top:20px;
	left:0;
	width:100%;
	text-align: center;
}

.pagination a {
	background:#F2F2F2;
	color:#00AABD;
	padding:4px 6px 4px 6px;
	display:inline-block;
}

.pagination .selected {
	background:#00AABD;
	color:#FFF;
	padding:4px 6px 4px 6px;
}

.pagination .previousDisabeled {
	font-size:0;
	width:14px;
	height:22px;
	background:url(/images/buttons/pagination/pagPrevious-disabeled.png) no-repeat;
	display:inline-block;
	overflow:hidden;
}

.pagination .previous {
	font-size:0;
	width:14px;
	height:22px;
	background:url(/images/buttons/pagination/pagPrevious.png) no-repeat;
	display:inline-block;
	overflow:hidden;
}

.pagination .nextDisabeled {
	font-size:0;
	width:14px;
	height:22px;
	background:url(/images/buttons/pagination/pagNext-disabeled.png) no-repeat;
	display:inline-block;
	overflow:hidden;
}

.pagination .next {
	font-size:0;
	width:14px;
	height:22px;
	background:url(/images/buttons/pagination/pagNext.png) no-repeat;
	display:inline-block;
	overflow:hidden;
}

/* FOOTER */

footer {
	margin-top:80px;
}

.footerLogo {
	background:url(/images/wulvern_footer.gif) top left no-repeat;
}

.headOffice {
	width:225px;
	float:left;
	margin-left: 150px;
}

.quicklinks {
	width:270px;
	float:left;
}

.quicklinks a {
	color:#FFFFFF;
}

.quicklinks ul {
	padding:0;
	margin:0;
	list-style:none;
	float:left;
	width:50%;
}

.signup {
	width:295px;
	float:left
}

.copyright {
	width:50%;
	float:left;
	font-size:.9em;
}

.copyright img {
	margin-right:3px;
}

.awards {
	height:78px;
	text-align: center;
	padding-top: 12px;
}

.awards img {
	padding: 0 15px 0 15px;
}

.footerNav {
	float:right;
	width:50%;
	text-align:right;
	font-size:.9em;
}

.footerNav a {
	margin-right: 19px;
}

/* PERFORMANCE TABLE */

.performanceTable {
	font-family: Arial, sans-serif
}

.performanceTable caption {
	background:#EEBE21;
	color:#FFF;
	text-align:left;
	font-size:1.4em;
	padding: 5px 10px 5px 10px;
	font-family: Taz-SemiBold, Arial, sans-serif;
}

.performanceTable th {
	background:#FBF2D2;
	border-right:1px solid #EBB818;
	padding: 5px 10px 5px 10px;
}

.performanceTable tr {
	border-top:1px solid #EBB818;
}

.performanceTable td {
	border-right:1px solid #EBB818;
	padding: 5px 10px 5px 10px;
	text-align:center;
}

.performanceTable .altRow {
	background:#FEFDF8;
}

.performanceTable .trend {
	border-right: 0;
}

.performanceKey {
	width:344px;
	background:#FAFAFA;
	float:right;
	padding:10px 15px 10px 15px;
	margin-bottom:20px;
}

.performanceSelect {
	position:absolute;
	bottom:20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


@media only screen and (max-width: 1110px) {
	
/* SOCIALL SIDEBAR */

	.socialSideBar {
		display:none;
	}
	
	.socialFooterBar {
		margin-top: 80px;
		display:block;
		height: 43px;
	}
	
	footer {
		margin-top: 0;
	}

}

/* 768x */
@media only screen and (max-width: 1023px) {
	
	.wrapernopad {
	width:768px;
	padding:0;
	margin:0 auto;
	position:relative;
	}
	
	header {
		height: 77px !important;
		border-bottom: 3px solid #00AABD;
		overflow:visible;
	}
	
	.headRight {
		right: 71px;
	}
	
	.wulvernMobileLogo {
		display:inline-block;
		float: left;
	}
	
	.wulvernLogo {
		display:none !important;
	}
	
	.sideNav, .fadeOut, nav {
		display:none !important;
	}
	
	.fadeIn {
		display:block;
	}
	
	.commontButtons {
		display:block;
	}
	
	/* FORM FIELDS */

	.catSelect {
		display:block;
	}
	
	
	/* Mobile Nav */
	
	#dl-menu {
		display:block;
	}
	
	.dl-menuwrapper, .dl-menu, .dl-menuwrapper .dl-menu {
		width: 768px;
		max-width: 768px;
	}
	
	
	.dl-menuwrapper button {
		margin-left: 669px;
	}
	
	.breadcrumb, .breadcrumbfull {
		margin-top: 10px;
		padding-left: 0;
	}
	
	.contentArea {
		float:none;
		width:670px;
		padding-left:0;
	}
	
	.headWrapper {
	position: relative;
	}
	
	header, nav ul, .wraper {
		width: 678px;
		padding: 0;
		padding-left: 45px;
		padding-right: 45px;
	}
	
	.slide {
		width:768px;
	}
	
	/* HOME */
	
	.thirdCol {
		display:none;
	}
	
	.latestPublications, .latestJobs, .latestTweets, .popular {
		width:100% !important;
		float:none;
		margin-left: 0 !important;
	}
	
	.latestJobs, .latestTweets, .popular {
		border-top: 3px solid #E6E6E6;
	}
	
	.threeColAlt {
		margin: 0 0 0 71px;
	}
	
	.ourHomes, {
		padding:0 37px 0 37px;
		width: 694px;
	}
	
	.latestNews {
		padding:0 37px 0 37px
	}
	
	.slides {
		margin-top: 0;
	}
	
	.slide, .slides {
		height:317px;
	}
	
	.slidePaging {
		margin-top: 289px;
		margin-left: 625px;
	}
	
	.slideContent {
		width: 385px;
		padding: 23px 0 0 30px;
	}
	
	.slideContent p {
		font-size: 1.1em;
	}
	
	/* HOME BUTTONS */

	
	.homeButtons {
		margin-top: 316px;
	}
	
	.homeButtons a, .commontButtons a {
		width: 80px;
		padding-left: 55px;
		font-size: 1.1em;
		padding-top: 20px;
		height:55px;
	}
	
	.performanceButton {
		width:233px;
	}

	.valueButton {;
		width:234px;
	}
	
	.performanceButton {
		background:url(/images/buttons/performance_mid.png) center no-repeat;
	}

	.valueButton {
		background:url(/images/buttons/value_mid.png) center no-repeat;
	}
	
	.valueButton, .performanceButton {
		font-size: 1.4em;
		line-height: 1.2em;
		height:106px;
		padding: 10px 50px 0 100px;
	}

	.twitterPaging {
		margin-bottom:20px;
		margin-left:271px;
	}
	
	.pager span {
		background: url(/images/buttons/off.png) no-repeat center;
		width: 32px;
		height: 28px;
	}
	
	.pager span.cycle-pager-active {
		background:url(/images/buttons/on.png) no-repeat center;
		width: 32px;
		height: 28px;
	}
	
	.homespager span {
		background: url(/images/buttons/off_white.png) no-repeat center;
		width: 32px;
		height: 28px;
	}
	
	.homespager span.cycle-pager-active {
		background:url(/images/buttons/on_white.png) no-repeat center;
		width: 32px;
		height: 28px;
	}
	
	.homes-previous {
		width:28px;
		height:28px;
	}
	.homes-next {
		width:28px;
		height:28px;
	}
	
	
	.tweet-previous {
		width:28px;
		height:28px;
	}
	.tweet-next {
		width:28px;
		height:28px;
	}
	
	.signup {
		width:100%;
		float:none;
		clear:both;
		border-top: 1px solid #32BBCA;
	}
	.signup h4 {
		margin-bottom:0;
	}
	
	.signup  .smallButton {
		float:left;
	}
	
	.signup  p {
		float:left;
		margin:0;
	}
	
	.signupIntro {
		padding-top: 9px;
		padding-right: 20px;
	}
	
	#signupfield {
		width:276px;
		float:left;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	
	.slideContent h2 {
		font-size: 4em;
	}
	
	.ourHomes, .latestNews {
		padding: 0 25px 25px 25px;
		width: 694px;
	}
	
	.latestNews {
		padding-bottom:30px;
	}
	
	/* performance */
	
	.performanceTable {
		font-family: Arial, sans-serif;
		font-size: .7em;
	}

	.performanceKey {
		width: 316px;
	}

	
}

/* 320x */
@media only screen and (max-width: 767px) {
	
	
	.contentArea {
		width:290px;
		padding:0 0 0 0;
	}
	
	.wrapernopad {
		width:320px;
	}
	
	.meet {
		width:290px;
		float:none;
	}
	
	.meetAlt {
		margin:18px 0 0 0;
	}
	
	.latestPublications, .latestJobs, .latestTweets, .popular {
		width: 310px !important;
		float: none;
		margin-left: 0 !important;
	}
	
	.row, .altRow {
		clear:both;
	}
	
	/* Mobile Nav */
	
	#dl-menu {
		display:block;
	}
	
	.dl-menuwrapper, .dl-menu, .dl-menuwrapper .dl-menu {
		width: 320px;
		max-width: 320px;
	}
	
	
	.dl-menuwrapper button {
		margin-left: 268px;
	}
	
	/* MISC */
	
	.ourHomes, .latestNews {
		padding: 0 0 25px 0;
		width: 694px;
	}
	
	.desktop, .fadeOut, .headRight, .jobsIntro, .quicklinks, .largeBlueButton, .description {
		display:none;
	}
	
	.mobile {
		display:block;
	}
	
	.mobileicons {
		width:118px;
		float:left;
		margin-left: 37px;
		margin-top: 21px;
		z-index: 9999;
		position: absolute;
		left: 86px;
	}
	
	
	.mobileSearchContainer {
		position: absolute;
		top: 80px;
		background: white;
		width: 320px;
		display:none;
	}
	
	.mobileSearchField {
		height: 35px;
		width: 273px !important;
		border: 1px solid #E6E6E6;
		background: #F2F2F2;
		padding-left: 5px;
		float: right;
	}
	
	#mobileSeatchToggle {
		cursor:pointer;
	}

	header, nav ul {
		padding:0;
	}
	
	.wraper {
		overflow:visible;
		width:315px;
		padding: 0 0 0 5px;
	}
	
	 .slide {
		 width:320px;
	 }
	
	header {
		width: 320px;
		overflow:visible;
		border-bottom: 3px solid #00AABD;
		height: 77px !important;
	}
	
	/* SLIDES */
	
	.slides, .slide {
		height: 171px;
		margin-top:0;
	}
	
	.slideContent {
		width: 320px;
		padding: 0 0 0 0;
		position: relative;
		height: 171px;
	}
	
	.slideContent p {
		display:none
	}
	
	.slideContent h2 {
		font-size:1.4em;
		display:block;
		width:100%;
		height: 34px;
		padding-top: 10px;
		text-align:center;
		position:absolute;
		bottom:0;
		background: rgba(77, 77, 77, .5);
	}
	
	.slidePaging {
		margin-top: 195px;
		margin-left: 81px;
		z-index: 0
	}
	
		.slidepager span {
		background: url(/images/buttons/off.png) no-repeat center;
		width: 32px;
		height: 28px;
	}
	
	.slidepager span.cycle-pager-active {
		background:url(/images/buttons/on.png) no-repeat center;
		width: 32px;
		height: 28px;
	}
	
	.slide-previous {
		width:28px;
		height:28px;
	}
	
	.slide-next {
		width:28px;
		height:28px;
	}
	
	.homesPaging {
		display: block;
		margin-bottom: 20px;
	}
	
	.homeButtons, .commontButtons {
		margin-top: 245px;
	}
	
	.homeButtons a, .commontButtons a {
		height: 60px;
		width: 250px;
		display: block;
		margin:0;
		margin-bottom:7px;
		height: 40px;
		font-size: 1.4em;
		padding-top: 15px;
		padding-left: 70px;
	}
	
	.commontButtons {
		margin-top: 20px;
	}
	
	.payButton {
		background:url(/images/buttons/icons/pay.png) 15px center no-repeat #EE2B53;
	}
	
	.reportButton {
		background:url(/images/buttons/icons/repair.png) 15px center no-repeat #C7D126;
	}
	
	.homesButton {
		background:url(/images/buttons/icons/homes.png) 15px center no-repeat #EB1D86;
	}
	
	.involvedButton {
		background:url(/images/buttons/icons/involved.png) 15px center no-repeat #FF8A00;
	}
	
	.accountButton {
		background:url(/images/buttons/icons/account.png) 15px center no-repeat #8E66AB;
	}
	
	.homeButtons a br , .commontButtons a br {
		display:none
	}
	
	.performanceButton, .valueButton {
		width: 170px;
		border-right:0;
	}
	
	.performanceButton {
		border-bottom:1px solid #98DDE4;
	}
	
	.performanceContainer {
		margin-bottom:0;
	}
	
	.threeColAlt {
		margin:0;
	}
	
	.viewall {
		color: #333333;
		background: url(/images/buttons/small_mobile.png) no-repeat;
		width: 86px;
		height: 28px;
		font-size: 1em;
		padding: 4px 0 0 0;
		text-align: center;
		float:none;
		margin-top: 10px;
		margin-left: 116px;
	}
	
	.latestTweets, .popular {
		border-top:3px solid #E6E6E6;
		margin-top: 20px;
	}
	
	.footerLogo {
		background-image:none;
	}
	
	.headOffice {
		margin-left: 0;
		width:100%;
	}
	
	
	.awards img {
		padding: 0 1px 0 1px;
		height:35px;
	}
	
	.awards {
		height: 52px;
		padding-top: 16px;
	}
	
	.copyright, .footerNav {
		width:100%;
	}
	
	.footerNav a {
		margin-right: 9px;
	}
	
	.browsealoud {
		margin:0;
	}
	
	.twitterPaging {
		margin-left: 52px;
	}
	
	.ho {
		width: 145px;
		float: left;
	}
	
	.smallButton {
		background: url(/images/buttons/small_mobile.png) no-repeat;
		height: 28px;
		width: 86px;
		color: #333333;
		border: 0;
		font-family: Taz-Bold, Arial, sans-serif;
		margin-bottom:10px;
	}
	
	.signup .smallButton {
		float: right;
	}
	
	#signupfield {
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
		width: 200px;
		border-radius:0;
	}
	
	.socialFooterBar {
		margin-top: 20px;
	}
	
	.latestTweets h2, .popular h2, .latestJobs h2, .latestPublications h2{
		margin-bottom: .4em;
		margin-top: .4em;
	}
	
	.latestJobs {
		border-top: 3px solid #E6E6E6;
		margin-top: 20px;
	}
	
	.copyright img {
		margin-right: 2px;
	}
		
	.footerNav {
		text-align: left;
	}
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}