﻿html {
    font-family: Arial;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#container {
    width: 1028px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#header {
    position: relative;
}

#logo {
    width: 250px;
    margin-bottom: 20px;
}

#headerAddress {
    position: absolute;
    text-align: right;
    top: 50px;
    right: 230px;
    width: 250px;
    float: right;
    font-size: 12px;
}

.search {
    position: absolute;
    top: 130px;
    right: 230px;
    width: 250px;
    float: right;
}

#mainNav {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

#banner{
    height: 300px;
    position:relative;
    padding:10px;
}

#banner img {
    position: absolute;
    top: 10px;
    right: 250px;
    height: 300px;

}

#bannerText{
    position:absolute;
    top:20px;
    left:10px;
}

ul.nav, ul.loginView, ul.secondaryNav {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;
}

ul.nav li, ul.loginView li, ul.secondaryNav li {
    display: inline;
    padding: 20px;
}

ul.secondaryNav li a {
    color: white;
}

#breadcrumbs {
    margin-top: 10px;
}

ol.breadcrumb {
    list-style-type: none;
    text-decoration: none;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;
}

ol.breadcrumb li, ol.breadcrumb li {
    display: inline;
    padding: 10px;
}

.selected {
    background: url("http://localhost:5058/images/arrow-up.png") no-repeat bottom center;
    background-size : 10px;
}

.feed {
    position: relative;
    float: left;
    height: 700px;
    width: 30%;
    margin-right: 20px;
}

.feedItem {
    height: 200px;
}

.feedItem image {
    border: 1px solid black;
}

.feedItem .text  {
    width: 200px;
}

#content {
    width: 90%;
    text-align:justify;
    text-justify:inter-word;
    margin-bottom: 20px;
}

.introBox {
    background-color: gray;
    width: 47%;
    height: 200px;
    padding: 10px;
    float: left;
    margin-right: 10px;
}

.introBox.image {
    width: 100px;
 }

#tweets {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 20px;
}

#twitterLogo {
    width: 200px;
}

#twitterLogo img {
    width: 100px;
}

#latestTweet {
    width: 80%;
    position: absolute;
    top: 75px;
    left: 150px;
}

#linkPods {
    width: 100%;
    height: 250px;
    display: block;
}

.latestJob {
    position: relative;
    margin: 0px 10px 10px 0px;
    width: 45%;
    float: left;
    background-color: black;
    height: 50px;
    color: white;
    padding: 20px;
}

 .latestJob .arrow-right {
     position: absolute;
     top: 25px; 
     right: 20px;
    }

footer {
    margin-top: 20px;
}

#footer {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #3399CC;
    margin-top: 20px;
}

.footerHeader {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

#footerAddress {
    position: absolute;
    font-size: 12px;
    top: 20px;
    left: 90px;
    color: white;
}

#openingHours {
    position: absolute;
    font-size: 12px;
    top: 80px;
    left: 90px;
    color: white;
}

#footerNewsletter {
    position: absolute;
    font-size: 12px;
    top: 20px;
    left: 700px;
    color: white;
}

#quickLinks {
    position: absolute;
    font-size: 12px;
    top: 20px;
    left: 300px;
    color: white;
}

#quickLinks p:before {

}

.small {
    font-size: 10px;
}

a:link {
    text-decoration: none;
}

.login {
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 310px;
    background: white;
    border-radius: 3px;
}

  p { margin: 20px 0 0; }
  p:first-child { margin-top: 0; }

  input[type=text], input[type=password] { width: 278px; }

p.remember_me {
    float: left;
    line-height: 31px;
}


.login-help {
    margin: 20px 0;
    font-size: 11px;
    color: white;
    text-align: center;
    text-shadow: 0 1px #2a85a1;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px; // Can we get this on WebKit please?
}

input[type=submit] {
    padding: 0 18px;
    height: 29px;
    font-size: 12px;
    font-weight: bold;
    color: #527881;
    text-shadow: 0 1px #e3f1f1;
    background: #cde5ef;
    border: 1px solid;
    border-color: #b4ccce #b3c0c8 #9eb9c2;
    border-radius: 16px;
    outline: 0;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid red;
    color: red;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* Arrow code*/
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #f00;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	
	border-left: 20px solid white;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid blue; 
}

.link-arrow {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	
	border-left: 5px solid white;
}

/* cookie notification */

#cookieNotification {
	min-width: 955px;
	height: 33px;
	z-index: 5000;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0;
	background: #2A3333;
	line-height: 25px;
	font-size: 14px;
	color:#FFFFFF;
	opacity:0.9;
}

#cookieNotification a{
	color:#FFFFFF;
	text-decoration:underline;
}

#cnContainer {
	margin:0 auto;width:808px;
	padding:4px 25px 0 25px;
}

#cookieNotifyHide {
	cursor:pointer;
}
/* Google maps page*/
#contactmap {
    width: 800px;
    height: 500px;
    border: 2px #ccc solid;
}

.infoDiv {
    height: 200px;
    width: 300px;
    -webkit-user-select: none;
    background-color: white;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    }

    #pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 401px;
    }

    .pac-container {
    font-family: Roboto;
    }

    #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
    }

    #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    }

    /* Performance section */
    .perf_chart {
        font-size: 11px;
    }

table td {
    text-align:center; 
    vertical-align:middle;
}

table {
    width: 100%;
}

.perf_chart table {
 background-color: #DDEBBB;
 margin-bottom:15px;
}

.perf_chart table .altcol {
 background-color: #EDF5DB;
}

.perf_chart th {
 background-color: #219D9F;
 border-bottom: 1px solid #FFFFFF;
 border-right: 1px solid #FFFFFF;
 color:#ffffff;
 text-align:center;
 padding: 5px;
 font-size:80%;
 font-weight: bold;
}

.perf_chart td {
 padding: 5px;
 font-size:70%;
 text-align:center;
 border-bottom: 1px solid #B1D358;
 border-right: 1px solid #B1D358;
}

.perf_chart td.left {
 text-align:left;
 border-right:0;
 font-size:70%;
}

.perf_chart th.left {
 
 border-right:0;

}

.perf_chart tr.bottom td {
 border-bottom:0;
}

#listTable h2 {margin:0;padding:0;color:#249B9E;}
#listTable {}
#listTable td {border-bottom:1px solid #574986;padding:10px;}

.performanceList thead {
 background-color: #B1D358;
 color:#1D191C;
 text-align:left;
 margin-bottom:1px;
}

.performanceList thead td {
 padding:3px;
}

.performanceList thead td.left {
 border-right:1px solid #ffffff;
}



