﻿@{
    Layout = "MasterLayout.cshtml";
}

<div id="annoncementsPanel">
    <h2>Announcements</h2>
</div>

<div id="yourProfile">
   @* @Html.Partial("YourProfile")*@
</div>

<div id="comment">
    @Html.Partial("ShareAComment")
</div>