﻿@model Wulvern.Infrastructure.Models.DownloadModel
@using System.Web.UI.WebControls

@{
    Layout = "MasterLayout.cshtml";
}

<div id="annoncementsPanel">
    <h2>Announcements</h2>
</div>
<div id="downloads">
    <h2>Downloads</h2>
    @{ var category = new List<ListItem> { new ListItem { Text = "Intranet", Value = "0" }, new ListItem { Text = "Website", Value = "1" } }; }
    <p>Filter by:</p>@Html.DropDownList("Category", new SelectList(category , "Value" , "Text"),new {onchange = "getAlldata()"})
    @Html.TextBox("Keyword")
    <hr />
    <div id="download">
        <h2>All downloads...</h2>
        <div style="float: left; width: 200px;">
            <img src="~/Images/wulvern-logo.jpg" />
        </div>
        <div id="text" style="float: left; width: 200px;">
            <h2>mModel.Title</h2>
            <p>mModel.CategoryName mModel.UploadedBy mModel.FileType mModel.DateUploaded</p>
            <p>mModel.Description</p>
        </div>
    </div>
</div>
@Html.Action("GetDownloads", "DownloadsSurface")

