﻿<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/main.css"/>
<link rel="icon" type="text/icon" href="~/Images/favicon.ico"
<meta name="google-translate-customization" content="a9ca91c1b228f6ca-9d07614cb39b01da-ged9179c50e273a94-19 /">
<meta name="viewport" content="width=device-width" />
<title>Intranet</title>
