﻿<ul class="nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">Explore Wulvern</a></li>
    <li><a href="#">Your profile</a></li>
    <li><a href="#">Service directory</a></li>
    <li><a href="#">Downloads</a></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Reporting</a></li>
</ul>

