﻿@using System.Web.UI.WebControls
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterLayout.cshtml";
}

<h2 style="margin-top: 10px;">Events</h2>
@{ var category = new List<System.Web.UI.WebControls.ListItem> { new ListItem { Text = "Intranet", Value = "0" }, new ListItem { Text = "Website", Value = "1" } }; }
<p>Filter by:</p>@Html.DropDownList("category", new SelectList(category , "Value" , "Text"))
@Html.TextBox("Keyword")
<hr />

<div id="datepicker"></div>

<link rel="stylesheet" href="~/css/jquery-ui.css" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript">
    $("#datepicker").datepicker();
</script>