﻿
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Head")     
</head>
    <body>
        <div id="container">
            <div id="header">
                <div id="loginView">
                    @Html.Partial("LoginView")
                </div>
                <div id="logo">
                    <a href="~/home">
                        <img src="~/Images/wulvern-logo.jpg" />
                    </a>
                </div>
                <div id="headerAddress">

                </div>
                <form id="search-form" method="post" runat="server" onclick="searchButton_Click" defaultbutton="searchButton">
                    <div class="search">
                        <input ID="searchTextBox" runat="server" placeholder="Search..." />
                        <input ID="searchButton" type="submit" runat="server" src="~/Images/nav-search-btn.gif" value="Search" />
                    </div>
                </form>
                <nav>
                <div id="mainNav">
                    @Html.Partial("MainNavigation")
                </div>
                </nav>
             </div>
            <div id="leftPane">
                <div id="announcementsPanel">
                    <h3>Announcements</h3>
                </div>
                <div id="content">
                @RenderBody()
            </div> 
            </div>
            <div id="rightPane">
                <div id="profile">
                    @Html.Partial("Profile")
                </div>
                <div id="events">
                   @Html.Partial("Events")
                </div>
                <div id="popularDownloads">
                   @Html.Partial("PopularDownloads")
                </div>
                <div id="banner">
                  @Html.Partial("Banner")
                </div>
            </div>        
            <footer>
                <div class="footer">
                    Here is the footer
                </div>
            </footer>
        </div>
    </body>
</html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $("category").change(function () {
        alert("changed");
    })
</script>




