﻿@using Wulvern.Intranet.Helpers
@using System.Web.UI.WebControls
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterLayout.cshtml";
}

<h2>Service Directory</h2>
@{ var category = new List<ListItem> { new ListItem { Text = "Intranet", Value = "0" }, new ListItem { Text = "Website", Value = "1" } }; }
<p>Filter by:</p>@Html.DropDownList("category", new SelectList(category , "Value" , "Text"))
@Html.TextBox("Keyword")
<hr />
<div class="dp-highlighter">
    <div class="bar">
        <div class="tools"></div>
    </div>
	@Html.AlphabeticalPager("A", x => Url.Action("List", "ServiceDirectorySurface", new {page = x}))
</div>