@inherits WebViewPage<Umbraco.Forms.Mvc.Models.FormViewModel>      
@using Umbraco.Forms.Core
@using Umbraco.Forms.Mvc.Models
@using Umbraco.Forms.Mvc.BusinessLogic
@using Umbraco.Forms.MVC.Extensions

@if (Model.SubmitHandled)
{
    <p class="contourMessageOnSubmit">@Html.Raw(Model.MessageOnSubmit)</p>
}
else
{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    @Html.Partial(FormViewResolver.GetScriptView(Model.FormId), Model)
    
    if (!Model.DisableDefaultStylesheet)
    {
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/umbraco/plugins/umbracocontour/css/jquery-ui-1.8.18.custom.css")" />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/main.css")" />
    }                                                                   

    <div id="contour_form_@{@Model.FormName.Replace(" ","")}" class="formContainer clearfix @Model.CssClass">
        @using (Html.BeginForm("ContourForm", "FormRender", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => Model.FormId)

            <input type="hidden" name="FormStep" id="FormStep" value="@Model.FormStep"/>
            <input type="hidden" name="RecordId" id="RecordId" value="@Model.RecordId"/>
            <input type="hidden" name="PreviousClicked" id="PreviousClicked" value="@Model.PreviousClicked"/>
           
         
            <div class="contourPage">
                <h2 class="contourPageName">@Html.Raw(Model.CurrentPage.Caption)</h2>

                @if (Model.ShowValidationSummary)
                {
                    @Html.ValidationSummary(false)
                }
                @foreach (FieldsetViewModel fs in Model.CurrentPage.Fieldsets)
                {
                    <fieldset class="contourFieldSet">
                        @if (!string.IsNullOrEmpty(fs.Caption))
                        {   
                            <legend>@Html.Raw(fs.Caption)</legend>
                        }
                        @foreach (FieldViewModel f in fs.Fields)
                        {
                            bool hidden = f.HasCondition && f.ConditionActionType == FieldConditionActionType.Show;
                            <div class="@f.CssClass" @{if (hidden){<text> style="display: none"</text>}}>
                                @if(!f.HideLabel){<label for="@f.Id" class="fieldLabel">@Html.Raw(f.Caption) @if (f.ShowIndicator){<span class="contourIndicator">@Model.Indicator</span>}</label>}
                                <div>@Html.Partial(FieldViewResolver.GetFieldView(Model.FormId, f.FieldTypeName, f.Caption), f)
                                @if (Model.ShowFieldValidaton){@Html.ValidationMessage(f.Id)}</div>
                                @if (!string.IsNullOrEmpty(f.ToolTip)){<small>@f.ToolTip</small>}
                            </div>
                        }
                    </fieldset>
                }
                <div style="display:none">
                    <input type="text" id="HoneyPot"/>
                </div>
            </div>

            <div class="contourNavigation">
                @if (Model.IsMultiPage)
                {
                    if (!Model.IsFirstPage)
                    {
                        <input class="cancel" type="submit" value="@Model.PreviousCaption" onclick="document.getElementById('PreviousClicked').value = 'back'"/>
                    }
                    if (!Model.IsLastPage)
                    {
                         <input type="submit" value="@Model.NextCaption"/>
                    }
                }
                @if (Model.IsLastPage)
                {
                    <input type="submit" class="sendButton pullRight" value="@Model.SubmitCaption"/>
                }
            </div>                        
            
        }
    </div>
}