﻿@using Wulvern.Infrastructure.Models
@model List<DownloadModel>
@using System.Web.UI.WebControls
<div id="downloads">
    <h2>Downloads</h2>
    @{ var category = new List<ListItem> { new ListItem { Text = "Intranet", Value = "0" }, new ListItem { Text = "Website", Value = "1" } }; }
    <p>Filter by:</p>@Html.DropDownList("category", new SelectList(category , "Value" , "Text"))
    @Html.TextBox("Keyword")
    <hr />
        @foreach(var item in Model)
        {
            <div id="download">
                <h2>All downloads...</h2>
                <div style="float: left; width: 200px;">
                    <img src="~/Images/wulvern-logo.jpg" />
                </div>
                <div style=""float: left;">
                    <h2>@item.Title</h2>
                    <p>@item.CategoryName @item.UploadedBy @item.FileType @item.DateUploaded</p>
                    <p>@item.Description</p>
                </div>
            </div>
        }
</div>