﻿<ul class="nav">
    <li><a href="~/">Home</a></li>
    <li><a href="#">Explore Wulvern</a></li>
    <li><a href="~/your-profile">Your profile</a></li>
    <li><a href="~/service-directory">Service directory</a></li>
    <li><a href="~/downloads">Downloads</a></li>
    <li><a href="~/events">Events</a></li>
    <li><a href="#">Reporting</a></li>
</ul>

