﻿@using Wulvern.Infrastructure.Models
@using System.Web.UI.WebControls
<div id="downloads">
    <h2 style="margin-top:10px">Popular downloads</h2>
        <div id="download">
            <div style=""float: left;">
                Event name<br />
                Event Description
            </div>
        </div>
</div>