﻿<h2 style="margin-top: 5px">Your profile</h2>
<div id="image">
    <img src="~/Images/wulvern-logo.jpg" />
</div>
<div id="text">
    Mark Jones<br />
    IT<br />
</div>
<div style="clear: both;"></div>