﻿@using System.Web.UI.WebControls
    <h3>Share a comment with your colleagues</h3>
    @{ var sender = new List<ListItem> { new ListItem { Text = "You", Value = "0" }, new ListItem { Text = "Me", Value = "1" } }; }
    @Html.DropDownList("Sender", new SelectList(sender , "Value" , "Text"),new {onchange = "getAlldata()"})
    @Html.TextBox("Title")
    @Html.TextBox("Update")
    @{ var category = new List<ListItem> { new ListItem { Text = "About You", Value = "0" }, new ListItem { Text = "About Me", Value = "1" } }; }
    @Html.DropDownList("Category", new SelectList(category , "Value" , "Text"),new {onchange = "getAlldata()"})