﻿<h2>Your Profile</h2>
<img src="~/Images/wulvern-logo.jpg">
<div id="profileText">
    <p><strong>Name:</strong></p>
    <p><strong>Job title:</strong></p>
    <p><strong>Dept:</strong></p>
    <p><strong>Location:</strong></p>
    <p><strong>Extension:</strong></p>
    <p><strong>Mobile:</strong></p>
    <p><strong>Email:</strong></p>
</div>