﻿@{
	<br/>
	int nrOfTweets = String.IsNullOrEmpty(Parameter.nrOfTweets) ? 10 : int.Parse(Parameter.nrOfTweets);
	string hashTag = String.IsNullOrEmpty(Parameter.hashTag) ? "#umbraco" : Parameter.hashTag;

	try
	{
	var t = new uTweets.Tweets();
	var result = t.GetTweetsAbout(hashTag);
	if (result != null)
	{
		<ul id="umbracotweets">
			@foreach(var tw in result.Take(nrOfTweets))
			{
				<li><img src="@(tw.AuthorImage)" align="left" style="margin-right:5px"> @Html.Raw(tw.TextAsHtml) (@tw.CreatedDate) (@tw.RelativeTime)</li>
			}
		</ul>
	}
	}
	catch (Exception ex)
	{
		@ex.ToString();
	}
	<div style="clear:both"></div>
}