﻿@{

	var t = new uTweets.Tweets();	
	var user = t.GetUser();
	
	<div>
		<p><b>@user.Name</b></p>
		<p>@user.Description</p>
		
		<p><img align="right" src="@(user.ProfileImageUrl)"/>Screenname: @user.ScreenName<br/>
		Followers: @user.FollowersCount<br/>
		Friends: @user.FriendsCount<br/>
		Tweets: @user.StatusesCount</p>
		
	</div>
	
	
}