﻿@{
	
	int nrOfTweets = String.IsNullOrEmpty(Parameter.nrOfTweets) ? 10 : int.Parse(Parameter.nrOfTweets);

	try
	{
	var t = new uTweets.Tweets();
	var result = t.GetTweets();
	if (result != null)
	{
		<ul>
			@foreach(var tw in result.Take(nrOfTweets))
			{
				<li>@(tw.Author): @Html.Raw(tw.TextAsHtml) (@tw.CreatedDate) (@tw.RelativeTime)</li>
			}
		</ul>
	}
	}
	catch (Exception ex)
	{
		@ex.ToString();
	}
}