﻿@inherits umbraco.MacroEngines.DynamicNodeContext
@using Eksponent.CropUp
@using Eksponent.CropUp.AutoDetect
@using Eksponent.CropUp.Client
@using Eksponent.CropUp.JavaScript

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterLayout.cshtml";
}

@{
    var imageUrl = @Umbraco.TypedMedia(1231).Url;
    var html = CropUpHtml.CropUpResponsive(imageUrl, upscaleStep: 200,
    cssClass: "resizable", style: "width:100%; height:320px", id: "editor-target");
    var html2 = CropUpHtml.CropUpResponsive(imageUrl, upscaleStep: 200,
   cssClass: "resizable", style: "width:230px; height:230px", id: "editor-target");
    var html3 = CropUpHtml.CropUpResponsive(imageUrl, upscaleStep: 200,
   cssClass: "resizable", style: "width:282px; height:160px", id: "editor-target");
    var html4 = CropUpHtml.CropUpResponsive(imageUrl, upscaleStep: 200,
   cssClass: "resizable", style: "width:564px; height:320px", id: "editor-target");
    var html5 = CropUpHtml.CropUpResponsive(imageUrl, upscaleStep: 200,
cssClass: "resizable", style: "width:564px; height:320px", id: "editor-target");
}

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:100%; height:320px" class="crop-up resizable" data-gravity="0.509375,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R/media/2665/Image-test.jpg" data-upscale-step="200" ></div>

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:230px; height:230px" class="crop-up resizable" data-gravity="0.509375,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R/media/2665/Image-test.jpg" data-upscale-step="200" ></div>

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:282px; height:160px" class="crop-up resizable" data-gravity="0.509375,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R/media/2665/Image-test.jpg" data-upscale-step="200" ></div>

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:564px; height:320px" class="crop-up resizable" data-gravity="0.1,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R/media/2665/Image-test.jpg" data-upscale-step="200" ></div>

<br />

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:100%; height:320px" class="crop-up resizable" data-gravity="0.509375,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R/media/2667/iStock_000016363546Medium.jpg" data-upscale-step="200" ></div>

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:230px; height:230px" class="crop-up resizable" data-gravity="0.509375,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R/media/2667/iStock_000016363546Medium.jpg" data-upscale-step="200" ></div>

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:282px; height:160px" class="crop-up resizable" data-gravity="0.509375,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R/media/2667/iStock_000016363546Medium.jpg" data-upscale-step="200" ></div>

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:564px; height:320px" class="crop-up resizable" data-gravity="0.1,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R/media/2667/iStock_000016363546Medium.jpg" data-upscale-step="200" ></div>

<br />

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:100%; height:320px" class="crop-up resizable" data-gravity="0.509375,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R/media/2668/Pinders_Pickmere_email-24.jpg" data-upscale-step="200" ></div>

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:230px; height:230px" class="crop-up resizable" data-gravity="0.509375,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R/media/2668/Pinders_Pickmere_email-24.jpg" data-upscale-step="200" ></div>

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:282px; height:160px" class="crop-up resizable" data-gravity="0.509375,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R//media/2668/Pinders_Pickmere_email-24.jpg" data-upscale-step="200" ></div>

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:564px; height:320px" class="crop-up resizable" data-gravity="0.1,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R//media/2668/Pinders_Pickmere_email-24.jpg" data-upscale-step="200" ></div>

<br />

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:100%; height:320px" class="crop-up resizable" data-gravity="0.509375,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R/media/2669/Your-neighbouhood.jpg" data-upscale-step="200" ></div>

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:230px; height:230px" class="crop-up resizable" data-gravity="0.509375,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R/media/2669/Your-neighbouhood.jpg" data-upscale-step="200" ></div>

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:282px; height:160px" class="crop-up resizable" data-gravity="0.509375,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R/media/2669/Your-neighbouhood.jpg" data-upscale-step="200" ></div>

<script type="text/javascript" src="/Scripts/CropUp.js"></script><div id="editor-target" style="width:564px; height:320px" class="crop-up resizable" data-gravity="0.1,0.5" data-box="0.01875,0,1,1" data-zoom="true" data-upscale-url="/CropUp/{w}x{h}R//media/2669/Your-neighbouhood.jpg" data-upscale-step="200" ></div>



