﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ReachmailApi
@using Wulvern.Web.ExtensionMethods;
@using Wulvern.Web.Helpers;
@using Wulvern.Core.Domain
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>404</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-translate-customization" content="89195447e3c87e0d-5206e98f18f76fc8-ge221369e5cab3244-1a">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mobile-nav.css">
    <link rel="stylesheet" href="/css/jquery.infieldLabel.css">
</head>
<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


    <!-- HEADER -->
    <div class="headWrapper">
        <header>
            <a href="/">
                <img src="/Images/wulvern_logo.gif" class="wulvernLogo desktop" />
                <img src="/Images/wulvern_mobile.png" class="wulvernMobileLogo mobile" />
            </a>

            <div class="mobileicons mobile">
                <a href="tel:01270506200">
                    <img src="/Images/buttons/icons/mobile_phone.png" width="35" height="28" alt=""></a> <a href="mailto:info@wulvern.org.uk">
                        <img src="/Images/buttons/icons/mobile_email.png" width="40" height="28" alt=""></a>
                <img src="/Images/buttons/icons/mobile_search.png" width="34" height="28" alt="" id="mobileSeatchToggle">
            </div>

            <div class="headRight">
                <p class="fadeOut">Call us on <a href="tel:01270506200">01270 506200</a></p>
                <p class="fadeOut">Email us on <a href="mailto:info@wulvern.org.uk">info@wulvern.org.uk</a></p>
            </div>

            <!-- Mobile Nav -->
            <div id="dl-menu" class="dl-menuwrapper mobile">
                &nbsp;
            </div>
            <!-- End mobile nav -->

        </header>
        <!-- NAVIGATION -->
        <nav class="wBlueBg fHeight shadow clearfix">

            
        </nav>
        <!-- END NAVIGATION -->
    </div>
    <div class="wraper clearfix">&nbsp;</div>
    <div class="wraper clearfix">

        <div class="message404">
                <img src="/Images/404_face.png" class="" />
                <h1>
                    Sorry, we can't find the page you're looking for,<br />
                    <a href="/">click here</a> to visit the homepage
                </h1>
            </div>
            <style>
                .fHeight {
                    height: 44px;
                }

                .message404 {
                    padding-top: 28px;
                    padding-left: 78px;
                    padding-bottom: 90px;
                    margin-top: 175px;
                }

                .message404 img {
                    float:left;
                }

                .message404 h1 {
                    float:left;
                    padding-top: 22px;
                    padding-left: 39px;
                    font-size:2.1em;
                }

                .message404 p {
                    font: "Taz-Regular";
                    color: #00AABD;
                    float:left;
                }

                .message404 a {
                    color: #076d78;
                }

                .footerLogo {
                    height: 95px;
                }

                .footerBlueBar {
                    height: 120px;
                }

            </style>


    </div>
    <footer class="cleafix">
        <div class="wBlueBg">
            <div class="footerLogo wraper clearfix">
                &nbsp;
            </div>
        </div>
        <div class="wraper">
            <div class="copyright">
                <p>© Wulvern Housing 2014. All rights reserved. </p>
                <p>
                    Other language versions <a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=pl">
                        <img src="/images/flags/poland.png" width="30" height="21" alt="" /></a><a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=sk"><img src="/images/flags/slovakian.png" width="30" height="21" alt="" /></a><a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=pt"><img src="/images/flags/portugese.png" width="30" height="21" alt="" /></a><a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=sq"><img src="/images/flags/albanian.png" width="30" height="21" alt="" /></a><a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=tr"><img src="/images/flags/turkish.png" width="30" height="21" alt="" /></a>
                </p>
                <p>Site by <a href="http://www.wearevibe.co.uk" target="_blank">Vibe</a></p>
            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
</body>
</html>