﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ReachmailApi
@using Wulvern.Web.ExtensionMethods;
@using Wulvern.Web.Helpers;
@using Wulvern.Core.Domain
@Html.Partial("Counter")
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    @Html.Partial("Head")
</head>
<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="socialSideBar"><a href="https://www.facebook.com/WulvernHousing?ref=stream" class="facebookLink" title="Facebook" target="_blank"></a><a href="https://www.youtube.com/user/Wulvern" class="youtubeLink" title="Youtube" target="_blank"></a><a href="https://twitter.com/intent/user?screen_name=Wulvern" class="twitterLink" title="Twitter" target="_blank"></a><a href="https://plus.google.com/111898600279461860850/posts" class="googleLink" title="Google Plus" target="_blank"></a></div>


    <!-- HEADER -->
    <div class="headWrapper">
        @Html.Partial("HeadWrapper")
        <!-- NAVIGATION -->
        <nav class="wBlueBg shadow clearfix">
            @Html.Partial("DesktopNavigation")
        </nav>

        <!-- END NAVIGATION -->
    </div>

    <!-- BEADCRUMB TRAIL -->
    <div class="wraper">
        <div class="breadcrumb">
            @Html.Partial("Breadcrumbs")
        </div>
    </div>
    <!-- END BEADCRUMB TRAIL -->

    <div class="wraper clearfix">

        <!-- SIDE NAVIGATION -->

        <div class="sideNav">

            <!-- SIDE NAV BUTTONS -->
            @Html.Partial("SideNavButtons")
            <!-- END SIDE NAV BUTTONS -->

        </div>

        <!-- END SIDE NAVIGATION -->

        <!-- CONTENT AREA -->
        <div class="contentArea">

            <h1>@Model.Content.GetPropertyValue("title")</h1>
            <div class="clearfix">
                <div class="eventDate">
                    <p class="eventDateLocation">Date &amp; time</p>
                    <p>
                        @{
                            DateTime eventDate = (DateTime)Model.Content.GetPropertyValue("eventDate");
                        }
                        @DateHelper.getDateEventLong(eventDate)
                    </p>
                </div>
                <div class="eventLocation">
                    <p class="eventDateLocation">Location</p>
                    <p>
                        @Model.Content.GetPropertyValue("location")
                    </p>
                </div>
            </div>
            <div class="clearfix">
                <p>
                    @if (Model.Content.HasValue("image"))
                    {
                        var image = Model.Content.GetPropertyValue("image");
                        <img src="@Umbraco.TypedMedia(image).Url" class="img-responsive" />
                    }

                </p>
                @Model.Content.GetPropertyValue("description")
            </div>
            <div class="share clearfix">
                <span class="desktop">Share</span>
                <a href="http://www.facebook.com/share.php?title=@Html.Encode(@Model.Content.GetPropertyValue("title"))" class="facebookFooterLink" title="Facebook" target="_blank"></a>

                <a href="https://twitter.com/share" class="twitterFooterLink twitterpopup" title="Twitter" target="_blank"></a>

                <a href="https://plus.google.com/share?url={URL}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                    class="googleFooterLink" title="Google Plus" target="_blank"></a>

                @if (Model.Content.HasValue("image"))
                {
                    var image = Model.Content.GetPropertyValue("image");
                    string host = "http://" + HttpContext.Current.Request.Url.Host;

                    string imageWithPath = Umbraco.TypedMedia(image).Url;
                    <a href="http://pinterest.com/pin/create/button/?media=@Html.Encode(host + imageWithPath)&description=@Html.Encode(@Model.Content.GetPropertyValue("title"))" class="pintrestFooterLink" title="Pintrest" target="_blank"></a>
                }


            </div>
        </div>

        <!-- END CONTENT AREA -->
    </div>

    <!-- COMMON BUTTONS -->

    @Html.Partial("BottomQuicklinks", Model.Content)

    <!-- END COMMON BUTTONS -->

    <div class="wraper">
  <div class="socialFooterBar"><a href="https://www.facebook.com/WulvernHousing?ref=stream" target="_blank"><img src="/images/social/facebook_bottom.png" width="51" height="43" alt="Facebook"/></a> <a href="https://www.youtube.com/user/Wulvern" target="_blank"><img src="/images/social/youtube_bottom.png" width="50" height="43" alt="Youtube"/></a> <a href="https://twitter.com/intent/user?screen_name=Wulvern" target="_blank"><img src="/images/social/twitter_bottom.png" width="50" height="43" alt="Twitter"/></a> <a href="https://plus.google.com/111898600279461860850/posts" target="_blank"><img src="/images/social/googleplus_bottom.png" width="51" height="43" alt="GooglePlus"/></a> </div>
</div>
    <!-- FOOTER -->
    @Html.Partial("Footer")
    <!-- END FOOTER -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="~/js/vendor/jquery-ui.min.js"></script>

    <script src="~/js/vendor/jquery.dlmenu.js"></script>
    <script>
        $(function () {
            $('#dl-menu').dlmenu();
        });
    </script>
    <script src="~/js/vendor/jquery.infieldlabel.min.js"></script>
    <script src="~/js/vendor/jquery.cycle2.min.js"></script>
    <script src="~/js/vendor/jquery.cycle2.swipe.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>