﻿@using umbraco.MacroEngines
@using umbraco.presentation.nodeFactory
@using Wulvern.Web.ExtensionMethods
@using Wulvern.Infrastructure.Models
@using Wulvern.Web.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@Html.Partial("Counter")
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    @Html.Partial("Head")
</head>
<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="socialSideBar"><a href="https://www.facebook.com/WulvernHousing?ref=stream" class="facebookLink" title="Facebook" target="_blank"></a><a href="https://www.youtube.com/user/Wulvern" class="youtubeLink" title="Youtube" target="_blank"></a><a href="https://twitter.com/intent/user?screen_name=Wulvern" class="twitterLink" title="Twitter" target="_blank"></a><a href="https://plus.google.com/111898600279461860850/posts" class="googleLink" title="Google Plus" target="_blank"></a></div>

    <!-- HEADER -->
    <div class="headWrapper">
        @Html.Partial("HeadWrapper")
        <!-- NAVIGATION -->
        <nav class="wBlueBg shadow clearfix">
            @Html.Partial("DesktopNavigation")
        </nav>

        <!-- END NAVIGATION -->
    </div>

    <!-- BEADCRUMB TRAIL -->
    <div class="wraper">
        <div class="breadcrumb">
            @Html.Partial("Breadcrumbs")
        </div>
    </div>
    <!-- END BEADCRUMB TRAIL -->

    <div class="wraper clearfix">

        <!-- SIDE NAVIGATION -->

        <div class="sideNav">
            @Html.Partial("SideNavigation")

            <!-- SIDE NAV BUTTONS -->
            @Html.Partial("SideNavButtons")
            <!-- END SIDE NAV BUTTONS -->

        </div>

        <!-- END SIDE NAVIGATION -->

        <!-- CONTENT AREA -->
        <div class="contentArea">
            @{
                var publishedContent = CurrentPage;
            }
            <!-- VACANCY -->
            @{
                DateTime closingDate = @CurrentPage.ClosingDate;
                var jobAdvert = @publishedContent.GetPropertyValue("jobAdvert");
                var jobDescription = @publishedContent.GetPropertyValue("jobDescription");
                var jobId = @publishedContent.GetPropertyValue("jobId");
            
                <div class="vacancy clearfix">
                    <div class="closingDate">Closing date<br />@DateHelper.getDateEventShort(closingDate)</div>
                    <h2>@publishedContent.GetPropertyValue("title")</h2>
                    <h3>@publishedContent.GetPropertyValue("location")</h3>
                    <h4>@publishedContent.GetPropertyValue("salary")</h4>

                    @Html.Raw(publishedContent.GetPropertyValue("description"))

                    @if (publishedContent.HasProperty("extendedDescription") && publishedContent.GetPropertyValue("extendedDescription").ToString() != "")
                    {

                        <a href="#" onclick="toggleReadMore('readmore_@jobId')" class="link_readmore_@jobId">Read more &#8250;</a>
                        <div class="hide" id="readmore_@jobId">
                            @Html.Raw(publishedContent.GetPropertyValue("extendedDescription"))
                            <p><a href="#" onclick="toggleReadMore('readmore_@jobId')" class="readLessToggle">Read less &#8249;</a></p>
                        </div>
                    
                    }

                    <br />
                    <br />

                    <a target="_blank" href="@Umbraco.TypedMedia(jobAdvert).Url">Download job advert (PDF) &#8250;</a><br />
                    <a target="_blank" href="@Umbraco.TypedMedia(jobDescription).Url">Download job description (PDF) &#8250;</a>
                    <h2>Apply now</h2>
                    <div class="mobile tablet">
                        <h3>How to apply</h3>
                        <p>Send your CV with a covering letter telling us why you think you are suitable for the position to <a href="mailto:jobs@wulvern.org.uk">jobs@wulvern.org.uk</a></p>
                    </div>
                    <div class="jobAppForm" style="display:block">
                        <div class="formContainer clearfix">
                    @Html.Action("RenderJobApplication","JobApplicationSurface")
                </div>
                    </div>
                    
                </div>
            }

        </div>

        <!-- COMMON BUTTONS -->

        @Html.Partial("BottomQuicklinks", Model.Content)

        <!-- END COMMON BUTTONS -->

        <!-- END CONTENT AREA -->
    </div>
    <div class="wraper">
  <div class="socialFooterBar"><a href="https://www.facebook.com/WulvernHousing?ref=stream" target="_blank"><img src="/images/social/facebook_bottom.png" width="51" height="43" alt="Facebook"/></a> <a href="https://www.youtube.com/user/Wulvern" target="_blank"><img src="/images/social/youtube_bottom.png" width="50" height="43" alt="Youtube"/></a> <a href="https://twitter.com/intent/user?screen_name=Wulvern" target="_blank"><img src="/images/social/twitter_bottom.png" width="50" height="43" alt="Twitter"/></a> <a href="https://plus.google.com/111898600279461860850/posts" target="_blank"><img src="/images/social/googleplus_bottom.png" width="51" height="43" alt="GooglePlus"/></a> </div>
</div>
    <!-- FOOTER -->
    @Html.Partial("Footer")
    <!-- END FOOTER -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="~/js/vendor/jquery.dlmenu.js"></script>
    <script>
        $(function () {
            $('#dl-menu').dlmenu();
        });
    </script>
    <script src="~/js/vendor/jquery.infieldlabel.min.js"></script>
    <script src="~/js/vendor/jquery.cycle2.min.js"></script>
    <script src="~/js/vendor/jquery.cycle2.swipe.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
