﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ReachmailApi
@using Wulvern.Web.ExtensionMethods;
@using Wulvern.Web.Helpers;
@using Wulvern.Core.Domain
@Html.Partial("Counter")
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
@Html.Partial("Head")
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</sstrong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<div id="cookieNotification" style="">
  <div id="cnContainer"> <span class="cookieTitle">This site uses cookies.</span><br/>
    By continuing to browse the site you are agreeing to our use of cookies. <a href="/cookie-policy">Find out more here</a>. 
    <script type="text/javascript">
        document.write('<a id="cookieNotifyHide" >close cookie warning</a>');
        </script>
    <noscript>
    <a id="cookieNotifyHide" href="" >close cookie warning</a>
    </noscript>
  </div>
</div>
<div class="socialSideBar"><a href="https://www.facebook.com/WulvernHousing?ref=stream" class="facebookLink" title="Facebook" target="_blank"></a><a href="https://www.youtube.com/user/Wulvern" class="youtubeLink" title="Youtube" target="_blank"></a><a href="https://twitter.com/intent/user?screen_name=Wulvern" class="twitterLink" title="Twitter" target="_blank"></a><a href="https://plus.google.com/111898600279461860850/posts" class="googleLink" title="Google Plus" target="_blank"></a></div>

<!-- HEADER -->
<div class="headWrapper"> @Html.Partial("HeadWrapper") 
  <!-- NAVIGATION -->
  <nav class="wBlueBg shadow clearfix"> @Html.Partial("DesktopNavigation", @Model.Content) </nav>
  
  <!-- END NAVIGATION --> 
</div>
<div class="wrapernopad clearfix"> 
  
  <!-- SLIDES -->


  
  @Html.Partial("Banner")
    </div>

<!-- HOME BUTTONS --> 
@Html.Partial("HomeButtons")
<div class="wLtBlueBg performanceContainer">
  <div class="wrapernopad  clearfix"> <a href="/about-us/finance-performance.aspx" class="performanceButton">
    <span>Finance and performance</span>
    </a> <a href="/about-us/ensuring-value-for-money.aspx" class="valueButton">
    <span>Delivering value for money</span>
    </a> </div>
</div>

<!-- OUR HOMES -->
<section id="ourHomes"> @if (Model.Content.HasProperty("showOurHomes") &&
  Model.Content.GetPropertyValue
  <bool>
  ("showOurHomes") == true)
  {
  @Umbraco.Field("ourHomes")
  } </section>

<!-- LATEST NEWS --> 
@Html.Partial("LatestNews", Model.Content)
<div class="wraper clearfix">
  <div class="clearfix"> 
    <!-- LATEST PUBLICATIONS --> 
    @Html.Partial("LatestPublications", Model.Content) 
    <!-- END LATEST PUBLICATIONS --> 
    <!-- LATEST JOBS --> 
    @Html.Partial("LatestJobs", Model.Content) 
    <!-- END LATEST JOBS -->
    <div id="contentArea"> @RenderBody() </div>
  </div>
  <section id="tweetsSection"> @if (Model.Content.HasProperty("showTweets") &&
    Model.Content.GetPropertyValue
    <bool>
    ("showTweets") == true)
    { 
    <!-- LATEST TWEETS --> 
    @Html.Partial("LatestTweets")
    } </section>
  <a href="#" class="viewall mobile">View all &#8250;</a> 
  <!-- END TWEETS --> 
  <!-- POPULAR PAGES-->
  @Html.Partial("PopularPages", Model.Content)
  <!-- END POPULAR PAGES--> 
</div>
<div class="wraper">
  <div class="socialFooterBar"><a href="https://www.facebook.com/WulvernHousing?ref=stream" target="_blank"><img src="/images/social/facebook_bottom.png" width="51" height="43" alt="Facebook"/></a> <a href="https://www.youtube.com/user/Wulvern" target="_blank"><img src="/images/social/youtube_bottom.png" width="50" height="43" alt="Youtube"/></a> <a href="https://twitter.com/intent/user?screen_name=Wulvern" target="_blank"><img src="/images/social/twitter_bottom.png" width="50" height="43" alt="Twitter"/></a> <a href="https://plus.google.com/111898600279461860850/posts" target="_blank"><img src="/images/social/googleplus_bottom.png" width="51" height="43" alt="GooglePlus"/></a> </div>
</div>

<!-- FOOTER --> 
@Html.Partial("Footer") 
<!-- END FOOTER --> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="~/js/vendor/jquery-1.11.0.min.js"><\/script>')</script> 
<script src="~/js/vendor/jquery.dlmenu.js"></script> 
<script>
    $(function () {
        $('#dl-menu').dlmenu();
    });
    /*
    $('#searchForm').submit(function () {
        var searchString = $("#search").val();
        $("#searchForm").attr("action", "/search-results" + "?search=" + searchString);
        if (searchString != "")
            $("#searchForm").attr("action", "/search-results" + "?search=" + searchString);
    });
    */
 </script> 
<script src="~/js/vendor/jquery.cycle2.min.js"></script> 
<script src="~/js/vendor/jquery.cycle2.swipe.min.js"></script> 
<script src="~/js/vendor/jquery.infieldlabel.min.js"></script> 
<script src="~/js/main.js"></script>
<script src="~/js/vendor/jquery.cookie.js"></script>
<script type="text/javascript">
    $(function () {

        if ($.cookie("cookieNotify") != "1") {
            $('#cookieNotification').show();
        }

        $('#cookieNotifyHide').click(function () {
            $('#cookieNotification').hide('fast');
            $.cookie("cookieNotify", "1", { expires: 360 });
        });

    });
</script>
</body>
</html>