﻿@Html.Partial("Counter")
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    @Html.Partial("Head")
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div class="socialSideBar"><a href="https://www.facebook.com/WulvernHousing?ref=stream" class="facebookLink" title="Facebook" target="_blank"></a><a href="https://www.youtube.com/user/Wulvern" class="youtubeLink" title="Youtube" target="_blank"></a><a href="https://twitter.com/intent/user?screen_name=Wulvern" class="twitterLink" title="Twitter" target="_blank"></a><a href="https://plus.google.com/111898600279461860850/posts" class="googleLink" title="Google Plus" target="_blank"></a></div>

<!-- HEADER -->
<div class="headWrapper">
  <header> <img src="~/images/wulvern_logo.gif" class="wulvernLogo desktop"/> <img src="~/images/wulvern_mobile.png" class="wulvernMobileLogo mobile"/>
    <div class="headRight">
      <p class="fadeOut">Call us on <a href="tel:01270506200">01270 506200</a></p>
      <p class="fadeOut">Email us on <a href="mailto:info@wulvern.org.uk">info@wulvern.org.uk</a></p>
      
      <!-- SITE SEARCH FORM -->
      <div class="searchAreaContainer clearfix">
        <form id="searchForm" name="searchForm" method="post">
          <div class="searchArea">
            <input type="submit" name="submit" id="submit" value="Search" class="searchButton">
            <div  class="searchFieldContainer fadeOut">
              <label for="search" class="searchLabel">Search the site</label>
              <input type="text" name="search" id="search" class="searchField">
            </div>
          </div>
          <a href="tel:01270506200" class="telIcon"><img src="~/images/tel-icon.gif" class="fadeIn"></a><span class="telText hide">Call us on <a href="tel:01270506200">01270 506200</a></span> <a href="mailto:info@wulvern.org.uk" class="emailIcon"><img src="~/images/email-icon.gif" class="fadeIn"></a> <span class="emailText hide">Email us on <a href="mailto:info@wulvern.org.uk">info@wulvern.org.uk</a></span>
        </form>
      </div>
      <!-- END SITE SEARCH FORM --> 
      
    </div>
    
    <!-- Mobile Nav -->
    <div id="dl-menu" class="dl-menuwrapper mobile">
      <button class="dl-trigger">Open Menu</button>
      <ul class="dl-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Customer Area</a>
          <ul  class="dl-submenu">
            <li><a href="#">&#8250; Your rent</a></li>
            <li><a href="#">&#8250; Repairs & alterations</a></li>
            <li><a href="#">&#8250; Your account</a></li>
            <li><a href="#">&#8250; Your safety</a></li>
            <li><a href="#">&#8250; Your money</a></li>
            <li><a href="#">&#8250; Your say</a></li>
            <li><a href="#">&#8250; Our promises to you</a></li>
            <li><a href="#">&#8250; What&#8217;s on</a></li>
            <li><a href="#">&#8250; Your magazines and info leaflets</a></li>
          </ul>
        </li>
        <li><a href="#">Our Homes</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Downloads</a></li>
        <li><a href="#">Jobs</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <!-- End mobile nav --> 
    
  </header>
  <!-- NAVIGATION -->
  <nav class="wBlueBg shadow clearfix">
    <ul class="desktop">
      <li><a href="#">Home</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Customer Area</a>
        <div class="subNavContainer">
          <div class="subNav">
            <div>Find everything you need as a Wulvern customer</div>
            <ul>
              <li><a href="#">&#8250; Your rent</a></li>
              <li><a href="#">&#8250; Repairs & alterations</a></li>
              <li><a href="#">&#8250; Your account</a></li>
              <li><a href="#">&#8250; Your safety</a></li>
              <li><a href="#">&#8250; Your money</a></li>
            </ul>
            <ul>
              <li><a href="#">&#8250; Your say</a></li>
              <li><a href="#">&#8250; Our promises to you</a></li>
              <li><a href="#">&#8250; What&#8217;s on</a></li>
              <li><a href="#">&#8250; Your magazines and info leaflets</a></li>
            </ul>
            <div>Can’t find what you’re looking for? Call us on 01270 506200 or email us</div>
            <div class="subNavImage"></div>
          </div>
        </div>
      </li>
      <li><a href="#">Our Homes</a></li>
      <li><a href="#">Our Services</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Downloads</a></li>
      <li><a href="#">Jobs</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  
  <!-- END NAVIGATION --> 
</div>
<div class="wraper clearfix"> 
  
  <!-- SLIDES -->
  
  <div class="slides">
    <div class="slide" >
      <div class="slideBgImage"><img src="~/images/placeholders/slide.jpg" width="100%" height="100%" alt="Title here"/></div>
      <div class="slideContent">
        <h2>Independent Living</h2>
        <p>At Wulvern we understand the importance of maximising your independence to ensure that you enjoy your retirement your way</p>
        <p>For more options to buy or rent <a href="#" class="slideButton">Show me &#8250;</a></p>
      </div>
    </div>
    <div class="slide">
      <div class="slideBgImage"><img src="~/images/placeholders/slide.jpg" width="100%" height="100%"  alt="Title here"/></div>
      <div class="slideContent">
        <h2>Independent Living</h2>
        <p>At Wulvern we understand the importance of maximising your independence to ensure that you enjoy your retirement your way</p>
        <p>For more options to buy or rent <a href="#" class="slideButton">Show me &#8250;</a></p>
      </div>
    </div>
    <div class="slide">
      <div class="slideBgImage"><img src="~/images/placeholders/slide.jpg" width="100%" height="100%"  alt="Title here"/></div>
      <div class="slideContent">
        <h2>Independent Living</h2>
        <p>At Wulvern we understand the importance of maximising your independence to ensure that you enjoy your retirement your way</p>
        <p>For more options to buy or rent <a href="#" class="slideButton">Show me &#8250;</a></p>
      </div>
    </div>
  </div>
  <div class="slidePaging"><span class="slide-previous">Previous</span>
    <div class="slidepager"></div>
    <span class="slide-next">Next</span></div>
</div>

<!-- HOME BUTTONS -->
<div class="homeButtons wraper clearfix"> <a href="#" class="wRedBg payButton">Pay <br>
  your rent</a>
  <div class="buttonAngle buttonAngleRG desktop"></div>
  <a href="#" class="wGreenBg reportButton">Report <br>
  a repair</a>
  <div class="buttonAngle buttonAngleGM desktop"></div>
  <a href="#" class="wMagentaBg homesButton">View<br>
  our homes</a>
  <div class="buttonAngle buttonAngleMO desktop"></div>
  <a href="#" class="wOrangeBg involvedButton">Get<br>
  involved</a>
  <div class="buttonAngle buttonAngleOP desktop"></div>
  <a href="#" class="wPurpleBg accountButton">Your <br>
  account</a> </div>
<div class="wLtBlueBg performanceContainer">
  <div class="wraper clearfix"> <a href="#" class="performanceButton">
    <p>Check out our latest performance</p>
    </a> <a href="#" class="valueButton">
    <p>See how we are ensuring value for money</p>
    </a> </div>
</div>

<!-- OUR HOMES -->
<div class="wBlueBg clearfix">
  <div class="wraper ourHomes clearfix">
    <h2>Our homes <a href="#" class="viewall">View all &#8250;</a></h2>
    <div class="threeCol boxborder">
      <div class="colImage"></div>
      <div class="boxHeading">
        <div class="date">Affordable Rent</div>
        <h3>Mosely Yard</h3>
      </div>
      <div class="boxDetail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam</div>
      <div class="readmore"><a href="#">Read more ›</a> </div>
    </div>
    <div class="threeCol boxborder threeColAlt">
      <div class="colImage"></div>
      <div class="boxHeading">
        <div class="date">Affordable Rent</div>
        <h3>Mosely Yard</h3>
      </div>
      <div class="boxDetail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam</div>
      <div class="readmore"><a href="#">Read more ›</a></div>
    </div>
    <div class="threeCol boxborder thirdCol">
      <div class="colImage"></div>
      <div class="boxHeading">
        <div class="date">Affordable Rent</div>
        <h3>Mosely Yard</h3>
      </div>
      <div class="boxDetail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam</div>
      <div class="readmore"><a href="#">Read more ›</a></div>
    </div>
  </div>
</div>

<!-- LATEST NEWS -->
<div class="ltGreyBg clearfix ">
  <div class="wraper clearfix latestNews">
    <h2>Latest news <a href="#" class="viewall desktop">View all &#8250;</a></h2>
    <div class="threeCol boxborder">
      <div class="colImage"></div>
      <div class="boxHeading">
        <div class="date">25th June 2014</div>
        <h3>Wulvern hosts Hong Kong CIH vi</h3>
      </div>
      <div class="boxDetail">Wulvern welcomed visitors from Hong Kong recently when they enjoyed a guided tour of award winning Pickmere - a multi-million pound ExtraCare development for over 55’s in Crewe.</div>
      <div class="readmore"><a href="#">Read more ›</a> </div>
    </div>
    <div class="threeCol boxborder threeColAlt">
      <div class="colImage"></div>
      <div class="boxHeading">
        <div class="date">25th June 2014</div>
        <h3>Prince’s Trust makes child’s play of project</h3>
      </div>
      <div class="boxDetail">Crewe school playground has received a makeover thanks to a team of young adults on Cheshire Fire and Rescue Service’s Prince’s Trust personal development programme supported by partner organisations Wulvern, Job Centre Plus and Cheshire East Council.</div>
      <div class="readmore"><a href="#">Read more ›</a> </div>
    </div>
    <div class="threeCol boxborder thirdCol">
      <div class="colImage"></div>
      <div class="boxHeading">
        <div class="date">25th June 2014</div>
        <h3>Top marks for Wulvern’s Supported Living Service</h3>
      </div>
      <div class="boxDetail">Wulvern is celebrating after its Supported Living Service was awarded five A’s during a recent assessment.</div>
      <div class="readmore"><a href="#">Read more ›</a> </div>
    </div>
  </div>
</div>
<div class="wraper clearfix">
  <div class="clearfix"> 
    <!-- LATEST PUBLICATIONS -->
    <div class="twoCol latestPublications">
      <h2>Latest publications <a href="#" class="viewall desktop">View all &#8250;</a></h2>
      <div class="row">
        <div class="image"><img src="~/images/placeholders/promise.jpg" /></div>
        <div style="padding-left:75px">
          <div class="date">25th June 2014</div>
          <h3>Wulvern hosts Hong Kong CIH vi</h3>
          <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</div>
        </div>
      </div>
      <div class="altRow">
        <div class="image"><img src="~/images/placeholders/yourcall.jpg" /></div>
        <div class="date">25th June 2014</div>
        <h3>Wulvern hosts Hong Kong CIH vi</h3>
        <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</div>
      </div>
      <div class="row">
        <div class="image"><img src="~/images/placeholders/promise.jpg" /></div>
        <div class="date">25th June 2014</div>
        <h3>Wulvern hosts Hong Kong CIH vi</h3>
        <div>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</div>
      </div>
      <a href="#" class="viewall mobile">View all &#8250;</a> </div>
    <!-- END LATEST PUBLICATIONS --> 
    <!-- LATEST JOBS -->
    <div class="twoCol twoColAlt latestJobs">
      <h2>Latest jobs <a href="#" class="viewall desktop">View all &#8250;</a></h2>
      <div class="row jobsIntro">Wulvern is an exciting place to work with career development opportunities across all departments. We have a firm commitment to equal opportunities, staff training and development and we offer a range of excellent benefits. </div>
      <div class="row">
        <div class="date">Anderton Place</div>
        <h3>Domestic Trchnicians</h3>
      </div>
      <div class="row altRow">
        <div class="date">Anderton Place</div>
        <h3>Administrator (Part Time)</h3>
      </div>
      <div class="row">
        <h3>HR and Facilities Co-ordinator with Reception Duties</h3>
      </div>
      <div class="row altRow">
        <div class="date">Mill House Nantwitch</div>
        <h3>Domestic Technicians</h3>
      </div>
      <a href="#" class="viewall mobile">View all &#8250;</a> </div>
    <!-- END LATEST JOBS --> 
  </div>
  <!-- LATEST TWEETS -->
    <section id="tweetsSection">
    @if (Model.Content.HasProperty("showTweets") &&
        Model.Content.GetPropertyValue<bool>("showTweets") == true)
    {
      <div class="twoCol latestTweets">
        <h2><img src="~/images/twitter_heading_icon.gif" width="43" height="34" alt=""/>Latest tweets <a href="#" class="viewall desktop">View all &#8250;</a></h2>
        <div class="tweets">
          <div class="tweet">
            <p class="tweetTime">2 hours ago</p>
            <p class="tweet">Are you supporting Heart Rhythm Week? Your support will help to protect millions of arrhythmia patients worldwide! <a href="http://ow.ly/xz6UJ">http://ow.ly/xz6UJ</a></p>
          </div>
          <div class="tweet">
            <p class="tweetTime">2 hours ago</p>
            <p class="tweet">Are you supporting Heart Rhythm Week? Your support will help to protect millions of arrhythmia patients worldwide! <a href="http://ow.ly/xz6UJ">http://ow.ly/xz6UJ</a></p>
          </div>
          <div class="tweet">
            <p class="tweetTime">2 hours ago</p>
            <p class="tweet">Are you supporting Heart Rhythm Week? Your support will help to protect millions of arrhythmia patients worldwide! <a href="http://ow.ly/xz6UJ">http://ow.ly/xz6UJ</a></p>
          </div>
          <div class="tweet">
            <p class="tweetTime">2 hours ago</p>
            <p class="tweet">Are you supporting Heart Rhythm Week? Your support will help to protect millions of arrhythmia patients worldwide! <a href="http://ow.ly/xz6UJ">http://ow.ly/xz6UJ</a></p>
          </div>
          <div class="tweet">
            <p class="tweetTime">2 hours ago</p>
            <p class="tweet">Are you supporting Heart Rhythm Week? Your support will help to protect millions of arrhythmia patients worldwide! <a href="http://ow.ly/xz6UJ">http://ow.ly/xz6UJ</a></p>
          </div>
        </div>
        <div class="twitterPaging clearfix"><span alt="Previous tweet" class="tweet-previous">Previous</span>
          <div class="pager"></div>
          <span alt="Next tweet" class="tweet-next">Next</span> </div>
      </div>
    }
    </section>
  <a href="#" class="viewall mobile">View all &#8250;</a> 
  <!-- END TWEETS --> 
  <!-- POPULAR PAGES-->
  <div class="twoCol popular twoColAlt">
    <h2>Popular pages</h2>
    <a href="/customer-area/your-money/universal-credit.aspx">Universal credit</a> <a href="#">Homes to rent</a> <a href="#">How to apply for a home</a> <a href="#">Managing your bills</a> <a href="#">Your Right to Buy</a> <a href="#">Report a repair</a> </div>
  <!-- END POPULAR PAGES--> 
</div>
<div class="wraper">
  <div class="socialFooterBar"><a href="https://www.facebook.com/WulvernHousing?ref=stream" target="_blank"><img src="images/social/facebook_bottom.png" width="51" height="43" alt="Facebook"/></a> <a href="https://www.youtube.com/user/Wulvern" target="_blank"><img src="images/social/youtube_bottom.png" width="50" height="43" alt="Youtube"/></a> <a href="https://twitter.com/intent/user?screen_name=Wulvern" target="_blank"><img src="images/social/twitter_bottom.png" width="50" height="43" alt="Twitter"/></a> <a href="https://plus.google.com/111898600279461860850/posts" target="_blank"><img src="images/social/googleplus_bottom.png" width="51" height="43" alt="GooglePlus"/></a> </div>
</div>
<!-- FOOTER -->
<footer class="cleafix">
  <div class="wBlueBg">
    <div class="footerLogo wraper clearfix">
      <div class="headOffice">
        <div class="ho">
          <h4>Head Office</h4>
          <p>Wulvern House, <br>
            Electra Way<br>
            Crewe  CW1 6GW<br>
            Tel 01270 506200</p>
        </div>
        <div class="opening">
          <h4>Opening hours</h4>
          <p>Monday - Friday<br>
            8.30am – 5.00pm</p>
        </div>
      </div>
      <div class="quicklinks">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">&#8250; Home</a></li>
          <li><a href="#">&#8250; Customer Area</a></li>
          <li><a href="#">&#8250; Our Services</a></li>
          <li><a href="#">&#8250; Publications</a></li>
          <li><a href="#">&#8250; Contact</a></li>
        </ul>
        <ul>
          <li><a href="#">&#8250; About Us</a></li>
          <li><a href="#">&#8250; Our Homes</a></li>
          <li><a href="#">&#8250; News</a></li>
          <li><a href="#">&#8250; Jobs</a></li>
        </ul>
      </div>
      <div class="signup">
        <h4>Newsletter</h4>
        <p class="signupIntro">Get email updates from Wulvern</p>
        <form id="form1" name="form1" method="post">
          <p>
            <label for="textfield">Your email address</label>
            <input type="text" name="signup" id="signupfield">
          </p>
          <input name="submit" type="submit" class="smallButton pullRight" value="Send &#8250;" >
        </form>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
  
  <!-- AWARDS -->
  <div class="awards ltGreyBg">
    <div class="wraper clearfix"> <img src="~/images/awards/100.png"  alt="100 best not for profit organisation to work for"/> <img src="~/images/awards/best.png" alt="best company"/> <img src="~/images/awards/investor-excellence.png"  alt="investor in excellence"/> <img src="~/images/awards/investors_people.png" alt="investors in people"/> <img src="~/images/awards/stonewall.png" alt="Stonewall diversity champion"/> </div>
  </div>
  <!-- END AWARDS -->
  
  <div class="wraper">
    <div class="footerNav">
      <p><a href="#">Site Map</a> <a href="#">Privacy</a> <a href="#">Policy</a> <a href="#">Cookie Policy</a> <a href="#">Accessibility</a></p>
      <p class="browsealoud"><a href="http://www.browsealoud.com/page.asp?pg_id=80002"><img src="~/images/browsealoud.gif" width="193" height="28" alt=""/></a></p>
    </div>
    <div class="copyright">
      <p>© Wulvern Housing 2014. All rights reserved. </p>
      <p>Other language versions <a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=pl"><img src="~/images/flags/poland.png" width="30" height="21" alt=""/></a><a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=sk"><img src="~/images/flags/slovakian.png" width="30" height="21" alt=""/></a><a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=pt"><img src="~/images/flags/portugese.png" width="30" height="21" alt=""/></a><a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=sq"><img src="~/images/flags/albanian.png" width="30" height="21" alt=""/></a><a href="http://translate.google.com/translate?prev=hp&hl=en&u=http://www.wulvernhousing.org.uk/&sl=en&tl=tr"><img src="~/images/flags/turkish.png" width="30" height="21" alt=""/></a></p>
      <p>Site by <a href="http://www.wearevibe.co.uk" target="_blank">Vibe</a></p>
    </div>
  </div>
</footer>
<!-- END FOOTER --> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="~/js/vendor/jquery-1.11.0.min.js"><\/script>')</script> 
<script src="~/js/vendor/jquery.dlmenu.js"></script> 
<script>
	$(function() {
		$( '#dl-menu' ).dlmenu();
	});
</script> 
<script src="~/js/vendor/jquery.cycle2.min.js"></script> 
<script src="~/js/vendor/jquery.cycle2.swipe.min.js"></script> 
<script src="~/js/vendor/jquery.infieldlabel.min.js"></script> 
<script src="~/js/main.js"></script>
</body>
</html>