﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ReachmailApi
@using Wulvern.Web.ExtensionMethods;
@using Wulvern.Web.Helpers;
@using Wulvern.Core.Domain
@Html.Partial("Counter")
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    @Html.Partial("Head")
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div class="socialSideBar"> <img src="~/images/social/facebook.png" width="43" height="52" alt="Facebook"/> <img src="~/images/social/youtube.png" width="43" height="52" alt="Youtube"/> <img src="~/images/social/twitter.png" width="43" height="51" alt="Twitter"/> <img src="~/images/social/googleplus.png" width="43" height="52" alt="GooglePlus"/> </div>

<!-- HEADER -->
<div class="headWrapper">
  <header>  
      @{
            var settingsNode = 1062;
            var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
            IPublishedContent content = umbracoHelper.TypedContent(settingsNode);
            if (content.HasValue("headerLogo"))
            {
                var logo = content.GetPropertyValue("headerLogo");
                <img src="@Umbraco.TypedMedia(logo).Url" class="wulvernLogo desktop" />                         
            }
        } 
      <img src="~/images/wulvern_mobile.png" class="wulvernMobileLogo mobile"/>

      <div class="mobileicons mobile"> <a href="tel:01270506200"><img src="img/buttons/icons/mobile_phone.png" width="35" height="28" alt=""></a> <a href="mailto:info@wulvern.org.uk"><img src="img/buttons/icons/mobile_email.png" width="40" height="28" alt=""></a> <img src="img/buttons/icons/mobile_search.png" width="34" height="28" alt="" id="mobileSeatchToggle"></div>

    <div class="headRight">
      <p class="fadeOut">Call us on <a href="tel:01270506200">01270 506200</a></p>
      <p class="fadeOut">Email us on <a href="mailto:info@wulvern.org.uk">info@wulvern.org.uk</a></p>
      
      <!-- SITE SEARCH FORM -->
      <div class="searchAreaContainer clearfix">
        <form id="searchForm" name="searchForm" method="post" defaultbutton="searchButton" action="/search-results/">
          <div class="searchArea">
            <input type="submit" name="submit" id="submit" value="Search" class="searchButton">
            <div  class="searchFieldContainer fadeOut"><span class="infield-label">
              <label for="search" class="searchLabel">Search the site</label>
              <input type="text" name="search" id="search" class="searchField">
            </span></div>
          </div>
          <a href="tel:01270506200" class="telIcon"><img src="~/images/tel-icon.gif" class="fadeIn"></a><span class="telText hide">Call us on <a href="tel:01270506200">01270 506200</a></span> <a href="mailto:info@wulvern.org.uk" class="emailIcon"><img src="~/images/email-icon.gif" class="fadeIn"></a> <span class="emailText hide">Email us on <a href="mailto:info@wulvern.org.uk">info@wulvern.org.uk</a></span>
        </form>
      </div>
      <!-- END SITE SEARCH FORM --> 
      
    </div>
    
    <!-- Mobile Nav -->
    <div id="dl-menu" class="dl-menuwrapper mobile">
        @Html.Partial("MobileNavigation")
    </div>
    <!-- End mobile nav --> 
    
  </header>
  <!-- NAVIGATION -->
  <nav class="wBlueBg shadow clearfix">
    @Html.Partial("DesktopNavigation")
  </nav>
  
  <!-- END NAVIGATION --> 
</div>
<div class="wraper clearfix"> 
  
  <!-- SLIDES -->
  
  <div class="slides">
    @Html.Partial("Banner")
  </div>
  <div class="slidePaging"><span class="slide-previous">Previous</span>
    <div class="slidepager"></div>
    <span class="slide-next">Next</span></div>
</div>
