﻿@using umbraco.MacroEngines
@using umbraco.presentation.nodeFactory
@using Wulvern.Infrastructure.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@Html.Partial("Counter")
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
@Html.Partial("Head")
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div class="socialSideBar"> <img src="~/images/social/facebook.png" width="43" height="52" alt="Facebook"/> <img src="~/images/social/youtube.png" width="43" height="52" alt="Youtube"/> <img src="~/images/social/twitter.png" width="43" height="51" alt="Twitter"/> <img src="~/images/social/googleplus.png" width="43" height="52" alt="GooglePlus"/> </div>

<!-- HEADER -->
<div class="headWrapper">
  @Html.Partial("HeadWrapper")
  <!-- NAVIGATION -->
  <nav class="wBlueBg shadow clearfix">
    @Html.Partial("DesktopNavigation")
  </nav>
  
  <!-- END NAVIGATION --> 
</div>

<!-- BEADCRUMB TRAIL -->
<div class="wraper">
  <div class="breadcrumb">
      @Html.Partial("Breadcrumbs")

  </div>
</div>
<!-- END BEADCRUMB TRAIL -->

<div class="wraper clearfix"> 
  
  <!-- SIDE NAVIGATION -->
  
  <div  class="sideNav">
   @Html.Partial("SideNavigation")
    
    <!-- SIDE NAV BUTTONS --> 
    @Html.Partial("SideNavButtons")
    <!-- END SIDE NAV BUTTONS --> 
    
  </div>
  
  <!-- END SIDE NAVIGATION --> 
  
  <!-- CONTENT AREA -->
  <div class="contentArea">
     <h1>Your repairs &amp; improvements</h1>
    <h2>Report a repair</h2>
    <p>For repairs that are Wulvern's responsibility, our promise is to 'fix it'. This means in one visit where possible, at a time which is convenient to you, or as soon as we can and so it is unlikely to need repairing again.</p>
    <p><strong>Our Repairs Promise</strong> sets out what you can expect from us, download it here</p>
    <p>All repairs should be reported to Wulvern’s Home Support Team. You will need to provide us with your name, address and daytime telephone number, along with a summary of the repair required, how we access your home and when you will be in.</p>
    <p><strong>There are a number of ways you can report a repair:</strong></p>
    <div class="repairRow clearfix">
      <div class="repairImage online"> </div>
      <div class="repairDescription">
        <h2>Online</h2>
        <p>Report a repair now using our repairs reporting tool to tell us exactly where the repair is required!</p>
        <p><a href="#" class="largeBlueButton">Report a repair now &#8250;</a></p>
      </div>
    </div>
    <div class="repairRow clearfix">
      <div class="repairImage textus"> </div>
      <div class="repairDescription">
        <h2>Text us</h2>
        <p>Text the details of the repair to <strong>07903 009002</strong> please start your text with the word <strong>REPAIR</strong></p>
      </div>
    </div>
    <div class="repairRow clearfix">
      <div class="repairImage phone"> </div>
      <div class="repairDescription">
        <h2>Phone </h2>
        <p>Call our Home Support Team on <strong>01270 506200</strong> (between 8.30am – 5.00pm Monday – Friday)</p>
      </div>
    </div>
    <div class="repairRow clearfix">
      <div class="repairImage email"> </div>
      <div class="repairDescription">
        <h2>Email </h2>
        <p>Email us at Home <a href="mailto:SupportTeam@wulvernhousing.org.uk"><strong class="desktop">SupportTeam@wulvernhousing.org.uk</strong><strong class="mobile">Click here</strong></a></p>
      </div>
    </div>
    <div class="repairRow clearfix">
      <div class="repairImage post"> </div>
      <div class="repairDescription">
        <h2>Post </h2>
        <p>Write to us at Home Support Team, Wulvern House, Electra Way, Crewe, CW1 6GW</p>
      </div>
    </div>
    <div class="repairRow clearfix">
      <div class="repairImage inperson"> </div>
      <div class="repairDescription">
        <h2>In-person</h2>
        <p>Visit your local Wulvern Office </p>
      </div>
    </div>
    <div class="clearfix" style="padding-top: 25px;">
      <div class="exclaimation">Emergency repairs</div>
      <div class="wRedTintBg contentPad">
        <p>Emergency repairs are those which put someone’s health, safety or security at immediate risk, or seriously affect the structure of the building, such as a fire, major electrical faults, broken door locks or floods. </p>
        <p class="redEmphasise">In the event of an emergency, customers should ring Wulvern immediately on <a href="tel:01270506200">01270 506200</a> to report the repair.</p>
        <p>This telephone number is available 24 hours a day, 7 days a week, although calls to this number outside working hours should be strictly for emergencies only.</p>
      </div>
      <br/>
      <div class="exclamation_blue">Gas leaks</div>
      <div class="wBlueTintBg contentPad">
        <p  class="blueEmphasise">In the event of a gas leak, customers should contact The National Grid Gas Emergency Services immediately on <a href="tel:0800111999">0800 111 999</a>. </p>
        <p>Customers should then contact Wulvern to report the problem.</p>
      </div>
    </div>
    <p></p>
  </div>
  
  <!-- END CONTENT AREA --> 
</div>

<!-- COMMON BUTTONS -->

@Html.Partial("BottomQuicklinks", Model.Content)

<!-- END COMMON BUTTONS -->

<div class="wraper">
  <div class="socialFooterBar"><a href="https://www.facebook.com/WulvernHousing?ref=stream" target="_blank"><img src="/images/social/facebook_bottom.png" width="51" height="43" alt="Facebook"/></a> <a href="https://www.youtube.com/user/Wulvern" target="_blank"><img src="/images/social/youtube_bottom.png" width="50" height="43" alt="Youtube"/></a> <a href="https://twitter.com/intent/user?screen_name=Wulvern" target="_blank"><img src="/images/social/twitter_bottom.png" width="50" height="43" alt="Twitter"/></a> <a href="https://plus.google.com/111898600279461860850/posts" target="_blank"><img src="/images/social/googleplus_bottom.png" width="51" height="43" alt="GooglePlus"/></a> </div>
</div>
<!-- FOOTER -->
@Html.Partial("Footer")
<!-- END FOOTER --> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="~/js/vendor/jquery-1.11.0.min.js"><\/script>')</script> 
<script src="~/js/vendor/jquery.dlmenu.js"></script> 
<script>
	$(function() {
		$( '#dl-menu' ).dlmenu();
	});
</script> 
<script src="~/js/vendor/jquery.infieldlabel.min.js"></script> 
<script src="~/js/vendor/jquery.cycle2.min.js"></script> 
<script src="~/js/vendor/jquery.cycle2.swipe.min.js"></script> 
<script src="~/js/main.js"></script>
</body>
</html>