﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ReachmailApi
@using Wulvern.Web.ExtensionMethods;
@using Wulvern.Web.Helpers;
@using Wulvern.Core.Domain
@Html.Partial("Counter")
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
@Html.Partial("Head")
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div class="socialSideBar"><a href="https://www.facebook.com/WulvernHousing?ref=stream" class="facebookLink" title="Facebook" target="_blank"></a><a href="https://www.youtube.com/user/Wulvern" class="youtubeLink" title="Youtube" target="_blank"></a><a href="https://twitter.com/intent/user?screen_name=Wulvern" class="twitterLink" title="Twitter" target="_blank"></a><a href="https://plus.google.com/111898600279461860850/posts" class="googleLink" title="Google Plus" target="_blank"></a></div>

<!-- HEADER -->
<div class="headWrapper">
  @Html.Partial("HeadWrapper")
  <!-- NAVIGATION -->
  <nav class="wBlueBg shadow clearfix">
    @Html.Partial("DesktopNavigation")
  </nav>
  
  <!-- END NAVIGATION --> 
</div>

<!-- BEADCRUMB TRAIL -->
<div class="wraper">
    <div class="breadcrumb">
        @Html.Partial("Breadcrumbs")
    </div>
</div>
<!-- END BEADCRUMB TRAIL --> 

<div class="wraper clearfix">

<!-- SIDE NAVIGATION -->

  <div  class="sideNav">
   @Html.Partial("SideNavigationServices")
    
    <!-- SIDE NAV BUTTONS -->
	@Html.Partial("SideNavButtons")
	<!-- END SIDE NAV BUTTONS -->
    
  </div>
  
<!-- END SIDE NAVIGATION --> 



<!-- CONTENT AREA -->
<div class="contentArea">
  @*<h1>About Wulvern</h1>
  <p>Wulvern is an award winning housing association, providing affordable homes and services to customers across Cheshire and into Staffordshire.</p>
  <p>We….</p>
  <ul>
    <li>Provide homes for over 15000 people </li>
    <li>Manage over 5300 homes </li>
    <li>Have plans to build 1000 new homes over the next four years, worth over   £100 million </li>
    <li>Are investing over £100 million over the next thirty years carrying out repairs and   improvements to our homes and neighborhoods </li>
    <li>Collect rent and help customers to maximise their income </li>
    <li>Support older and vulnerable people </li>
    <li>Involve our customers </li>
    <li>Rejuvenate estates and communities </li>
  </ul>
  <p>Created in 2003, Wulvern’s original homes and shops were transferred from Crewe and Nantwich Borough Council, since then we have continued to grow, providing high quality affordable housing for people in housing need as well as key community services. </p>
  <p>Wulvern is overseen by a Strategic Board and the day to day running of the organisation is delegated to the Chief Executive and the Executive Team. As a housing association Wulvern is regulated by the Homes and Communities Agency.</p>
  <p>
  <div class="meetContainer clearfix">
  <a href="#" class="meet"><span class="meetText">Meet our Board</span><img src="images/placeholders/team_1.jpg" width="126" height="103" alt=""/></a>
  <a href="#" class="meet meetAlt"><span class="meetText">Meet our Executive Team</span><img src="images/placeholders/team_2.jpg" width="126" height="103" alt=""/></a>
  </div>
  </p>
  <h2>About the Group</h2>
  <p> Wulvern also own Wulvern Platform Ltd, a subsidiary of Wulvern which was established in 2008 to provide property management and consultancy services. </p>
  <p>In 2012 we launched Wulvern Platform’s Adaptations Team, enabling vulnerable people to remain independent in their homes. </p>
  <p>For more information about Wulvern Platform please visit <a href="http://www.platformhones.co.uk">www.platformhomes.co.uk</a> or call our team on <strong>0845 201 1145</strong> to find out more.</p>*@
   @Html.Raw(@Model.Content.GetPropertyValue("bodyText"))
</div>
<!-- END CONTENT AREA -->
</div>

    @Html.Partial("BottomQuicklinks", Model.Content)

<div class="wraper">
  <div class="socialFooterBar"><a href="https://www.facebook.com/WulvernHousing?ref=stream" target="_blank"><img src="/images/social/facebook_bottom.png" width="51" height="43" alt="Facebook"/></a> <a href="https://www.youtube.com/user/Wulvern" target="_blank"><img src="/images/social/youtube_bottom.png" width="50" height="43" alt="Youtube"/></a> <a href="https://twitter.com/intent/user?screen_name=Wulvern" target="_blank"><img src="/images/social/twitter_bottom.png" width="50" height="43" alt="Twitter"/></a> <a href="https://plus.google.com/111898600279461860850/posts" target="_blank"><img src="/images/social/googleplus_bottom.png" width="51" height="43" alt="GooglePlus"/></a> </div>
</div>
<!-- FOOTER -->
@Html.Partial("Footer")
<!-- END FOOTER --> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="~/js/vendor/jquery-1.11.0.min.js"><\/script>')</script> 
<script src="~/js/vendor/jquery.dlmenu.js"></script> 
<script>
	$(function() {
		$( '#dl-menu' ).dlmenu();
	});

	
</script> 
<script src="~/js/vendor/jquery.infieldlabel.min.js"></script> 
<script src="~/js/vendor/jquery.cycle2.min.js"></script> 
<script src="~/js/vendor/jquery.cycle2.swipe.min.js"></script> 
<script src="~/js/main.js"></script>
</body>
</html>