﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ReachmailApi
@using Wulvern.Web.ExtensionMethods;
@using Wulvern.Web.Helpers;
@using Wulvern.Core.Domain
@Html.Partial("Counter")
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wulvern</title>
<meta name="description" content="">
<link rel="stylesheet" href="~/css/normalize.min.css">
<link rel="stylesheet" href="~/css/mobile-nav.css">
<link href="~/css/jquery.infieldLabel.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/main.css">
<script src="~/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div class="socialSideBar"><a href="#" class="facebookLink" title="Facebook"></a><a href="#" class="youtubeLink" title="Youtube"></a><a href="#" class="twitterLink" title="Twitter"></a><a href="#" class="googleLink" title="Google Plus"></a></div>

<!-- HEADER -->
<div class="headWrapper">
  @Html.Partial("HeadWrapper")
  <!-- NAVIGATION -->
  <nav class="wBlueBg shadow clearfix">
    @Html.Partial("DesktopNavigation")
  </nav>
  
  <!-- END NAVIGATION --> 
</div>

<!-- BEADCRUMB TRAIL -->
<div class="wraper">
    <div class="breadcrumb">
        @Html.Partial("Breadcrumbs")
    </div>
</div>
<!-- END BEADCRUMB TRAIL --> 

<div class="wraper clearfix">

<!-- SIDE NAVIGATION -->

  <div  class="sideNav">
   @Html.Partial("SideNavigationAbout")
    
    <!-- SIDE NAV BUTTONS -->
	@Html.Partial("SideNavButtons")
	<!-- END SIDE NAV BUTTONS -->
    
  </div>
  
<!-- END SIDE NAVIGATION --> 



<!-- CONTENT AREA -->
<div class="contentArea">
  <h1>@Umbraco.Field("pageTitle")</h1>
   @Html.Raw(@Model.Content.GetPropertyValue("bodyText"))
</div>

<!-- END CONTENT AREA -->
</div>
    @Html.Partial("BottomQuicklinks", Model.Content)
<div class="wraper">
  <div class="socialFooterBar"><a href="https://www.facebook.com/WulvernHousing?ref=stream" target="_blank"><img src="/images/social/facebook_bottom.png" width="51" height="43" alt="Facebook"/></a> <a href="https://www.youtube.com/user/Wulvern" target="_blank"><img src="/images/social/youtube_bottom.png" width="50" height="43" alt="Youtube"/></a> <a href="https://twitter.com/intent/user?screen_name=Wulvern" target="_blank"><img src="/images/social/twitter_bottom.png" width="50" height="43" alt="Twitter"/></a> <a href="https://plus.google.com/111898600279461860850/posts" target="_blank"><img src="/images/social/googleplus_bottom.png" width="51" height="43" alt="GooglePlus"/></a> </div>
</div>
<!-- FOOTER -->
@Html.Partial("Footer")
<!-- END FOOTER --> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="~/js/vendor/jquery-1.11.0.min.js"><\/script>')</script> 
<script src="~/js/vendor/jquery.dlmenu.js"></script> 
<script>
	$(function() {
		$( '#dl-menu' ).dlmenu();
	});

	
</script> 
<script src="~/js/vendor/jquery.infieldlabel.min.js"></script> 
<script src="~/js/vendor/jquery.cycle2.min.js"></script> 
<script src="~/js/vendor/jquery.cycle2.swipe.min.js"></script> 
<script src="~/js/main.js"></script>
</body>
</html>