﻿@using umbraco.MacroEngines
@using umbraco.presentation.nodeFactory
@using Wulvern.Infrastructure.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@Html.Partial("Counter")
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
@Html.Partial("Head")
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div class="socialSideBar"> <img src="~/images/social/facebook.png" width="43" height="52" alt="Facebook"/> <img src="~/images/social/youtube.png" width="43" height="52" alt="Youtube"/> <img src="~/images/social/twitter.png" width="43" height="51" alt="Twitter"/> <img src="~/images/social/googleplus.png" width="43" height="52" alt="GooglePlus"/> </div>

<!-- HEADER -->
<div class="headWrapper">
  @Html.Partial("HeadWrapper")
  <!-- NAVIGATION -->
  <nav class="wBlueBg shadow clearfix">
    @Html.Partial("DesktopNavigation")
  </nav>
  
  <!-- END NAVIGATION --> 
</div>

<!-- BEADCRUMB TRAIL -->
<div class="wraper">
  <div class="breadcrumb">
      @Html.Partial("Breadcrumbs")
  </div>
</div>
<!-- END BEADCRUMB TRAIL -->

<div class="wraper clearfix"> 
  
  <!-- SIDE NAVIGATION -->
  
  <div  class="sideNav">
    @Html.Partial("SideNavigation")
    
    <!-- SIDE NAV BUTTONS --> 
    @Html.Partial("SideNavButtons")
    <!-- END SIDE NAV BUTTONS --> 
    
  </div>
  
  <!-- END SIDE NAVIGATION --> 
  
  <!-- CONTENT AREA -->
  <div class="contentArea">
    <h1>Your money</h1>
<p>This section of our website will help you to make the most of your money and understand any benefits that you may be entitled to.</p>
<p>There are many organisations that provide free money advice, so check out what help is available and how you can access it.</p>
<p>Don't forget Wulvern's MoneyWise Team can help - if you would like to speak to the team call <strong>01270 503575</strong> or email <a href="matilto:moneywise@wulvernhousing.org.uk">moneywise@wulvernhousing.org.uk</a></p>
<h3>Request a visit from the MoneyWise Team</h3>
<div class="formContainer clearfix">
<div class="col"><label for="firstname">First name*</label> <input type="text" name="firstname" id="firstname" /> <label for="email">Surname*</label> <input type="text" name="surname" id="surname" />
<p>* Required information</p>
</div>
<div class="col"><label for="email">Email address*</label> <input type="text" name="email" id="email" /> <label for="email">Contact phone number*</label> <input type="text" name="phone" id="phone" />
<p><input type="submit" name="submit2" id="submit2" value="Send ›" class="sendButton pullRight" /></p>
</div>
</div>
<h3>Watch our short film and see how if the latest changes to the welfare \0x03benefits system will affect you?</h3>
<div class="videowrapper"><iframe src="http://www.youtube.com/embed/oOV_Ahhr8zA?rel=0" frameborder="0" allowfullscreen=""></iframe></div>
<div class="buttonText">
<p>Universal Credit</p>
</div>
<p></p>
<div class="buttonText">
<p>Bedroom tax</p>
</div>
<p></p>
<div class="buttonText">
<p>Benefits cap</p>
</div>
<p></p>
<div class="buttonText">
<p>Welfare \0x03benefits<br /> explained</p>
</div>
<p></p>
<div class="buttonText">
<p>Bank<br /> accounts</p>
</div>
<p></p>
<div class="buttonText">
<p>Dealing \0x03with debt</p>
</div>
<p></p>
<div class="buttonText">
<p>Making a<br /> budget</p>
</div>
<p></p>
<div class="buttonText">
<p>Managing<br /> your bills</p>
</div>
<p></p>
<div class="buttonText">
<p>Finding<br /> work</p>
</div>
<p></p>
<div class="buttonText">
<p>People who<br /> can help</p>
</div>
<p>\0x200B</p>
  </div>
  
  <!-- END CONTENT AREA --> 
</div>

<!-- COMMON BUTTONS -->

@Html.Partial("BottomQuicklinks", Model.Content)

<!-- END COMMON BUTTONS -->

<div class="wraper">
  <div class="socialFooterBar"><a href="https://www.facebook.com/WulvernHousing?ref=stream" target="_blank"><img src="/images/social/facebook_bottom.png" width="51" height="43" alt="Facebook"/></a> <a href="https://www.youtube.com/user/Wulvern" target="_blank"><img src="/images/social/youtube_bottom.png" width="50" height="43" alt="Youtube"/></a> <a href="https://twitter.com/intent/user?screen_name=Wulvern" target="_blank"><img src="/images/social/twitter_bottom.png" width="50" height="43" alt="Twitter"/></a> <a href="https://plus.google.com/111898600279461860850/posts" target="_blank"><img src="/images/social/googleplus_bottom.png" width="51" height="43" alt="GooglePlus"/></a> </div>
</div>
<!-- FOOTER -->
@Html.Partial("Footer")
<!-- END FOOTER --> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
<script>window.jQuery || document.write('<script src="~/js/vendor/jquery-1.11.0.min.js"><\/script>')</script> 
<script src="~/js/vendor/jquery.dlmenu.js"></script> 
<script>
	$(function() {
		$( '#dl-menu' ).dlmenu();
	});
</script> 
<script src="~/js/vendor/jquery.infieldlabel.min.js"></script> 
<script src="~/js/vendor/jquery.cycle2.min.js"></script> 
<script src="~/js/vendor/jquery.cycle2.swipe.min.js"></script> 
<script src="js/main.js"></script>
</body>
</html>
